[2020-06-16 00:33] gregtbooth commented on #213
Here are the TSS enrichment score plots (all cells).
Default:
<img width="349" alt="Screen Shot 2020-06-15 at 5 07 09 PM" src="https://user-images.githubusercontent.com/12872842/84717506-d7aabe80-af2a-11ea-8534-20262f6c9076.png">

isMinusStrand = NA:
<img width="363" alt="Screen Shot 2020-06-15 at 5 07 50 PM" src="https://user-images.githubusercontent.com/12872842/84717525-e5604400-af2a-11ea-9ba1-

[2020-06-16 00:36] jgranja24 commented on #213
Hi Greg,

This indicates you have ~106M read pairs and thus the above is correct with isMinusStrand = FALSE yielding 103M fragments. Im pretty positive here that the setup in ArchR is correct from this.

Hope that helps,

Jeff

[2020-06-16 01:07] tzhu-bio commented on #203
Now I avoided this problem with another BSgenome, but now I'm creating the Arrow file with this error.

`ArchR logging to : ArchRLogs/ArchR-createArrows-1e6026223e93b-Date-2020-06-16_Time-08-58-16.log
If there is an issue, please report to github with logFile!

Cleaning Temporary Files

2020-06-16 08:58:16 : Batch Execution w/ safelapply!, 0 mins elapsed.

(pollen1 : 1 of 1) Determining Arrow Meth

[2020-06-16 01:44] gregtbooth commented on #213
Yeah that does seem consistent.  Thanks for working through it with me.

- Greg

[2020-06-16 01:44] #213 closed

[2020-06-16 03:08] CSBioAzim commented on #195
@rcorces @jgranja24 Is there any update on this issue?
The function simply doesn't work.

Thank you!

[2020-06-16 07:17] lsundaram commented on #195
cD[colOrder,,drop=FALSE] could be  the problem step.
DataFrame with 500 rows and 1 column
                      groupBy
                  <character>
K1    Endocaridum_unidentifed
K2     Vasculatur_development
K3                Endocaridum

The kmeans has K1 K2 and so on rownames , the colOrder has K_1, K_2 and so on

[2020-06-16 17:52] jgranja24 commented on #195
I see the problem I think its now fixed in the dev branch. Thanks for the help!

[2020-06-16 18:03] jgranja24 commented on #174
It looks like Seurat had this issue [https://github.com/satijalab/seurat/issues/2726](https://github.com/satijalab/seurat/issues/2726) resolved in there current devbranch. Can you confirm if this is still an issue with their version

[code]

[2020-06-16 18:08] jgranja24 commented on #193
Did you say that this did work for threads = 1? Parallelism is tricky because if your memory gets overwhelmed (can sometimes be spurious) it will result in an error. When running threads = 1, lapply is used vs mclapply which is much more stable.

[2020-06-16 22:50] mjprzybilla commented on #174
Thanks for looking into it Jeff! This solves the issue in my case - many thanks!

[2020-06-17 00:54] hypercompetent opened #214 "Add Jeff Vierstra's Non-redundant TF motifs?"
**Describe the problem that your feature request would address.**
Jeff Vierstra has generated a nice resource for clustered motif models and motif "Archetypes" here: https://www.vierstra.org/resources/motif_clustering

It would be great to be able to use these motif archetypes for motif enrichment analyses to avoid getting many hits for nearly-identical motifs in motif databases.

**Describe the s

[2020-06-17 12:55] rcorces commented on #214
I agree that this would be useful. Lets see what @jgranja24 says.

[2020-06-17 13:34] Sophiesze commented on #212
Hi @jgranja24,
I also meet the same issue when I try to use `subsetArchRProject()`.

<img width="1179" alt="截屏2020-06-17 下午9 32 30" src="https://user-images.githubusercontent.com/53801318/84904732-3ebea380-b0e2-11ea-908a-b2d351bb3935.png">
<img width="534" alt="截屏2020-06-17 下午9 33 22" src="https://user-images.githubusercontent.com/53801318/84904740-4120fd80-b0e2-11ea-97cb-29e16b415917.png">

[2020-06-17 21:11] rojinsafavi opened #215 "co-accessibility for each cluster"
Hello,

I was wondering if there is a way to look at the co-accessibility for each cluster independently? for example
in the following image, I would like to have an independent blue panel for each cluster
![image](https://user-images.githubusercontent.com/19545198/84950801-4c553880-b0a4-11ea-9a64-29c16ad845ea.png)

[2020-06-18 01:30] #203 closed

[2020-06-18 02:15] beccasimmons opened #216 "getGroupBW not normalized"
I have been successful in getting bigwigs using the getGroupBW function, however when I visualise the bigwigs in a browser they do not seem to be normalised. I can see counts so it made met think normalisation has not been applied. The documentation using ?getGroupBW says the default normMethod is "ReadsInTSS" which normalises based on sequencing depth and data quality. Would it be possible to get

[2020-06-18 03:15] Brawni commented on #174
Yes this now works thanks!

[2020-06-18 03:16] #174 closed

[2020-06-18 13:31] rcorces commented on #215
Thanks @rojinsafavi - this is related to #149 feel free to read the discussion there and if you think it is sufficiently related then you can cross-post there and close this issue

[2020-06-19 01:53] xuzongren opened #217 "Error in as.POSIXct.numeric(e)"
hi!
    When i run filterDoublets(ArchRProj = proj1),I got an error "Error in as.POSIXct.numeric(e) : 'origin' must be supplied".
    And i don't konw how to solve the problem.There is nothing wrong with the previous steps.
    I want to know how to deal with this problem, continue to analyze the data (My data comes from 10x)
Thanks!

[2020-06-19 04:34] rojinsafavi commented on #149
Hi @jgranja24 , I was wondering if this feature is added now? I would like to have a separate blue panel for each cluster, so that I can see how the co-acce is changing in different clusters. I mentioned it here:
https://github.com/GreenleafLab/ArchR/issues/215

[2020-06-19 10:33] fderop commented on #198
Hi, I reinstalled everything freshly, and it works now, so I can't reproduce the problem anymore.

[2020-06-19 14:44] rcorces commented on #217
Can you reproduce this error using the tutorial dataset?

[2020-06-19 18:05] HYsxe opened #218 "Error during doublet scoring"
Hi! I was running the tutorial code on tutorial data but couldn't get past doublet scoring. I keep seeing this error. Could you help have a look? Thanks!

[code]

**This is the log file**
[ArchR-addDoubletScores-acf5bf6df8c-Date-2020-06-19_Time-13-50-48.log](https://github.com/GreenleafLab/ArchR/files/4806079/ArchR-addDoubletScores-acf5bf6df8c-Date-2020-06-19_Time-13-50-48.log)

**To Reproduce**
T

[2020-06-20 16:24] butnaro opened #219 "simpleError: No fragments found!"
I had used the ArchR package on the same file straight out of 10X cellRanger, and it worked perfectly.
After is had used the same fragment files for with snaptools pre-snap
I had gzip the fragment.tsv file back afterwards and all left at the same folders.

when running the

input.file.list = "fragments.tsv.gz"
sample.name.ls = "Donor1_UT"

ArrowFiles <- createArrowFiles(
  inputFiles = input.file.

[2020-06-21 14:22] badoi opened #220 "add geneIntegrationMatrix from same-cell expression-chromatin assays"
I have SNARE-Seq2 data with matrix of gene x nuclei expression matrix of same cells being processed through ArchR. I would like to directly add the expression matrix to the open chromatin data. Currently, addGeneIntegrationMatrix() assumes the datasets are unlinked (probably b/c same cell assays are so rare).

Would it be possible to have an adder function for generic matrix to add the expression

[2020-06-22 01:21] xuzongren commented on #217
When i use tutorial dataset,this error does not occur.
Is there something wrong with my data? (but my data comes from 10X cellranger-atac,I didn't do anything else to fragments.tsv.gz file.)
How can I deal with this error?

[2020-06-22 05:21] Meggie-MH commented on #217
Run into the same error here. Hope to see update on the issue.

[2020-06-22 13:25] rcorces commented on #217
We will need more information in order to help since we cannot reproduce this error. If you can create a minimal example, including input files, that would be helpful.

[2020-06-22 16:04] ParthaZain opened #221 "Add gChromvar for GWAS researchers?"
Hi all, thank you for an amazing, easy to use and well-documented package that allows relative bioinformatics newbies to start doing quite sophisticated analyses.

We are a GWAS lab and would be interested in looking at cell type enrichment for our association signals. We routinely do this with bulk ATAC-Seq datasets but would be interested in reproducing the kind of analysis in figure 6 of this p

[2020-06-23 01:00] xuzongren commented on #217
The R^2 values of my samples all < 0.9, that mean I can skip this step(filterDoublets)?

[2020-06-23 01:33] rcorces commented on #217
No, that is not the correct interpretation. see https://github.com/GreenleafLab/ArchR/issues/173#issuecomment-634278512 for an explanation

[2020-06-23 02:11] xuzongren commented on #217
Thanks. I've read the question( #173 (comment)).
And how can I create a minimal example so that you can better solve this problem?

[2020-06-23 03:05] rcorces commented on #217
Ideally, take a random 50,000 lines (or the first 50,000 if you prefer) of your fragment file and see if you get the same error. If so, provide us with the small fragment file and the code you used that resulted in the error.

[2020-06-23 07:06] jgranja24 commented on #216
Hi @beccasimmons,

Sorry for the delay. I found a bug that made it not normalize the bigwigs properly.
Im double checking its functional but the dev branch has the fix.

Best

Jeff

[2020-06-23 07:08] jgranja24 commented on #212
Sorry for the delay Im still looking into this

[2020-06-23 07:09] #137 closed

[2020-06-23 07:09] #195 closed

[2020-06-23 07:10] jgranja24 commented on #179
Any updates on this?

[2020-06-23 07:11] jgranja24 commented on #214
I can add an option for custom pwms as input.

Best

jeff

[2020-06-23 07:12] jgranja24 commented on #218
Ok im looking into this, can you try with 1 thread and see if the issue is still present.

[2020-06-23 07:13] jgranja24 commented on #220
This is something we want to add in the near future with a function like
`addGeneExpressionMatrix` but have not had the time yet to do so. I will
update here when its implemented.

Hope that helps

Jeff

[2020-06-23 07:14] jgranja24 commented on #219
Can you try `reformatFragmentFiles` to reformat it could be that thye are not propery bgzipped. Additionally can you share the first few lines of your fragment file?

[2020-06-23 07:16] jgranja24 commented on #217
When does this happen? Towards the end or beginning? Is there a logfile you can share?

[2020-06-23 07:18] jgranja24 commented on #151
Im confused on these comments to what they are directing to. Can you open a new issue with the specific bugs still occuring? Im closing this issue because the original problem is resolved i believe.

[2020-06-23 07:18] #151 closed

[2020-06-23 07:20] jgranja24 commented on #194
This is updated in the dev branch. Closing this issue.

[2020-06-23 07:20] #194 closed

[2020-06-23 07:23] jgranja24 commented on #149
This feature is available in the dev branch as described. The option you are looking for is   `cellsToUse` which will run on a subset of cells. Then you can get the coaccessibility values from this run and do a different cluster etc. Then compare the results at the end.

Hope that helps,

Jeff

[2020-06-23 08:31] xuzongren commented on #217
@jgranja24 ,This step does not generate any logfiles.
it show me this:
![error](https://user-images.githubusercontent.com/41030907/85379941-e9194980-b56e-11ea-9726-e9ed80da3cbf.png)

[2020-06-23 11:18] concatenize commented on #151
Sorry, I had two threads going and got mixed up. I am fuzzy on the details now but I think you're right.

[2020-06-23 12:20] badoi commented on #220
Hi Jeff, yes that sounds like an excellent idea. I'll test it out on my end when you've added it to the dev branch.

[2020-06-23 13:33] Brawni commented on #149
Hi Jeff! That's awesome thanks!

[2020-06-23 17:37] butnaro commented on #219
Will try the reformatFragmentFiles() ASAP.
first 10 lines of a fragment file

ofer@functionalgenomics:/data/projects/Ahituv_OYB_scATAC_16_donors/DONE/Donor2/outs$ zcat fragments.tsv.gz | head -n 10
chr1    9977    10079   ACTTTCAGTAAGTCTC-1      1
chr1    10011   10351   TAGCGGCTCGCACCGA-1      1
chr1    10013   10143   AATGCCATCCCAGCAG-1      2
chr1    10013   10437   TGCATGACATCCCTCA-1      1
ch

[2020-06-24 03:13] xuzongren opened #222 "a little confused about plotTSSEnrichment()"
hi,
When i run tutorial examples, "plotTSSEnrichment(ArchRProj = proj1)",I got a diagram that doesn't match the tutorial---Only one sample has a peak,the other samples are almost all flat:
![error](https://user-images.githubusercontent.com/41030907/85494315-fe43b600-b60a-11ea-9705-926f076f7acd.png)
And this the logfile:
[ArchR-plotTSSEnrichment-59342b235e11-Date-2020-06-24_Time-10-57-32.log](https

[2020-06-24 03:34] xuzongren commented on #217
@rcorces ,I'm sorry for what I said earlier(I guess I forgot to run the tutorial dataset)
Today,I run tutorial dataset, the same error occurred……emmmm,do you have any suggestions?
Thanks!

[2020-06-24 04:05] rcorces commented on #222
I think there is a fundamental problem with your ArchR installation. I see that you are running on Windows which is almost certainly the problem. This is also probably causing your other issue (https://github.com/GreenleafLab/ArchR/issues/217). We have not tested ArchR at all on Windows and are not currently supporting bug fixes related to Windows. We didnt realize this previously because you didn

[2020-06-24 04:05] #222 closed

[2020-06-24 04:13] rcorces commented on #217
@Meggie-MH are you also running on Windows? We arent currently supporting windows and I should make that more clear on the home page.

@jgranja24 - I think this is a problem related to date format conversion on Windows from Sys.time(). https://rdrr.io/r/base/Sys.time.html
https://github.com/GreenleafLab/ArchR/blob/efc743c6982a142f1aa33b7d2becc09a3e946d47/R/FilterCells.R#L101

[2020-06-24 05:10] Meggie-MH commented on #217
@rcorces No, I was running on Mac. I also tried the tutorial dataset and ran into the same error  from filterDoublets. The only thing I did different from the tutorial was creating arrow files by inputting individual fragments.tsv.gz and then combined all the arrow files into one character vector before running the following the steps. For some reasons, it takes infinite time to createarrowfiles d

[2020-06-24 05:23] xuzongren commented on #222
@rcorces ,OK,I know what to do,thank you very much for your help.

[2020-06-24 14:57] rcorces commented on #217
Ok - thats not what I was expecting. The tutorial code should run as expected on MacOS. Are you using RStudio? I think when you say that it takes "infinite time" this is probably because RStudio fails to produce output during certain parallelized steps (but processing is still happening and you should see temp files being produced in the correct output directory). Try running the tutorial code as

[2020-06-24 16:00] butnaro commented on #219
I had re run the cellranger-atac count and attempted to run the createArrowFiles() on the "fresh" fragment files + i re installed all ArchR packages.
See attached log:
[ArchR-createArrows-5ecf75560db9-Date-2020-06-24_Time-08-49-31.log](https://github.com/GreenleafLab/ArchR/files/4826557/ArchR-createArrows-5ecf75560db9-Date-2020-06-24_Time-08-49-31.log)

[2020-06-24 16:14] butnaro commented on #219
Running the reformatFragmentFiles() function on a snaptools handled file yielded  a fragment-Reformat.tsv.gz.
The same issue resulted.
Also, see attached log
Thanks for your help
[ArchR-createArrows-5ecf5843c758-Date-2020-06-24_Time-09-04-03.log](https://github.com/GreenleafLab/ArchR/files/4826636/ArchR-createArrows-5ecf5843c758-Date-2020-06-24_Time-09-04-03.log)

[2020-06-24 16:33] jgranja24 commented on #219
I see the issue Im looking into it. It has to do with a matching issue that is a generics problem i think.

[2020-06-24 16:38] jgranja24 commented on #219
Does the following show an output if you type it into your R console

`XVector::match`

[2020-06-24 18:41] Meggie-MH commented on #217
@rcorces Yes, running tutorial code line by line through RStudio. What I meant by "infinite" is ~2h so I have to manually stop the step. All temp files, log files can be found under the assigned directory without interruption. It's just those sample arrow files were never been completed within the given time. As if it's helpful to provide more details, I ended up with creating individual sample.ar

[2020-06-24 18:53] rcorces commented on #217
Hmmm. ok. I think there are two separate issues going on.
1) problems creating arrow files - likely related to using parallelization. I would try running the tutorial code with threads = 1 to see if you still get locked in the "infinite" wait.
2) a specific error in `filterDoublets()` related to the title of this issue. I originally thought the POSIXct error would be a windows-specific problem but

[2020-06-24 19:15] rcorces commented on #217
@Meggie-MH can you show me the output of this:
[code]

[2020-06-24 19:29] Meggie-MH commented on #217
@rcorces Here you go...same error....

Error in as.POSIXct.numeric(e) : 'origin' must be supplied

Formal class 'SimpleList' [package "S4Vectors"] with 4 slots
  ..@ listData       :List of 1
  .. ..$ :Formal class 'standardGeneric' [package "methods"] with 8 slots
  .. .. .. ..@ .Data     :function (object, ...)
  .. .. .. ..@ generic   : chr "summary"
  .. .. .. .. ..- attr(*, "package")= chr "b

[2020-06-24 19:41] rcorces commented on #217
Thanks @Meggie-MH - thats very helpful. If you dont mind digging a little bit more on this with me, what is the output of the following things:
1. `Sys.time()`
2. `as.Date(Sys.time())`
3. `as.Date(Sys.time(), origin = "1970-01-01")`
4. `sessionInfo()`

[2020-06-24 21:09] koenvandenberge opened #223 "No heatmap drawn if only one contrast."
Whenever only a single contrast is assessed using `getMarkerFeatures` (e.g. treatment vs control), then there will be no heatmap drawn.
The same code works if a variable is selected that has more than 2 levels.
I am working with `ArchR_0.9.5`.

[code]

[2020-06-24 21:56] butnaro commented on #219
Yes. same output

[2020-06-24 23:30] Meggie-MH commented on #217
@rcorces Of course not.

[1] "2020-06-24 19:25:36 EDT"

[1] "2020-06-24"

[1] "2020-06-24"

R version 4.0.1 (2020-06-06)
Platform: x86_64-apple-darwin17.0 (64-bit)
Running under: macOS Catalina 10.15.3

Matrix products: default
BLAS:   /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/4.0

[2020-06-24 23:37] jgranja24 commented on #217
Hi @Meggie-MH can you try running this filterDoublets function where we just remove the line causing the issue

filterDoublets <- function(ArchRProj = NULL, cutEnrich = 1, cutScore = -Inf, filterRatio = 1){

  fn <- unclass(lsf.str(envir = asNamespace("ArchR"), all = TRUE))
    for (i in seq_along(fn)) {
        tryCatch({
            eval(parse(text = paste0(fn[i], "<-ArchR:::", fn[i])))

[2020-06-24 23:49] rcorces commented on #217
My assumption is that there is something different about how R 4.0 handles POSIX dates but I dont have a strong rationale for why this would be. We havent tested ArchR on R 4.0 yet and have seen a few other issues crop up related to R 4.0. Could be worth your while to downgrade to R 3.6 but we should work towards addressing R 4.0 issues since more and more people will be upgrading soon.

In additi

[2020-06-25 17:51] Meggie-MH commented on #217
@rcorces Woohoo, rewrite the function works! Thanks a lot :)

- Back to your previous question, it does't avoid the error when running > summary <- c("Date" = as.Date(Sys.time(), origin = "1970-01-01"), test1 = 1, test2 = "two")

[2020-06-25 21:06] huidongchen commented on #217
First of all, thanks for creating such an amazing tool! I have been such a huge fan.

Unfortunately I'm running into the same problem. The same error happens when filtering doublets. (I m running it on Linux)

`proj <- filterDoublets(ArchRProj = proj,cutEnrich=5)`

Error info
[code]

[2020-06-25 22:40] rcorces commented on #217
@Meggie-MH - thanks for checking. We will update the dev branch with the fix from @jgranja24

@huidongchen - can you confirm which version of R you are using? Presumably >4.0?

[2020-06-25 22:44] huidongchen commented on #217
Thanks for your quick reply! Yes, I'm using R 4.0.1

[2020-06-26 16:52] rstaupe commented on #177
I wanted to leave some updates of things that I've tried to troubleshoot what's going on with no success.

1) I noticed that the samples that failed tended to group by a batch variable in the initial cellranger-atac mkfastq. I reran cellranger-atac mkfastq and cellranger-atac count to regenerate the fragment files. I then reran create ArrowFiles on all my newly re-ran samples and the same samples

[2020-06-26 19:21] NoemieL commented on #174
Hi, for me the problem is still there..... with 1 or 2 threads but only for the constrained integration.

[ArchR-addGeneIntegrationMatrix-292746fc293-Date-2020-06-26_Time-11-05-30.log](https://github.com/GreenleafLab/ArchR/files/4838867/ArchR-addGeneIntegrationMatrix-292746fc293-Date-2020-06-26_Time-11-05-30.log)
[ArchR-addGeneIntegrationMatrix-292756c2df99-Date-2020-06-26_Time-13-18-05.log](https

[2020-06-27 18:50] BCYasser opened #225 "subsetting is incomplete"
Hi

I am having a lot of trouble analyzing subsets of the ArchRproject object.

I have noticed that the embeddings aren't subsetted which causes a problem during plotting (the plotting returns an Error related to the fact that the number of embedding available isn't matching the number of cells).

which requires eigher to subset the embedding (I used grepl) or recomputing the  UMAP embedding (whic

[2020-06-28 02:02] yding9 opened #226 "Error when creating Arrow file"
Hi,

I was not able to generate the Arrow file with my own data. I am attaching the log file here. Any suggestion is highly appreciated!

[ArchR-createArrows-653f94c154cc9-Date-2020-06-27_Time-18-56-30.log](https://github.com/GreenleafLab/ArchR/files/4841550/ArchR-createArrows-653f94c154cc9-Date-2020-06-27_Time-18-56-30.log)

[2020-06-28 02:41] rcorces commented on #226
It looks like your fragment file is not in the expected format. you can try the `reformatFragmentFiles()` function. If that doesnt work, then you can paste the first lines of your fragment file here.

[2020-06-28 03:37] juliabelk commented on #212
@jgranja24 I am also running into this error

[2020-06-28 04:15] juliabelk commented on #212
FYI here is a workaround that solved this for me:

subsetArchRProject(...,dropCells=FALSE)

[2020-06-28 07:36] xuzongren commented on #217
@jgranja24 ,Thanks for your help!
@rcorces ,And I've run this function successfully,Using the function @jgranja24 wrote.
Thanks again for all your help! (I also use R 4.0.1)

[2020-06-29 01:44] rojinsafavi opened #227 "get the peaks"
Hello,
I was wondering if there us a way to get the peak names used for this heatmap?

<img width="480" alt="Screen Shot 2020-06-28 at 6 44 10 PM" src="https://user-images.githubusercontent.com/19545198/85964691-61b54700-b96f-11ea-871c-9a808a6da17f.png">

[2020-06-29 01:49] #227 closed

[2020-06-29 19:27] KyleFerchen opened #228 "Individual (single cell) pofile of genome accessibility with browser tracks"
Many papers show heatmaps with rows for individaul cells and the number of reads at a given genomic loci for accessibility in ATAC-Seq.

Can an option be provided in plotting tracks of the aggregate atac-seq peaks to also plot a heatmap of the individual cells?

[2020-06-29 20:06] rojinsafavi opened #229 "plotBrowserTrack"
Is there a way to extend the upstream and downstream for a peak position in plotBrowserTrack? it seems that the current plotBrowserTrack ignores the upstream and downstream when a region is specified.

[2020-06-29 20:23] Puriney opened #230 "What are nMonoFrags, nMultiFrags, nDiFrags, and nFrags"
Hello ArchR team,
I was wondering what does the nMonoFrags, nMultiFrags, nDiFrags, and nFrags mean? For example, does nMonoFrags means the number of fragments falling into mononucleosome region which is determined by the fragment length (~200bp)?

<img width="652" alt="Screen Shot 2020-06-29 at 3 18 52 PM" src="https://user-images.githubusercontent.com/1233372/86051860-b7dfc400-ba1b-11ea-9af3-2b61

[2020-06-30 04:36] rcorces commented on #228
Thanks for this suggestion. This is on our list of features to add. We are prioritizing getting things stable for now so I wouldnt expect this update for a bit but we are working on it.

[2020-06-30 14:05] huidongchen opened #231 "support 10x peak-by-cell matrix for input file"
Is there a way in ArchR to take as input 10x filtered peak by cell matrix?

[2020-06-30 15:37] rcorces commented on #231
This is not currently supported. We dont recommend using this because those peak calls are not cell type-specific (they are called on the merged pseudobulk).

[2020-06-30 15:37] #231 closed

[2020-06-30 15:50] huidongchen commented on #231
Or more generally speaking, given a features-by-cells matrix (the features can be either tiles (bins) or a pre-defined set of cell type-specific peaks, is there any plan to support it in the future? I think it will be very useful and make the whole ArchR analysis more flexible.

[2020-06-30 15:59] rcorces commented on #231
The way you've described this, it doesn't really fit within the ArchR workflow. ArchRProjects are a lot more than a cell by peak matrix and almost all downstream ArchR functions leverage Arrow files and project metadata. So if you only input a cells x peak matrix, ArchR wont be able to do any downstream computing.

The correct way to do what you would like to do is to perform the standard ArchR wo

[2020-06-30 16:02] huidongchen commented on #231
Thanks for the explanation! This is really helpful!

[2020-06-30 17:54] yding9 commented on #226
Thank you so much for your help! The reformatFragmentFiles( ) function solved the issue.

[2020-06-30 19:06] #226 closed

[2020-06-30 19:21] juliabelk commented on #202
Hmm I think I'm also running into this -

[code]

I get the below error if I pass anything to `reducedDims` other than `IterativeLSI`

If there is an issue, please report to github with logFile!
2020-06-30 11:29:23 : Running Seurat's Integration Stuart* et al 2019, 0.011 mins elapsed.
2020-06-30 11:29:24 : Checking ATAC Input, 0.02 mins elapsed.
2020-06-30 11:29:24 : Checking RNA Input, 0.021 mins

[2020-06-30 20:18] jgranja24 commented on #229
I guess the initial intention of this function was for the gene regions. You can extend them in the region argument with `extendGR`
[code]

[2020-06-30 20:20] jgranja24 commented on #230
nMono = number of fragments less than 147 bp
nDi = number of fragments between 147 bp and 294 bp
nMulti = number of fragments greater than 294 bp

related to the `nucLength = 147` argument in `createArrow`

[2020-06-30 20:28] #230 closed

[2020-07-02 03:18] Brawni opened #232 "plotBrowserTrack generates strange tracks if granges is specified"
Hello!

When I run plotBrowserTrack specifying a gRanges object with the region argument it draws strange coverage plots. Here attached example:
[Top10_DAG-C12-with-CoAccessibility.pdf](https://github.com/GreenleafLab/ArchR/files/4861790/Top10_DAG-C12-with-CoAccessibility.pdf)

if I specify the geneSymbol instead the trackplot is correctly printed.
The granges object comes from my differentially a

[2020-07-02 13:14] HYsxe commented on #218
Thanks for your response! Running the code on 1 thread indeed solved my problem! So I suppose this is a parallelization problem? Is there a way for me to successfully run on multiple cores? Thank you!

[2020-07-02 21:22] Brawni commented on #232
Sorry, this has already been pointed out here:
  #229

[2020-07-03 00:16] #232 closed

[2020-07-03 08:42] JohnGenome opened #233 "How can i get & export GeneScoreMatrix or GeneIntegrationMatrix for later use? I cannot get the matrix in a explicit way."
Hi, GeneScoreMatrix can be created by createArrowFiles function, and GeneIntegrationMatrix can be created by addGeneIntegrationMatrix funtion. The problem is that I know the matrix exists and the plots work well, but I cannot get the matrix in a explicit way. I wonder if there is a fuction that I can get & export GeneScoreMatrix or GeneIntegrationMatrix for later use.

[2020-07-03 08:45] JohnGenome commented on #233
Sincerely looking forward to your feedback, which will help me a lot, 3Q!!

[2020-07-03 15:40] rcorces commented on #233
I believe you are looking for the `getMatrixFromProject()` function:
https://www.archrproject.com/reference/getMatrixFromProject.html

re-open if necessary

[2020-07-03 15:40] #233 closed

[2020-07-03 17:00] Meggie-MH commented on #139
Have trouble to run getMarkerFeatures:
[ArchR-getMarkerFeatures-8ee66a493518-Date-2020-07-03_Time-12-51-49.log](https://github.com/GreenleafLab/ArchR/files/4870726/ArchR-getMarkerFeatures-8ee66a493518-Date-2020-07-03_Time-12-51-49.log)
ArchR logging to : ArchRLogs/ArchR-getMarkerFeatures-8ee66a493518-Date-2020-07-03_Time-12-51-49.log
If there is an issue, please report to github with logFile!
2020

[2020-07-04 13:38] rcorces commented on #139
@Meggie-MH  First - your issue appears unrelated to this open issue. Please create a separate issue unless you have reason to believe it is directly related.

Additionally, please read through your logfile before reporting errors. While I cant be 100% sure that this is the only problem, your log file repeatedly shows errors for not having a specific package installed. This raises other red flags t

[2020-07-04 20:31] #229 closed

[2020-07-04 23:33] rojinsafavi commented on #149
Hi @jgranja24. I installed ArchR as follow:
devtools::install_github("GreenleafLab/ArchR", ref="dev_053120", repos = BiocManager::repositories())
and it was installed successfully. May I ask where should I use cellsToUse? in the addCoAccessibility? Since I'm not able to find this option

Thank you!

[2020-07-06 05:35] rojinsafavi opened #234 "co-accessibility"
Hello,

I posted a similar question before, but since I am getting an unexpected result I am opening a new issue.
I would like to find the co-accessibility for each cluster independently. To do so, I basically subsetted my ArchR object into 2 clusters, then for each one of them I added the co-accessibility, and finally visualized it at the browser. I noticed that the result is dramatically differe

[2020-07-06 05:56] kyliao opened #235 "Error during doublet scoring"

[2020-07-06 10:41] annrosebright opened #236 "Extracting cluster data (bam/biqwig) for Genome browser Visualisation."
I want to look into certain genomic regions (enhancers) and also compare the scATACseq data with other datasets (chIP seq, RNAseq, and methylation).  For this, it would be great if I could download this information used by the ArchRBrowser and upload it in other external genome browser software( UCSC Genome Browser or IGV browser )

Is there any possibility to do that? Cluster specific bam or bigw

[2020-07-06 13:16] wangmhan opened #237 "addGeneIntegrationMatrix error when "Getting GeneScoreMatrix""
Hi,

when I run addGeneIntegrationMatrix, it end up with error: Error in `rownames<-`(`*tmp*`, value = value[[1L]]) :
  invalid rownames length
[ArchR-addGeneIntegrationMatrix-6b1d1cc3a7a1-Date-2020-07-06_Time-15-06-38.log](https://github.com/GreenleafLab/ArchR/files/4879117/ArchR-addGeneIntegrationMatrix-6b1d1cc3a7a1-Date-2020-07-06_Time-15-06-38.log)

packageVersion("ArchR")
[1] '0.9.5'
packageV

[2020-07-06 14:39] rcorces commented on #236
Thanks for using ArchR! This is a duplicate of https://github.com/GreenleafLab/ArchR/issues/54
See that post for the solution.

[2020-07-06 14:39] #236 closed

[2020-07-06 14:50] rcorces commented on #234
I am still struggling with this idea because I dont think that the method of co-accessibility addresses the biological question that you are interested in.

Co-accessibility requires variation - we are measuring the correlation between accessibility at one locus with accessibility at another locus. So, across many different types of cells, you will have variable accessibility, particularly at cell

[2020-07-06 14:53] rcorces commented on #149
@rojinsafavi - correct. This is an argument to `addCoAccessibility()`. You can see this parameter, and the parameter definition in the code on the dev branch here - https://github.com/GreenleafLab/ArchR/blob/c6e4e650d8fc4c43ba9d3e0e3baf9327f85517c0/R/IntegrativeAnalysis.R#L686

This parameter will eventually get incorporated into the function documentation once released to master.

[2020-07-06 20:04] rstaupe commented on #177
I was finally able to successfully generate the .arrow files from my samples. Unfortunately, the solution was to re-align the samples using cellranger-atac to an older genome release. Now, all my samples are completing createArrowFiles() successfully. Not sure what the exact issue is between the genome releases. Thanks for your help! I'm going to close the issue.

[2020-07-06 20:04] #177 closed

[2020-07-07 00:46] sa95078 opened #238 "Errors in using getMarkerFeatures"
When using getMarkerFeatures, I am getting the following error message:
Error in cor(estbgdP, obsbgdP) : incompatible dimensions
In addition: Warning messages:
1: In rbind(estbgd, obsbgd) :
  number of columns of result is not a multiple of vector length (arg 1)
2: In rbind(estbgdP, obsbgdP) :
  number of columns of result is not a multiple of vector length (arg 1)

this the end of the log file:
2

[2020-07-07 08:08] kyliao commented on #235
![image](https://user-images.githubusercontent.com/38950455/86744234-0c162400-c06c-11ea-8504-ad8e6e15a42f.png)

[2020-07-07 08:11] kyliao commented on #235
I was running the tutorial code on tutorial data but couldn't get past doublet scoring,too.
![image](https://user-images.githubusercontent.com/38950455/86744554-47185780-c06c-11ea-9740-aa83e01b71f6.png)

**log file**
[ArchR-addDoubletScores-476052dbe24d-Date-2020-07-07_Time-16-04-29.log](https://github.com/GreenleafLab/ArchR/files/4883434/ArchR-addDoubletScores-476052dbe24d-Date-2020-07-07_Time-16

[2020-07-07 13:39] sa95078 commented on #238
I solved the problem by changing the cluster ID to characters from factors. Thanks,

[2020-07-07 13:39] #238 closed

[2020-07-07 20:41] NoemieL commented on #174
After reinstalling packages processx and Seurat, it is now working for me too

[2020-07-08 16:09] robelTes opened #239 "Error in peak calling with MACS2"
Hello,
I'm not sure is it's to you that I should address this issue or to MACS2 author. However I'll submit it here and see if anyone has come across a similar situation.
While trying to do a peak calling by religiously following your tutorial, I had this error report...

```projHOS4 = addReproduciblePeakSet(ArchRProj = projHOS3)```
Searching For MACS2..
Found with $path!
ArchR logging to : ArchRL

[2020-07-08 20:05] rcorces commented on #239
Can you confirm that the path to the python executable that you are expecting to use is /usr/local/lib/python2.7?
From your log it looks like you might have python installed in a different place using miniconda or similar. Currently, ArchR is auto-detecting your MACS2 install and I have a feeling it is using a python executable that you dont have proper permissions on or that doesnt have access to

[2020-07-08 20:31] shaka87 commented on #217
I can confirm this problem. The fixed function worked for me and I am happy to have found the information in this thread!

My system:

R version 4.0.2 (2020-06-22) -- "Taking Off Again"
Copyright (C) 2020 The R Foundation for Statistical Computing
Platform: x86_64-apple-darwin19.5.0 (64-bit)

[2020-07-08 21:05] rcorces commented on #217
@jgranja24 can you make the relevant update(s) in dev? This gets rid of the project summary so if anything downstream uses the summary that will also need to change

[2020-07-09 11:41] carlosf79 commented on #145
Hello, I had the same problem with my own dataset. However, the problem would only come up when using one grouping variable and not others. Seems that the error is triggered  by groupings where the number of nuclei is low: when setting useGroups to exclude the low count clusters then the command runs smoothly.
Is there a parameter to make sure that the command also works on low count groups?

Than

[2020-07-09 12:16] robelTes commented on #239
```Sys.which("python2.7")```
The python executable is at /usr/bin/python2.7.

/usr/local/lib/python2.7 is the directory containing the packages including the ones imported by MACS2.
I do have miniconda installed python packages (like numpy) somewhere else. It seems to me that when MACS2 is called via R some how it imports the packages from miniconda, but when called via terminal it imports from th

[2020-07-09 17:24] butnaro commented on #219
Running the reformatFragmentFiles() function on a snaptools handled file yielded a fragment-Reformat.tsv.gz.
And it worked.
So I will summarize:
1. Snaptools pre-snap changes the read files in a way that made them incompatible with ArchR
2. reformatFragmentFiles() reformat the fragment.tsv.gz to yield fragment-Reformat.tsv.gz.
3. remove the old fragment.tsv.gz from the outs/ folder (creates some c

[2020-07-09 19:40] rcorces commented on #219
Thanks for following up and for providing the fix that worked for you. Closing this now.

[2020-07-09 19:40] #219 closed

[2020-07-10 20:55] wulabupenn opened #240 "Error: Unable to read dataset for "addArchRAnnotations""
Hi ArchR team,

Thank you for developing this amazing R package. It is super useful! When I tried to run "addArchRAnnotations", the following error ocurrs:
`ArchR logging to : ArchRLogs/ArchR-addArchRAnnotations-d923efbc80c-Date-2020-07-10_Time-16-48-38.log
If there is an issue, please report to github with logFile!
Error: Unable to read dataset.
Not all required filters available.
Missing filters

[2020-07-13 03:59] haowenz opened #241 "How to get Seurat object after clustering?"
Hi,

I am new to R and ArchR. Could you tell me how to get the Seurat object after I run "addClusters()"?

Thanks,
Haowen

[2020-07-13 21:32] Brawni opened #243 "non-unique peak indexing in Peakset"
Hello!

I have noticed that the 'idx' column in the peakSet Granges object is not unique.
[code]

Is this a normal behavior?

Thanks!

[2020-07-13 23:09] rojinsafavi opened #244 "installation"
I am trying to install your latest version, and I followed what you have on the main page. But when I load the archer package, it seems to me that it is not the newest version. For example I cannot find cellToUse in the addCoAccessibility

Thank you!
Rojin

[2020-07-14 22:43] rcorces commented on #244
Related to https://github.com/GreenleafLab/ArchR/issues/149#issuecomment-654287012
We're behind on documentation (which is my fault) and it looks like we didnt re-build the function parameters before pushing to master so this parameter is available but it wont show up.

[2020-07-14 22:45] rojinsafavi commented on #244
thanks :-)

[2020-07-14 22:45] #244 closed

[2020-07-14 22:48] rcorces commented on #244
@jgranja24 - do you want to re-build the param documentation and push to `master`?

[2020-07-15 01:47] hisplan commented on #177
@rstaupe I'm having a similar issue at the `addTileMatrix` step. Which version of cellranger-atac are you using? And which genome release worked and not worked for you? Thanks!

[2020-07-15 12:34] rstaupe commented on #177
@hisplan I'm using cellranger-atac v1.1.0 for doing the alignment/counting. For the genomes, I'm working with samples from Rhesus macaques and I've tried Mmul10 Ensembl v99 and Mmul10 Ensembl v100 which didn't work. Rolling back to the Mmul8 Ensembl v97 genome release and annotation solved the issues that I was having. However, it's still unclear to me why some of the samples completed arrow file

[2020-07-15 21:47] CSBioAzim opened #245 "Bug in addBgdPeaks() function"
Hi,

I'm trying to compute motif deviation. I did peak calling, and everything went well. Unfortunatly, I get the following error when I try to add background peaks to my project object.
I would be happy to get your comments on this. Thanks.
`

[2020-07-16 06:51] Carota-1 opened #246 "An error about createArrowFiles"
Hi,
When i run createArrowFiles with tutorial dataset,I got an error "ERROR Found in .tabixToTmp for (scATAC_CD34_BMMC_R1 : 1 of 2)" and "simpleError in H5Fopen(file, native = native): HDF5. File accessibilty. Unable to open file." I don't konw how to solve the problem.
I want to know how to deal with this problem

Thanks!

[2020-07-16 16:56] concatenize opened #247 "Unable to use built-in motif DB "encode""
When I run `addDeviationsMatrix(my_project, peakAnnotation = "encode", matrixName = "encode_motifs")`, I get the following error.

[code]

The expected behavior is to add a matrix of ChromVAR deviations to the ArrowFiles for the project. I used a fresh installation of ArchR. No log file was generated with this error, but the `sessionInfo` and the code to reproduce it are below. The context this er

[2020-07-17 02:46] JohnGenome commented on #225
subsetArchRProject

[2020-07-17 03:08] JohnGenome opened #248 "Error in H5Fopen(file): Unable to open HDF5 file when using subsetArchRProject to create new arrow files"
**Describe the bug**
When I used subsetArchRProject to create new arrow files, a bug arose as in the KI.txt.
[code]
[KI.txt](https://github.com/GreenleafLab/ArchR/files/4935510/KI.txt)
If I only use one core, the bug also exists. I would be happy to get your comments on this. Thanks.
[code]

**Session Info**
R version 3.6.1 (2019-07-05)
Platform: x86_64-conda_cos6-linux-gnu (64-bit)
Running under:

[2020-07-17 03:23] #246 closed

[2020-07-17 04:38] CSBioAzim opened #249 "Bug in filterdoublet function:as.POSIXct.numeric(e) : 'origin' must be supplied"
Hi,

I'm getting an error from filterDoublets function.
I think it's related to the date and time formating. I would be happy to have your comments on it.
Here is the error:
[code]

[2020-07-17 07:44] Carota-1 commented on #246
Now, I find the error in my code, just because the Chinese character in the setting path.  Thank you very much.

[2020-07-18 16:32] jiang-sh commented on #240
I have the same error in addGeneIntegrationMatrix function with v0.9.5.
The log file are attached.
Looking for your suggestions.
[ArchR-addGeneIntegrationMatrix-7e63687323aa-Date-2020-07-18_Time-23-43-35.log](https://github.com/GreenleafLab/ArchR/files/4942007/ArchR-addGeneIntegrationMatrix-7e63687323aa-Date-2020-07-18_Time-23-43-35.log)

[2020-07-19 22:09] asmagen opened #250 "createArrowFiles stuck"
Running the official ArchR [tutorial](https://www.archrproject.com/bookdown/creating-arrow-files.html) with the example data keeps getting stuck at createArrowFiles at "Batch Execution w/ safelapply!" after a few minutes and after some arrow files appear to be generated.
[code]
The QC plot scATAC_BMMC_R1-Fragment_Size_Distribution is being generated successfully but scATAC_BMMC_R1-TSS_by_Unique_Fr

[2020-07-20 19:10] synlee opened #251 "Error in getMarkerFeatures"
Hi,

I've got this error while running getMarkerFeatures using PeakMatrix. This error especially occurs after subsetting ArchR object.
Do you have any ideas why I am getting this error?
Error in .safelapply(seq_along(matchObj[[1]]), function(x) { :
Error Found Iteration 1 :
	[1] "Error in intI(j, n = x@Dim[2], dn[[2]], give.dn = FALSE) : \n  invalid character indexing\n"
	<simpleError in intI(j, n

[2020-07-20 19:41] spietrzak commented on #200
Hi Ryan,

Thanks for all of your help in resolving my previous issues. I was able to go through the rest of the manual without issues. I do have an unrelated question regarding the marker genes/peaks for a particular group of cells. If I wanted a list of particular genes or peaks that are enriched or associated with a particular cluster, is there a way that I can export those marker lists as a tab

[2020-07-21 02:09] Carota-1 commented on #222
@xuzongren ，Hi，Can you present your solution here? Because I have the same issue. thank you!

[2020-07-21 02:17] spietrzak commented on #200
I also have one additional question: In the section about defining cluster identity using scRNA-seq, it says that ArchR accepts Seurat objects as input. I tried to save my Seurat object as an .rds file using the command `saveRDS(cds, file = "seRNA.rds")` where cds is the name of the Seurat object, but when I try to load the file and get the available column names for this data, I see the following

[2020-07-21 05:41] linhch5 opened #252 "Error in "plotTSSEnrichment""
**Attach your log file**
ArchR has a built-in logging functionality for all complex functions. You MUST attach your log file (indicated in the console output) to this issue
[ArchR-plotTSSEnrichment-1b483d685a8-Date-2020-07-20_Time-22-03-06.log](https://github.com/GreenleafLab/ArchR/files/4951499/ArchR-plotTSSEnrichment-1b483d685a8-Date-2020-07-20_Time-22-03-06.log)
. Just drag and drop it here.

*

[2020-07-21 15:49] jmchan88 commented on #249
I am getting the same exact error too:

Filtering 286 cells from ArchRProject!
        Lx108_chemoresistant_T_1b : 286 of 4374 (6.5%)
Error in as.POSIXct.numeric(e) : 'origin' must be supplied
Calls: filterDoublets ... unlist -> lapply -> FUN -> as.POSIXct -> as.POSIXct.numeric
Execution halted

[2020-07-21 17:03] mitsiask opened #253 "plotFragmentSizes and plotTSSEnrichment groupBy option"
Greetings,
fantastic package and very thorough documentation.

At the moment, as I get it, plotFragmentSizes function uses the "Sample" column in order to split the cells to groups, and finally plot the fragment sizes distribution as shown in the section 3.4 in the documentation.

It would be nice if you could add the "groupBy" option in the plotFragmentSizes function, as it would be easier to plo

[2020-07-21 22:27] concatenize opened #254 "Order peak set the same way between `getPeakSet` and `getMarkerFeatures`"
My PI recently asked to what degree we have differentially expressed peaks that are distal rather than at or near the gene body. To answer this, I needed to grab the TSS distance and peak type from the `getPeakSet` output and merge it with the cluster marker peaks from `getMarkerFeatures`. Putting them in the same order is one easy way to do this, and seems generally useful to protect any user who

[2020-07-22 04:04] seishin0125 opened #255 "How to download feature matrices (e.g. MotifMatrix) from ArchR project"
I'm thinking of drawing violin plots of motif deviations for each cluster calculated in Chapter13.1.

In order to make such kinds of plots, I tried to extract feature matrices like MotifMatrix from ArchR Project, however, I couldn't locate where such kind of matrices are stored.

Could you teach me how to download feature matrices from ArchR Project?

[2020-07-22 09:28] jasonsaunderswilliams opened #256 "Read in fragment using scanTabix then error creatingArrowFiles"
Hi,

I read in my fragments.tsv.gz file using scanTabix:

[code]

Then I use the following code to create an arrow file:

[code]

I get the following error:

[code]

Am I reading in my fragment file incorrectly? I assumed it was scanTabix like scanBam for BAMs?

Best wishes,

Jason

[2020-07-22 15:08] rcorces commented on #256
This is not how fragment files are handled in ArchR. The input to `createArrowFiles()` is the path to the fragment file. This is detailed in the manual. https://www.archrproject.com/bookdown/creating-arrow-files.html

I'd recommend going through the tutorial before trying things on your own data.

[2020-07-22 15:08] #256 closed

[2020-07-22 20:25] liaoshengyou commented on #249
ArchRProj <- ArchR::addProjectSummary(ArchRProj = ArchRProj, name = "filterDoublets",
                                 summary = c(Date = as.character(Sys.time()), cutEnrich = cutEnrich,
                                             cutScore = cutScore, filterRatio = filterRatio))

[2020-07-22 20:26] liaoshengyou commented on #249
validInput = getAnywhere(.validInput)
validInput = function (input = NULL, name = NULL, valid = NULL)
{
  valid <- unique(valid)
  if (is.character(valid)) {
    valid <- tolower(valid)
  }
  else {
    stop("Validator must be a character!")
  }
  if (!is.character(name)) {
    stop("name must be a character!")
  }
  if ("null" %in% tolower(valid)) {
    valid <- c("null", valid[which(tolower(vali

[2020-07-22 20:27] liaoshengyou commented on #249
ArchRProj <- ArchR::addProjectSummary(ArchRProj = ArchRProj, name = "filterDoublets",
                                 summary = c(Date = as.character(Sys.time()), cutEnrich = cutEnrich,
                                             cutScore = cutScore, filterRatio = filterRatio))

[2020-07-22 21:16] jgranja24 commented on #255
Please see`getMatrixFromProject(useMatrix="MotifMatrix")` alternatively plotGroups can help you with this as suggested.

Best

Jeff

[2020-07-22 21:19] jgranja24 commented on #254
I normally do something like this -

[code]

Hope that helps

Jeff

[2020-07-22 21:20] jgranja24 commented on #253
I agree and I will try to improve these in the near future

best

Jeff

[2020-07-22 21:20] concatenize commented on #254
Yes, that works! Thank you!

[2020-07-22 21:20] #254 closed

[2020-07-22 21:21] jgranja24 commented on #252
Hmmm I think this has happened for some other people. I will look into this sorry for the delay.

[2020-07-22 21:23] jgranja24 commented on #241
Sorry for the delay - What do you mean by Seurat object? addClusters uses the reducedDims and creates an empty Seurat Object and then runs FindClusters from Seurat. If you want the reducedDims you can try `getReducedDims`. Maybe I am misunderstanding, but am happy to help!

[2020-07-23 02:35] CSBioAzim commented on #249
@rcorces @jgranja24 do you have an idea why this problem occurs? I think it has a problem with formating data and time.

[2020-07-23 02:40] CSBioAzim opened #257 "Is it possible to output meta cell data matrices for integrative analysis before normalization?"
@jgranja24 @rcorces, I would like to have access to the meta cells data matrices both for scRNA-seq and scATAC that are used to link peak to the gene in **addPeak2GeneLinks**
Is it possible to output these matrices from  **addPeak2GeneLinks**?

[2020-07-23 09:12] seishin0125 commented on #255
I could download the matrices. Thank you so much for your kind help!

[2020-07-23 09:12] #255 closed

[2020-07-23 19:54] aysouid opened #258 "Barcodes of doublets"
Can I extract the barcodes of the doublets that are filtered via `filterDoublets(ArchRProj = proj)`? Also, same question but for the barcodes that were filtered in the `createArrowFiles` step.

Thanks for the great package!

[2020-07-24 01:31] asmagen opened #259 "Seurat dependency failure"
Is there a way to circumvent the dependency on Seurat clustering? It's suffering from many reported issues causing R to crash, and I was unable to resolve that yet after trying all the suggestions online.

Thanks

[2020-07-24 03:41] rcorces commented on #259
You can also cluster with `scran`. See final section here:
https://www.archrproject.com/bookdown/clustering-using-seurats-findclusters-function.html

Re-open if this doesnt answer your question.

[2020-07-24 03:41] #259 closed

[2020-07-24 09:20] RyanYip-Kat opened #260 "2020-07-24 17:14:52 : ERROR Found in .tabixToTmp for (CAT-07 : 1 of 1)"
I tried all the similiar issue report listed,but it still did not work!

[2020-07-24 12:41] asmagen commented on #259
But what about addIterativeLSI Seurat clustering dependency?
[code]

[2020-07-24 12:54] asmagen opened #261 "Seurat dependency failure in addIterativeLSI"
I got an answer about using Scran clustering instead of Seurat in addClusters, but it fails with the following error. Can you advise please? And what about addIterativeLSI without using Seurat?

[code]
@rcorces
[ArchR-createArrows-f2c56d6d6f73-Date-2020-07-19_Time-18-15-58.log](https://github.com/GreenleafLab/ArchR/files/4971990/ArchR-createArrows-f2c56d6d6f73-Date-2020-07-19_Time-18-15-58.log)

[2020-07-24 14:40] s7hegde commented on #249
stopgap solution here?
https://github.com/GreenleafLab/ArchR/issues/217#issuecomment-649129065

[2020-07-25 01:00] rcorces commented on #249
Yes this is a duplicate of #217
Please search the current and previous issues before posting.

[2020-07-25 01:00] #249 closed

[2020-07-27 13:17] JohnGenome opened #262 "Can i export bigwig file for each cluster?"
Hi, the package is very powerful and helps me a lot. But i met a problem that i want to upload my chromatin accessibility tracks to UCSC Genome Browser, while i don't know how to get bigwig file on the basis of ArchR analysis.
I wonder if there is a more convenient way than extracting reads from the very beginning fastq file.
Thanks!

[2020-07-27 13:47] JohnGenome commented on #262
'_ArchR also enables direct export of group normalized bigwig files using “export.bw” from Rtracklayer that can be directly used in conventional genome browsers._'
Plus, is there any function for this aim from pre-printed paper?

[2020-07-27 19:33] gregszetoAI opened #263 "Error in irlba with tutorial data"
Hello,

Trying to run the tutorial dataset, but hitting this issue for the doublet step: <simpleError in irlba::irlba(mat, nDimensions, nDimensions): max(nu, nv) must be strictly less than min(nrow(A), ncol(A))>

Any help would be appreciated. See attached log file.

[ArchR-addDoubletScores-5857e9b864a-Date-2020-07-27_Time-19-25-46.log](https://github.com/GreenleafLab/ArchR/files/4984066/ArchR-add

[2020-07-28 02:40] kzxkzx opened #264 "could not find function "createGeneAnnotation""
Sorry to bother, I want to create a custom ArchRGenome, I get the erro "could not find function "createGeneAnnotation" when I run commond "geneAnnotation <-createGeneAnnotation(TxDb=TxDb.Drerio.UCSC.danRer11.refGene,OrgDb = org.Dr.eg.db)",any suggestion?The version of bioconductor is 3.7

[2020-07-28 06:59] #235 closed

[2020-07-29 11:13] doctorxie commented on #260
I have encounterd the same problem. ERROR Found in .tabixToTmp for (/home/data/ArchR_input/A088_fragments.tsv.gz : 1 of 6)

[2020-07-29 13:44] jasonsaunderswilliams commented on #256
Hi rcorces. I have followed the tutorial. I put all my fragment files and indices in the same folder.
I then use
[code]

Then I use

[code]
But I get this error:

```Error in .validInput(input = sampleNames, name = "sampleNames", valid = c("character")) : Input value for 'sampleNames' is not a character, (sampleNames = NULL) please supply valid input!```

I'm not clear on how to read in fragment f

[2020-07-29 14:37] rcorces commented on #256
This is what `inputFiles` is supposed to look like (as per the tutorial)
![image](https://user-images.githubusercontent.com/10343046/88813798-37bd9300-d16e-11ea-8964-ad1551bbc860.png)

It is not a path to the directory but rather a named vector where the names are your desired sample names and the values are the path to each fragment file.

[2020-07-29 14:55] jasonsaunderswilliams commented on #256
I see.

Something like this:

[code]

[2020-07-29 23:28] rojinsafavi opened #265 "peak to gene"
Is it possible to output the peak -> gene connection? I'd like to know what peaks have contributed to genesecore matrix for each gene.

[2020-07-30 07:47] jasonsaunderswilliams opened #266 "createArrowFiles ignores one fragment file? Empty QC folder"
Hi,

I am successfully creating ArrowFiles using the following chunks:

[code]

[code]

The fragment distribution for `10XN` is present in the per sample QC folder. The `CS001` QC folder is empty.

What is even more bizarre is the fact that only one arrow file is created

[code]

When I continue to create an ArchR Project:

[code]

[code]

There is only one sample in my project as expected, as the

[2020-07-30 16:48] spietrzak opened #267 "Using Seurat object to Define Cluster Identity"
In the section about defining cluster identity using scRNA-seq, it says that ArchR accepts Seurat objects as input. I tried to save my Seurat object as an .rds file using the command `saveRDS(cds, file = "seRNA.rds")` where cds is the name of the Seurat object, but when I try to load the file and get the available column names for this data, I see the following output:

<img width="630" alt="Scree

[2020-07-31 07:03] beccasimmons commented on #216
Hi Jeff,

I've updated ArchR and rerun the getGroupBW function, and it's definitely changed something but the bigwigs still are not normalised properly. My clusters/samples with more reads and the clusters/samples with less reads are not on the same scale. Would it be possible to get documentation on the function and what exactly is being normalized?

Cheers,
Becca

[2020-07-31 18:12] hhvu0102 commented on #248
Hi,
I had a similar problem when I tried createArrowFiles(). My input was fragments.tsv.gz file, genome was built for rn6. The attached file is my log file:
[ArchR-createArrows-49244e836d09-Date-2020-07-31_Time-12-16-05.log](https://github.com/GreenleafLab/ArchR/files/5008401/ArchR-createArrows-49244e836d09-Date-2020-07-31_Time-12-16-05.log)
The error that stood out to me was:

I tried processing

[2020-08-01 19:21] RegnerM2015 opened #268 "Methods for objective QC thresholding?"
Hi @jgranja24,

**Describe the problem that your feature request would address.**
The density plots of TSS enrichment versus log10(fragments) are very visually appealing and helpful for QC (identifying cellular barcodes from non-cellular barcodes). However, this visual inspection of the plot is subjective and it would be more robust to have an objective strategy for determining the appropriate TSS

[2020-08-02 05:41] liaoshengyou opened #269 "Error in (function (filename = "Rplot%03d.png", width = 480, height = 480, :"
I was run

when i want to draw a figure with this heatmapGS object i get a errror log(win10 64 bit) with:

I check it and resolve this problem show:

[1] **"Column Z-Scores\n819 features\nGeneScoreMatrix"**   #  bug in windows,

the name in windows has a bug, i chage it with below:

then i draw this fig and resolve this problem.

Can you fix this name with normal ?

[2020-08-02 19:06] rcorces commented on #269
Thanks for reporting. Unfortunately, we dont have the bandwidth to actively support windows at the moment. We will keep this in mind if we are able to do so in the future.

[2020-08-02 19:06] #269 closed

[2020-08-02 19:15] rcorces commented on #268
We have not been able to come up with a robust and sensitive automatic threshold that we feel confident in. Depending on the input material, sequencing depth, etc, these plots can vary widely. We're happy to look at and consider implementations of auto-thresholds but we dont have plans to implement this ourselves.

[2020-08-02 19:15] #268 closed

[2020-08-03 02:04] likelet commented on #248
I encontered  the exact same error  with `addDoubletScores`, here is my command and errors:
[code]
and my errors
[code]

My env is :
[code]

[2020-08-03 19:26] Brawni opened #270 "raw coverage on plotBrowserTrack"
Hi,

Would it be possible to plot raw coverages in plotBrowserTrack ? Currently the argument normMethod force you to specify a metadata column for normalization.

Thank you!

[2020-08-03 21:41] Brawni commented on #243
Following up on this I tested it on the tutorial dataset and can confirm the non-uniqueness of the idx column (are these indexes coming from the clusters peakSets?).
Also the nearestGene columns contain some NAs on the tutorial data. It seems that genes are associated by nearest TSS so how is this possible?
[code]
Much appreciated!

[2020-08-03 22:31] jgranja24 commented on #243
Sorry, the peak idx column is grouped withe chromosome so if you looked at
`length(unique(paste(seqnames(peakSet), peakSet$idx, sep=":")))`
it should be unique.

TSS and Genes are a bit tricky as this depends on the gene annotations. Some of the gene symbols are NA but have an entrez ID number. I suspect this is the NAs.

[2020-08-04 02:48] Liang-BGI commented on #179
@jgranja24 hi, I want to merge ArchRProjects too because I have two techniques data. I need to filter the doublets respectively before I merging the data. Any advice for this？

Thanks！

[2020-08-04 03:00] Brawni commented on #243
oh ok, good to know!

Thanks!

[2020-08-04 03:00] #243 closed

[2020-08-04 23:35] ldorozco opened #271 "Error in .validate_Vector_vertical_slots(x) : could not find function ".validate_Vector_vertical_slots""
I get an error when running  Motif and Feature Enrichment with ArchR. I am using R version 4. The package S4Vectors is installed, but I still get the error:

proj <- addMotifAnnotations(ArchRProj = proj, motifSet = "cisbp", name = "Motif")
OR
proj <- addMotifAnnotations(ArchRProj = proj, motifSet = "JASPAR2020", name = "Motif")

Error in .validate_Vector_vertical_slots(x) :  could not find functio

[2020-08-05 00:56] ldorozco commented on #271
I was able to solve this issue by installing ArchR from Bioconductor 3.11 instead of 3.12. I no longer get the error message in this install.

[2020-08-05 13:52] mehrankr opened #272 "Error at addGeneIntegrationMatrix: Cannot add a different number of cells than already present"
Hello.

Thank you for providing this platform for scRNA-seq analysis.
I have given it a try and everything worked perfectly until I got into scRNA-seq integration.

Basically, I am running this command:

[code]

Please note that for reducedDims, I also tried the `IterativeLSI` option and got the exact same error.

Any help would be appreciated.

Log file:

[code]

[2020-08-05 14:35] mehrankr commented on #272
This is a Seurat error occured at https://github.com/GreenleafLab/ArchR/blob/master/R/RNAIntegration.R#L225

Fix:

[code]

[2020-08-05 14:35] #272 closed

[2020-08-05 16:11] rcorces opened #273 "plotMarkerHeatmap: nLabel argument not utilized"
In the `plotMarkerHeatmap()` function, the parameter `nLabel` has no effect. It is not used in the downstream code as far as I can tell.
https://github.com/GreenleafLab/ArchR/blob/ddcaae4a6093685875052219141e5ea41030fc55/R/MarkerFeatures.R#L809

[2020-08-06 15:18] RegnerM2015 opened #274 "Jackstraw methods for determining the optimal number of SVD components"
Hi @rcorces and @jgranja24

**Describe the problem that your feature request would address.**

I have a question relating to #120. I would like to try out a JackStraw approach after `addIterativeLSI()`.

If I were to perform this, would it be more appropriate to not scale the SVD components? For example, I would set scaleDims = FALSE:

`proj.1 <- addIterativeLSI(
  ArchRProj = proj,
  useMatrix =

[2020-08-06 22:06] RegnerM2015 opened #275 "Writing FindTransferAnchors output to working directory"
Hi @jgranja24 and @rcorces,

**Describe the problem that your feature request would address.**
Users may wish to analyze the anchors, or pairs of cells across RNA and ATAC assays. The Seurat `FindTransferAnchors()` function runs within the `addGeneIntegrationMatrix()` function. The RNA-ATAC cell pairs can be accessed like so:

[code]

**Describe the solution you'd like**

It would awesome if the `

[2020-08-07 10:09] isaLa42 opened #276 "Cutoff for true co-accessible regions"
Hi,

first of all, thank you for this comprehensive tool for scATAC-seq analysis. It is great fun to work with ArchR! :)
I am currently looking into the analysis of co-accessible regions and was wondering what thresholds to use for determination of 'true' co-accessible regions. In the vignette you use a correlation cutoff of 0.5. Did you somehow determine the optimal cutoff?

My approach was to de

[2020-08-07 11:29] ankushs0128 commented on #217
Facing the Same Issue on R 4.0.1! Running filterdoublet functions works well

[2020-08-10 20:05] arh223 opened #277 "Issues with addMotifAnnotations function in section 12.1"
Hello,

I am having issues with the addMotifAnnotations function in section 12.1. I have tried running it on the sample dataset as well as my dataset, but I'm getting the same error. See below:

snATAC <- addMotifAnnotations(ArchRProj = snATAC, motifSet = "cisbp", name = "Motif")
ArchR logging to : ArchRLogs/ArchR-addMotifAnnotations-197b6f5937e2-Date-2020-08-10_Time-19-58-58.log
If there is an is

[2020-08-10 23:37] smorabit commented on #266
Hi Jason, I had the same problem as you with one of my fragment files getting ignored, but I was able to resolve it by running ArchR's `reformatFragmentFiles` function.

I ran it like this
`reformatFragmentFiles(sample_file)`
where `sample_file` is the path to the gzipped fragments file. This function makes a new fragments file in the same directory called  `fragments-Reformat.tsv.gz`.

While I wa

[2020-08-11 01:28] hugokitano opened #278 "Possible generation of pseudo-bulk BAM files?"
One thing that's been very helpful is the generation of bigwig visualization files with `plotBrowserTrack.` Using this, I've been able to use the single cell ATAC-seq data as a kind of pseudo-bulk ATAC-seq. I was wondering if there was a way you know of to create a BAM file in the same kind of way to do peak-calling and other analyses. Thanks!

[2020-08-11 17:48] rcorces commented on #278
There is no way to get a true BAM file (containing sequence) because this information is discarded during fragment file creation. The approved way to do what you want would be to create a BED file from a fragment file and use that to do your downstream analyses. Otherwise, if you really want a BAM file, you would have to take the cellular barcodes from ArchR and extract these from the BAM file you

[2020-08-11 17:48] #278 closed

[2020-08-11 17:49] rcorces commented on #271
There are issues with R version 4 that we have not addressed. We do not recommend using version 4 with ArchR at this time.

[2020-08-11 17:49] #271 closed

[2020-08-11 17:52] rcorces commented on #270
I agree that it would be nice to have an explicit option for no normalization. In the mean time, you can create a column in `cellColData` and make all the values the same to avoid performing any normalization.

[2020-08-11 17:57] rcorces commented on #266
We haven't encountered this issue with our own data and most users are hesitant to share sample data files. If you can provide an example file, we might be able to figure this out. Even better if it is small in size.

[2020-08-11 18:03] rcorces commented on #265
Sorry for the delay in responding. We have a lot on our plates at the moment.
I'm not sure exactly what you mean. You can, of course, use `addPeak2GeneLinks()` to identify peak-to-gene links. However, these are not used for creating a genescore matrix. Gene scores are created from the tile matrix.

So perhaps what you want is the contribution of each tile to the gene score of a specific gene? If s

[2020-08-11 18:03] #265 closed

[2020-08-11 18:03] rcorces commented on #264
This sounds like you do not have ArchR properly installed and loaded.

[2020-08-11 18:03] #264 closed

[2020-08-11 18:08] rcorces commented on #262
Sorry for the delay in our response. This is a duplicate issue of #54
The function you are looking for is `getGroupBW()`

[2020-08-11 18:08] #262 closed

[2020-08-11 18:16] rcorces commented on #261
Sorry for the delay in our response.
Currently, I believe Iterative LSI in ArchR is hardcoded to use Seurat. The error you are getting is because you are trying to pass a reducedDims object that doesnt exist.

[2020-08-11 18:19] rcorces commented on #260
Apologies for the delay in our response. However, we have no way of addressing your issue without a more detailed report. If this issue does not occur with the tutorial dataset, then it is likely an issue with your input. I'm closing this issue due to lack of specificity but feel free to open it and provide a more in depth report with a workable example to reproduce.

[2020-08-11 18:19] #260 closed

[2020-08-11 18:29] rcorces commented on #258
Sorry for the delay in our response.
This is possible, in a way. When you create your Arrow files, the default is to throw out information corresponding to cells that dont pass QC. But if you set the parameter `removeFilteredCells` to `FALSE`, it will keep all of the cells and the column `PassQC` in `cellColData` should reflect which cells passed the QC filters that you set in `createArrowFiles`

[2020-08-11 18:29] #258 closed

[2020-08-11 18:33] rcorces commented on #252
I'm assuming that this is related to running on windows. Windows is not supported and its not possible for us to troubleshoot this. I'm closing this issue.

[2020-08-11 18:36] rcorces commented on #250
Sorry for the delay in our response. @asmagen - have you fixed this issue? Have you tried setting threads = 1?

[2020-08-11 18:38] #241 closed

[2020-08-11 18:40] Brawni commented on #270
yes that worked, thanks!

[2020-08-11 18:43] #234 closed

[2020-08-11 18:47] rcorces commented on #223
Sorry for the extensive delay in addressing this.
For comparing two groups, you would follow the instructions here:
https://www.archrproject.com/bookdown/pairwise-testing-between-groups.html

Pairwise testing is a special case for getMarkerFeatures.

However, @jgranja24 I feel like this should minimally output an error.

[2020-08-11 18:54] rcorces commented on #218
The problems with parallelization are very system specific and we have not fully addressed this. It is on our radar but I'm closing this issue.

[2020-08-11 18:54] #218 closed

[2020-08-11 18:57] rcorces commented on #217
@jgranja24 - can you make this update on `dev`?

[2020-08-11 18:58] #215 closed

[2020-08-11 19:09] #211 closed

[2020-08-11 19:11] #200 closed

[2020-08-11 19:12] #198 closed

[2020-08-11 19:13] rcorces commented on #193
I'm closing this due to inactivity. Please re-open if additional assistance is needed.

[2020-08-11 19:13] #149 closed

[2020-08-11 19:16] rcorces commented on #270
@jgranja24 - do you think we should implement a more intuitive option for this? For example, `normMethod = NULL`?

[2020-08-11 21:31] lsundaram commented on #149
is this functionality also added to the addpeak2gene links function ?

[2020-08-11 21:48] rcorces commented on #149
This has not been implemented for `addPeak2GeneLinks()` but you can open a new issue for that feature request. makes sense to me.

[2020-08-11 22:03] lsundaram commented on #149
Sure ! thank you!

[2020-08-11 22:05] lsundaram opened #279 "add cellstouse in peak2gene links"
Hi it would be great if the "cellstouse" functionality is made available for the addPeak2GeneLinks() function just like the addcoaccessibility function

[2020-08-12 03:15] xinzj opened #280 "Plot-foot failed"
I run getFootprints and plotFootprints normally, but there is no output after plotPDF.
[ArchR-plotFootprints-5e906a1f6cde-Date-2020-08-12_Time-10-52-32.log](https://github.com/GreenleafLab/ArchR/files/5060416/ArchR-plotFootprints-5e906a1f6cde-Date-2020-08-12_Time-10-52-32.log)
[ArchR-getFootprints-5e9012540610-Date-2020-08-12_Time-10-24-13.log](https://github.com/GreenleafLab/ArchR/files/5060417/A

[2020-08-12 03:23] #280 closed

[2020-08-12 18:27] singletrips opened #281 ""No fragments found" error when run createArrowFiles() function using the bam file as input."
![image](https://user-images.githubusercontent.com/31929730/90052951-d89c6a00-dca7-11ea-8c76-e300facedecd.png)

[2020-08-12 18:36] rcorces commented on #281
Please provide a detailed description, the commands used, and a minimal example of how we can reproduce the problem. Your bug report does not have any information that would enable us to help you.
I'm closing this issue but you can re-open it when you are ready to provide the required information.

[2020-08-12 18:36] #281 closed

[2020-08-12 19:17] singletrips opened #282 "Can I use the single-end bam file as the input of createArrowFiles() function?"
Can I use the single-end bam file as the input of createArrowFiles() function?

[2020-08-12 19:37] rcorces commented on #282
This is not currently supported. You can try converting your bam file to a 1-bp fragment file and using this as input.

[2020-08-12 19:37] #282 closed

[2020-08-13 17:56] smorabit commented on #266
Yeah I think that unfortunately I am hesitant to send the fragments file since it is yet to be published data.

[2020-08-13 18:20] rcorces commented on #266
Makes sense. This is already on my to-do list to add to the documentation. I'm closing this for now. Anyone having similar issues and willing to pass along fragment files can feel free to reopen.
Otherwise, users having this problem should run the `reformatFragmentFiles()` function.

[2020-08-13 18:20] #266 closed

[2020-08-13 18:49] smorabit opened #283 "How to export peak accessibility matrix?"
Hello,

I am trying to export the peaks by cells accessibility matrix for external use, but when I use `getMatrixFromProject` the number of cells is much fewer than the number of cells in my ArchR project. I used the following code to call peaks and extract the matrix, and I included the log file for my `getMatrixFromProject` call.

[code]

The `test` SummarizedExperiment object has about ~20k few

[2020-08-14 06:14] Carota-1 commented on #252
I got the same issue when running in linux.

[2020-08-14 09:23] Liyuanwang89 opened #284 "fail in addMotifAnnotations in a custom reference"
Hi,
 I'm working on analyze the primary ovary scATAC by ArchR in pig. As I followed the tutorial manual, I failed in addMotifAnnotations. At first, I tried it as below

_> ovary5 <- addMotifAnnotations(ArchRProj = ovary5, motifSet = "cisbp", name = "Motif")
ArchR logging to : ArchRLogs/ArchR-addMotifAnnotations-7eb94805cf80-Date-2020-08-14_Time-17-09-41.log
If there is an issue, please report to g

[2020-08-14 14:44] rcorces commented on #252
Can you try running with 1 thread and see if this solves the problem?

[2020-08-17 08:24] Carota-1 commented on #208
Hi，I also met a similar issue. Have you solved it?

[2020-08-17 09:25] Carota-1 commented on #252
Thank you for your answer, but the issue still  still exists when I use a thread.

[2020-08-17 11:34] Dragonlongzhilin opened #285 "Different R2 values in different sample"
In the manual, If these R2 values are much lower (i.e. less than 0.9), this often indicates that the cells within the Arrow file have very little heterogeneity. I have 4 samples, 2 of which have R values greater than 0.9, but the other two have R values less than 0.9. How should I remove doublet?

[2020-08-18 13:53] mehrankr opened #286 "Extracting bigWig/bedGraph"
Hello,

I was wondering to ask if it would be possible to either expand the documentation on how to manually access the accessibility signal as visualized by ArchRBrowser and plotBrowserTrack, or alternative provide a function to extract bedGraph/bigWig for specific regions.

As amazing as the ArchRBrowser and plotBrowserTrack, I often need to make my own visualizations and I'm sure a lot of peopl

[2020-08-18 14:19] rcorces commented on #286
It sounds like you are looking for the `getGroupBW()` function. The documentation for this function hasnt been added but it was introduced in response to #54

Fair warning that some users are reporting normalization issues with the function and we are still working on it from #216

Adding this documentation is already on the to-do list so I'm closing this for now but feel free to re-open if you th

[2020-08-18 14:19] #286 closed

[2020-08-19 14:09] nikostrasan opened #287 "Bone Marrow cells analysis not reproducible"
I am trying to reproduce the analysis show in your paper (as shown in Fig2(a-d)), however, after tweaking the parameters several
times, I still get different results,

**Could you please share with me the parameters you used to run the analysis with addIterativeLSI() and addClusters()?**

After creating ArrowFiles and ArchPoject file, I use the following to obtain the embedding profiles:
#Dimensio

[2020-08-19 14:21] rcorces commented on #287
My understanding is that iterative LSI is non-deterministic. Even if you run with exactly the same parameters, you will not get exactly the same result as in the publication. This is outlined in [the manual](https://www.archrproject.com/bookdown/iterative-latent-semantic-indexing-lsi.html).

The UMAP that you provided looks very similar to the one in the paper.

@jgranja24 - We dont have the code

[2020-08-19 17:04] chent5 opened #288 "Error message when running addGeneIntegrationMatrix()"
Thanks a lot for developing this package.

I ran addGeneIntegrationMatrix() function taking a Seurat object (seRNA) as input.
# Below is the code I used:
projHeme2 <- addGeneIntegrationMatrix(
  ArchRProj = projHeme2,
  useMatrix = "GeneScoreMatrix",
  matrixName = "GeneIntegrationMatrix",
  reducedDims = "IterativeLSI",
  seRNA = seRNA,
  addToArrow = FALSE,
  groupRNA = "CRID",
  nameCell = "pre

[2020-08-20 13:46] nikostrasan commented on #287
Indeed the first 2 plots look very similar to the ones provided in the paper.
However, after Harmony normalization with the parameters from the tutorial, UMAP plots seem very odd (populations are segregated based on the sample).
It would be very helpful if you could share the code.
Thanks in advance

[2020-08-20 21:51] smorabit commented on #283
The plot thickens...

I re-started my analysis from scratch to see where this problem started, and now I suspect that the issue arises from how I created the arrow files. Before when creating arrow files I opted not to remove filtered cells so I could apply my own filtering after the fact (code shown below).

[code]

I changed this code to this:

[code]

In both cases I am filtering out additional

[2020-08-20 22:24] rcorces commented on #283
Thanks. This is helpful. We will look into this. We don't often use `removeFilteredCells = FALSE` so its possible that there is something amiss.

[2020-08-21 04:42] koenvandenberge opened #289 "getMarkerFeatures error, possibly due to no markers."
Before you submit this issue please update ArchR to the latest version and make sure that this issue has not already been fixed in the latest release. ArchR is in *beta* and we will fix problems as they arise. To update ArchR:

devtools::install_github("GreenleafLab/ArchR", ref="master", repos = BiocManager::repositories())

If your issue persists, then please submit this bug report.

PLEASE FILL

[2020-08-21 13:48] wangmhan opened #290 "addCoAccessibility error"
Hi,

my ArchR version is 0.9.5.

When I run addCoAccessibility, got this error:
Error in seq_len(nrow(featureDF)) : argument must be coercible to non-negative integer.

I checked it step wise, and found it could because the function of addCoAccessibility use seq_along(chri) (in https://github.com/GreenleafLab/ArchR/blob/master/R/IntegrativeAnalysis.R, line 777). The chromosome of chicken genome is

[2020-08-21 15:23] Brawni opened #291 "MACS2 --broad parameter not supported"
Hello!

I need to run addReproduciblePeakSet using MACS2 parameter "--broad" but crashes the function as it doesn't found the Summit file. Log file attached.

Thank you!

[code]
[ArchR-addReproduciblePeakSet-6f962a12eed-Date-2020-08-21_Time-15-21-53.log](https://github.com/GreenleafLab/ArchR/files/5109608/ArchR-addReproduciblePeakSet-6f962a12eed-Date-2020-08-21_Time-15-21-53.log)

[2020-08-24 18:19] cflerin opened #292 "Error in creating arrow file from BAM input"
I'm running the most recent commit on the master branch : 2020-07-13 ddcaae4 in R `3.6.3`

**Attach your log file**
[ArchR-createArrows-88a26534811-Date-2020-08-24_Time-14-02-14.log](https://github.com/GreenleafLab/ArchR/files/5118384/ArchR-createArrows-88a26534811-Date-2020-08-24_Time-14-02-14.log)

**Describe the bug**
I'm running the following:
[code]
which fails with an error:
[code]
which see

[2020-08-24 18:33] rcorces commented on #292
Can you show some lines from your BAM file? Perhaps you aligned to a reference genome that doesnt have "chr" prefixes?

[2020-08-24 19:37] cflerin commented on #292
Thanks for the quick reply. We're using the GRCh38 reference from 10x though, so it does have the chr prefix:
[code]

[2020-08-24 21:43] rcorces commented on #292
To me, it looks like ArchR is having a problem identifying the barcodes from your BAM file. This is probably because you havent properly set the `bcTag` (and maybe `bamFlag`) argument. From this excerpt, it looks like ArchR is trying to use the wrong BAM entry as the barcode:

[code]

Unfortunately, I've actually never used the BAM input for ArchR so I'm not 100% sure. Play around with those param

[2020-08-25 00:09] suminwei2772 opened #293 "cluster-level integration"
Hi,
I am looking for an ArchR feature that allows for cluster-level integration of scATAC-seq with scRNA-seq. I understand currently ArchR tries to assign each cell in scATAC-seq to a cell in scRNA-seq. Would it be possible to introduce a feature to first aggregate cells from each cluster, and assign each aggregate cluster profile in scATAC-seq to an aggregated scRNA-seq profile for each scRNA-seq

[2020-08-25 13:50] SunKeYong commented on #251
I've got the same error

[2020-08-25 14:27] cflerin commented on #292
Thanks for the suggestions on `bcTag`/`bamFlag`. I think I ultimately solved the issue, but ran into some more problems on the way. First, I tried specifying the use of the `CB` tag:
[code]
but then got a different set of errors from the original (one per chunk, it seems):
[code]
Full log: [ArchR-createArrows-2db27d345fab-Date-2020-08-25_Time-13-41-46.log](https://github.com/GreenleafLab/ArchR/fil

[2020-08-25 14:27] #292 closed

[2020-08-26 15:00] cschmidl commented on #277
Exact same for me! Thanks for your help!

[2020-08-26 16:55] spietrzak opened #294 "createArrowFiles Error"
I have used ArchR successfully in the past, but I ran into an error after I tried to modify the input fragments file. We have tried to downsize some of our samples so that each one has a more equal number of barcodes (cells). The new files should be in the same tsv.gz format as the original files and are also named similarly (i.e. sample_name.fragments.tsv.gz). ArchR seems to recognize it when def

[2020-08-26 17:09] rcorces commented on #294
I'm not sure we have enough information to diagnose the problem. It seems like something must have changed when you trimmed your original input files.
You can try using the `reformatFragmentFiles()` function to see if that fixes whatever formatting problem has been introduced.

[2020-08-26 18:21] spietrzak commented on #294
Thanks for your feedback Ryan. That function was able to format my fragments file so that it can now be ready by ArchR. I was able to create an Arrow file for this test sample and run it through some of the subsequent steps. Thanks for your help.

[2020-08-26 18:33] rcorces commented on #294
Glad this worked. I'll flag this to add to the documentation.

[2020-08-26 18:33] #294 closed

[2020-08-30 01:32] hugokitano opened #295 "confusionmatrix() error in manual 5.1"
I'm going through the full manual, but with my own data instead of the tutorial data. On part 5.1, I installed the library "caret" to use the confusion, but get an error. I am using ArchR 0.2.1.

[code]
I have 4 samples in my ArchRProject.

Any quick solutions? I can't find any obvious differences in my data and the tutorial data that could be causing this problem.

[2020-08-30 01:36] rcorces commented on #295
You sure about that version number? The current version is 0.9.5

[2020-08-30 01:38] hugokitano commented on #295
That is wild. I definitely started using ArchR in March or so

[code]

[2020-08-30 01:42] rcorces commented on #295
Looks like you're due for an upgrade. No idea if that will fix your problem but try that first.

[2020-08-30 03:25] hugokitano commented on #295
thanks. i updated to 0.9.5 but same issue remains

[2020-08-30 03:48] rcorces commented on #295
I dont know exactly what the problem is but presumably you have tried this without using `as.factor()`? This is a very basic function. I would just step through it and figure out where your input is causing a problem:

[code]

Feel free to update and close if you figure it out.

[2020-08-30 17:56] hugokitano commented on #295
funny, this function just straight up works. i'll just use this, thanks.

[2020-08-30 17:56] #295 closed

[2020-09-02 01:32] l-cli opened #296 "saveArchRProject() creates copying both "from"and "to" error"
I was going through the manual and tried to save my ArchR project using saveArchRProject(), and the following error occurred:
![image](https://user-images.githubusercontent.com/55997222/91921867-29ddbf00-ec92-11ea-98f5-3ad86c651324.png)

**Session Info**
R version 3.6.3 (2020-02-29)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Scientific Linux 7.4 (Nitrogen)

Matrix products: default
BLAS

[2020-09-02 03:41] rcorces commented on #296
This looks like a bash error. Did you try googling the error? It looks like you might have a file already named "Save-ProjAC2" and you are trying to overwrite that file with a directory of the same name. I'm going to close this issue. If this doesnt answer your problem, feel free to reopen.

[2020-09-02 14:58] l-cli commented on #296
I did try googling before reporting here! I also deleted anything in the folder that says Save-ProjAC2, but the function still won't run properly.
It seems like somehow it's trying to save "Save-ProjAC2" at the last step but it's also the file it's saving to.. Is there a way to prevent the function from doing that step?

[2020-09-02 15:01] l-cli opened #297 "saveArchRProject() creating copying both "from" and "to" error"
This looks like a bash error. Did you try googling the error? It looks like you might have a file already named "Save-ProjAC2" and you are trying to overwrite that file with a directory of the same name. I'm going to close this issue. If this doesnt answer your problem, feel free to reopen.

_Originally posted by @rcorces in https://github.com/GreenleafLab/ArchR/issues/296#issuecomment-685272412_

[2020-09-02 15:02] l-cli commented on #297
Sorry for duplicating - Github doesn't allow the creator to reopen an issue closed by the contributor!
I did try googling before reporting here! I also deleted anything in the folder that says Save-ProjAC2, but the function still won't run properly.
It seems like somehow it's trying to save "Save-ProjAC2" at the last step but it's also the file it's saving to.. Is there a way to prevent the functi

[2020-09-02 15:09] #297 closed

[2020-09-02 15:11] rcorces commented on #296
Can you detail what you have tried? Have you tried providing a full path? Have you tried any other names other than the one you listed? Can you provide a reproducible example of this error using the tutorial data?

[2020-09-03 19:00] l-cli commented on #296
Thank you! I originally followed the tutorial and saved the archR project as different versions (corresponding to projectHeme2, projectHeme3, etc. in the tutorial), but now I tried not creating new projects and was successful in saving the original project!

For reference, unfortunately I still couldn't save the newly created projects. I tried: 1) deleting the ProjAC2 folder in my directory, 2) pr

[2020-09-03 19:00] #296 closed

[2020-09-03 20:03] rcorces commented on #296
Glad this worked out. I'm not sure why it wasnt working before but if anyone else runs into this error we can use this issue as the starting point for discussion.

[2020-09-04 18:01] hugokitano opened #298 "Reclustering a single cluster into a set of clusters of specified number"
I guess this is a two-part question: I have eight clusters, and I believe that one cluster is made up of naive T cells, containing both cd4 and cd8 cells. Is it possible to recluster this cluster into exactly two new clusters, keeping all the other clusters as well? Thank you!

[2020-09-04 18:35] Brawni opened #299 "getMatrixFromArrow rowData missing"
Hello!

When I want to extract peak matrix from the ArchR object rowData contains only the 'idx' column, which as far as I understood is not unique so it's not possible to map back genomic coordinates for each peak.
Any clues?

[code]
Thanks a lot!

[2020-09-04 19:30] #299 closed

[2020-09-04 19:31] Brawni commented on #299
Sorry apparently I don't know how to interrogate a SummarizedExperiment obj.
rowRanges (C13_counts) did the job!

[2020-09-04 21:17] rcorces commented on #298
I do not think this is currently possible in ArchR. I'm also not sure if it is possible in similar scRNA-seq packages for RNA data. If you have an example of how this is done elsewhere, we might be able to implement it.

I think if I were posed with this problem, I would create a new ArchR project with only the subset of cells I was interested in, then cluster them separately and identify the cell

[2020-09-05 21:46] bnprks opened #300 "addGeneScoreMatrix fails with ArrowFile inputs"
addGeneScore matrix has parameter validation error when `input` is given as a character vector of ArrowFiles. This is because `blacklist = getBlacklist(input)` throws a validation error when `input` is a character vector. Perhaps changing the default to something along the lines of `blacklist=if(is.character(input)) {getBlacklist()} else {getBlacklist(input)}` would be more user friendly

[2020-09-07 12:14] vimarin commented on #237
Hi,

for me it got resolved installing the presto package
install.packages("remotes")
remotes::install_github("immunogenomics/presto")

[2020-09-07 12:59] wangmhan commented on #237
Thank you for the reply.

I solved the problem by changing to consistent gene name. Previously my
geneScoreMatrix used geneName, while my scRNA data used geneID.

On Mon, 7 Sep 2020 at 14:14, vimarin <notifications@github.com> wrote:

[2020-09-08 01:13] Liyuanwang89 commented on #284
Any help?

[2020-09-08 01:56] barwe opened #301 "Get stuck when counting unique barcodes"
Here is my logfile
[code]
It has been counting unique barcodes for most of the day.

[2020-09-08 01:58] barwe commented on #301
I tried three times and encounted the same problem ~

[2020-09-08 10:03] #301 closed

[2020-09-08 19:20] ivanferrreira opened #302 "createArrowFiles fails with demultiplexed fragments"
Hi,

I have multiple samples that were sequenced in 8 separate runs, I demultiplexed the fragments file and merged/sorted, and then imported into ArchR. But as soon as that sort of input is used createArrowFiles encounters an error; I noticed that even gunzipping the tutorial file creates the same error message, so archR is struggling to read anything but tsv.gz files:

e.g.:

Using GeneAnnotation

[2020-09-08 23:06] jgranja24 commented on #302
Hi Ivan,

Try the `reformatFragmentFiles` function. They have to be bgzipped for tabix. Its incredibly misleading from 10x because there .gz = .bgz and i guess i havent helped much either...

[2020-09-09 00:32] yding9 opened #303 "getMarkerFeatures error, possibly due to very few cells in some groups"
**Attach your log file**
ArchR has a built-in logging functionality for all complex functions. You MUST attach your log file (indicated in the console output) to this issue. Just drag and drop it here.
[ArchR-getMarkerFeatures-338ef7da057bf-Date-2020-09-08_Time-16-27-58.log](https://github.com/GreenleafLab/ArchR/files/5191879/ArchR-getMarkerFeatures-338ef7da057bf-Date-2020-09-08_Time-16-27-58.log)

[2020-09-09 04:46] liaojinyue opened #304 "Heatmap of peak-to-gene links but using ATAC-seq-only co-accessibility"
Hi,

Thanks for this wonderful tool.

We only have scATAC-seq data and would like to have a figure similar to the plotPeak2GeneHeatmap. I understand that plotPeak2GeneHeatmap requires predicted mRNA expression from scRNA-seq data. I'm wondering if we can perform similar analysis using GeneScore from scATAC-seq data.

Thanks,
Jason

[2020-09-09 06:59] tsslab opened #305 "Subsetting an ArchRProject using list of specific barcodes"
Do not use this form to report a bug in ArchR Instead, use the "Bug report" option.

PLEASE FILL OUT THE RELEVANT INFORMATION AND DELETE THE UNUSED PORTIONS OF THIS ISSUE TEMPLATE.

**Describe the problem that your feature request would address.**
We ran several samples in a single channel on the 10X scATAC-seq platform and have used genetic demultiplexing to produce specific lists of barcodes ass

[2020-09-09 11:53] ivanferrreira commented on #302
Totally misleading from 10x, but you guys did a terrific pipeline!
Thank you, this works perfectly!

cheers

[2020-09-09 11:53] #302 closed

[2020-09-09 15:55] atimms opened #306 "pdf of UMAP has large point size"
**Describe the bug**
When printing a UMAP to PDF sometime the point size is really large (as in the attached file). I've tried changing point size, resolution and size of the PDF and this doesn't make any changes. The reason I consider this a bug is because I can run the same command and get different output.
code used:
p1 <- plotEmbedding(proj1, colorBy = "cellColData", name = "Clusters3")
plotPD

[2020-09-10 14:18] barwe opened #307 "simpleError in Matrix::sparseMatrix(...): all(dims >= dims.min) is not TRUE"
An error occurred at `addTileMat` in the first `createArrowFiles` step. Detailedly, it occurred when automatically calling Matrix::sparseMatrix to create tile matrix. I was puzzled about this error. It seems that there is NA in `dims`? This is the partial error message:
[code]
And this is the whole log:
[ArchR-createArrows-1054c504b0240-Date-2020-09-10_Time-17-04-42.log](https://github.com/Greenle

[2020-09-10 16:35] juliabelk opened #308 "module scores (eg from genescorematrix, like seurat addModuleScore)"
Would it be possible to add a function to combine multiple gene scores? Such as the addModuleScore function in Seurat?

https://rdrr.io/github/satijalab/seurat/man/AddModuleScore.html

Thanks!

[2020-09-10 16:50] ADNetworksPPG commented on #308
+1 I like this idea

[2020-09-10 16:50] rcorces commented on #308
+1 I like this idea

[2020-09-10 17:26] estroebele opened #309 "plotEmbedding Error"
I ran the code below a bit over a week ago and it worked perfectly. I tried to run the exact same thing today (using the same saved ArchR Project) and received the error below. I have attached the log files from the previous run and today's run. I am new to sc-ATAC-seq data analysis and fairly new to R so it is possible that there is something wrong on my end but I have not changed my code and the

[2020-09-10 17:53] #309 closed

[2020-09-11 01:49] rcorces commented on #306
Sorry if I'm misinterpreting your question.
Have you tried changing the `size` attribute in `plotEmbedding()`? This is supposed to change the size of the points on the plot.

[2020-09-11 01:51] rcorces commented on #305
I think the correct way to do this would be to use the `validBarcodes()` parameter in the `createArrowFiles()` function. This will create an arrow file just from the barcodes of interest. Feel free to close this issue if this solution works for you.

[2020-09-11 01:52] atimms commented on #306
I have changed the point size in plotEmbedding and get make the points larger but not smaller.

[2020-09-11 01:57] rcorces commented on #304
I dont think this would work. The logic seems circular. You derive the GeneScore from local accessibility and then ask if the local accessibility is correlated to the GeneScore. You could certainly plot a heatmap of ATAC-seq signal at peaks found through co-accessibility analysis but this does not sound like what you are looking for.

[2020-09-11 02:00] rcorces commented on #306
Can you try setting `rastr = FALSE` in `plotEmbedding()` and then try changing the point size? I think I've experienced a similar issue before related to rasterization but this may have been in a much earlier version of ArchR.

[2020-09-11 02:05] atimms commented on #306
that worked, thanks for your help.

Andrew

[2020-09-11 02:23] #304 closed

[2020-09-11 02:23] liaojinyue commented on #304
That makes sense. Thanks.
Jason

[2020-09-11 14:47] rcorces commented on #306
@jgranja24 - I tried to parse through the code for this but my interpretation might not be correct. Is it possible that the `default_aes` settings here are over-writing the point size in some instances? https://github.com/GreenleafLab/ArchR/blob/020757998cd87abb0414991b59b8424958679be0/R/GgplotUtils.R#L993

[2020-09-11 23:11] Seandelao opened #310 "Subsetted Arrow Files not retaining changes"
Hello,

Thank you for the fantastic package; as someone who has little to no scATAC experience I find it very easy to use and follow!

I am trying to combine multiple scATAC Seq data sets. I have performed filtering based on TSS, nFrags and doublets for each data set separately, then subsetted my cell type (clusters) of interest. I now want to take each of these ArrowFiles and create a new ArchR p

[2020-09-12 01:04] Seandelao commented on #310
I have also used subsetArchRProject() and got the same result.

[2020-09-13 21:25] bnprks commented on #310
I have also seen this behavior, I believe it is because ArchR only subsets the data matrices, but does not subset the list of cells in the file's metadata. Ideally this could get fixed in ArchR's subsetting code, but as a workaround you can manually call `subsetCells` after loading the project, while only passing the list of cells you want to keep.

[2020-09-13 21:42] bnprks opened #311 "Warning before overwriting data in `subsetArchRProject`"
Calling `subsetArchRProject` will overwrite files in the output directory if there is already an ArchR project stored there. In my case, I forgot to provide the `outputDirectory`, so then quickly ended up with subset projects overwriting each other.

I'd suggest requiring an argument like `force=TRUE` when there is an existing project in `outputDirectory`.

Overall, it may even be better to stop p

[2020-09-13 21:46] rcorces commented on #311
This is a good suggestion. Thanks @bnprks

[2020-09-14 02:21] #298 closed

[2020-09-14 02:28] hugokitano opened #312 "CNV Analysis"
Hi, I'm an ArchR user that was directed to this repository https://github.com/GreenleafLab/10x-scATAC-2019 to perform CNV Analysis since the feature is not yet officially available in ArchR.

I posted an issue there, but realized since that project is dormant it may be wiser to post it here. First, is CNV analysis available on ArchR developmentally?

If not, I have a few questions about how this r

[2020-09-14 03:35] rcorces commented on #312
CNV analysis is not currently available in ArchR. You may get a reply here about your other questions but no guarantees. I'll leave this open for now.

[2020-09-14 15:53] RegnerM2015 opened #313 "Visualizing matched RNA coverage in plotBrowserTrack()"
I think it would be beneficial to visualize RNA coverage in the `plotBrowserTrack()` function which now plots coverage for ATAC fragments. Would it be possible to implement something like this in ArchR? This procedure would be similar to deepTools: https://deeptools.readthedocs.io/en/develop/. deepTools essentially converts any BAM file to bigWig for visualization.

Perhaps it may be more straight

[2020-09-14 15:58] rcorces commented on #313
If implemented, it would seem to me that the appropriate solution would be to enable user-supplied bigwigs by adding another option to `plotSummary` (e.g. "userTrack") but this does seem a bit complex to control for all of the crazy things that end-users will try to do I think enabling plotting of *linked* RNA coverage would be more straightforward but I'm not sure if that is what you are asking f

[2020-09-14 16:10] RegnerM2015 commented on #313
Hi @rcorces,

I now realize the issue title was poorly worded.

Yes, that is exactly what I mean! I think it would be helpful to plot the linked RNA coverage to supplement the ATAC coverage information.  It is a bit unorthodox, but I have seen some papers that show coverage tracks for their matched bulk RNA/ATAC-seq.

Could you point me in the right direction for documentation on `plotSummary/user

[2020-09-14 16:38] rcorces commented on #313
Sorry - the "userTrack" doesnt exist - I was suggesting this as a generalizeable solution for users providing their own bigwig. currently, the linked RNA feature you are requesting does not exist in ArchR but I will leave this request open and we will do our best to address it.

[2020-09-14 16:40] RegnerM2015 commented on #313
Great! Thanks for considering my request and thank you for developing such a cool single-cell software package!

[2020-09-14 20:01] vimarin commented on #248
Hi girls and guys, I am rather new in R and ArchR.
I got same issue when trying to creat the arrow file.
In practice how did you handle it ? which code line ?

Thanks in advance and nice day

[2020-09-16 08:20] Sophiesze opened #314 "the number of validBarcodes are inconsistent with the cell number of ArchRproj"
Hi,

I was trying to run my 10Xdata.

I noticed the validBarcodes() parameter in the createArrowFiles() function. I try to input the validbarcode, a total of 17353 cells.

`wc -l output0916-demo/HC-1_validBarcode.csv
11399 output0916-demo/HC-1_validBarcode.csv`

`wc -l output0916-demo/HC-2_validBarcode.csv
5956 output0916-demo/HC-2_validBarcode.csv`

And this is my logFile when creating arrowfiles

[2020-09-17 06:45] Sophiesze commented on #314
I also tried to input the combined 10X obj (merged using cellranger-atac- aggr with no normalization). The number of validbarcodes is still 17353. However, the cell number of the ArchRproj is 15856 at this time.
<img width="593" alt="截屏2020-09-17 下午2 40 41" src="https://user-images.githubusercontent.com/53801318/93429451-c5f30180-f8f3-11ea-88b5-fd5dc5289290.png">

And then I noticed that 15856 is

[2020-09-18 16:06] RegnerM2015 commented on #275
Hi @jgranja24  and @rcorces,

I somehow missed the predictedCell column in the metadata of the ArchR project after `AddGeneIntegrationMatrix`.

This column will give the scRNA-seq cell barcode that is closest to the corresponding scATAC cell. Is this information derived from the Seurat anchor information? If so, my request to write the anchor set out to the working directory will not be necessary.

[2020-09-18 19:08] hypercompetent opened #315 "Error in addCellColData() when int data contains NA"
**Describe the bug**
I'm using `addCellColData()` to get some additional metadata into my ArchRProject. One of my columns has integers and NA values, which results in this error:

[code]

After digging around a bit, it looks like this originates from the test for integer validation in `.validInput()`:
https://github.com/GreenleafLab/ArchR/blob/a087e02578ef78a1656d60b0e5daf4c2040f7925/R/ValidationU

[2020-09-18 20:50] rcorces commented on #315
Thanks for reporting this. I think you have correctly diagnosed the problem.

[2020-09-18 23:46] RegnerM2015 opened #316 "Extra parameters for FindTransferAnchors in addGeneIntegrationMatrix"
Hi @jgranja24 and @rcorces ,

I have a question regarding the specific parameters that are involved in Seurat's `FindTransferAnchors` and `TransferData` when using the `addGeneIntegrationMatrix` function.

I would like to perform the RNA/ATAC integration using 1:50 nPCs (RNA) and 1:50 LSI dims (ATAC). How would I about doing this in ArchR? I think I can set the number of LSI dims using the transfe

[2020-09-19 06:33] parkjams opened #317 "error in addGeneScoreMat"
Hello - I am attempting to use the ArchR package to analyze several scATAC-seq data sets (generated from 10X chromium platform). From what I've seen and have heard, this package seems quite powerful and user-friendly.

Unfortunately, when I try to create an arrow file, I get an error when it gets to the section of determining .addGeneScoreMat. This leads to an a blank ArrowFile being created.

I'v

[2020-09-19 07:00] suragnair commented on #208
`archr_gene_score = getMatrixFromProject(archr_proj, "GeneScoreMatrix"`
 and then `rowData(archr_gene_score)$name` gives the gene names.

[2020-09-21 14:17] rcorces commented on #317
Can you recapitulate this error with the tutorial dataset?

[2020-09-21 14:19] yankiven commented on #199
i have the same error "getGeneAnnotation : ArchRPRoj is NULL and there is no genome set with addArchRGenome!", how to solve it

[2020-09-21 21:47] parkjams commented on #317
Thanks for the response, Ryan.

To answer your question, I was NOT able to reproduce the error with the tutorial dataset. Prior to trying reproduce the error with the tutorial dataset, I tried a few things including:
1) reinstalling the "GenomicRanges" package, as the error associated with the addGeneScoreMatrix() seemed to be related to the nearest.distance(), a function in the GenomicRanges pack

[2020-09-21 21:50] rcorces commented on #317
Thanks for following up and glad that your problem is resolved. I had a feeling this was a non-ArchR issue but please post again here if this crops up. I'm closing for now but will re-open if needed.

[2020-09-21 21:50] #317 closed

[2020-09-21 21:57] parkjams commented on #317
Will do - thanks again

[2020-09-23 20:09] gjcveenstra opened #318 "Error Could not identify keytype for annotation format!"
I am trying to get a custom reference to work with ArchR. I generated BSgenome, TxDb, OrgDb objects.
I got an error in createGeneAnnotation:
**Error in createGeneAnnotation(TxDb = xt_TxDb, OrgDb = xt_OrgDb) :
  Could not identify keytype for annotation format!**

The keytypes in TxDb seem to be normal

[1] "CDSID"    "CDSNAME"  "EXONID"   "EXONNAME" "GENEID"   "TXID"     "TXNAME"

What is the offe

[2020-09-23 22:12] parkjams opened #319 "plotting annotation to subset of ArchRProj"
I'm having issues regarding plotting annotation on the embedded umap of a ArchRProj subset. The relevant information is below per the recommended template. Please advise on how I might be able to fix or work around this issue.

Many thanks for creating this program, outside of a few minor issues and the one reported here, this package has been working quite well for me!

**Attach your log file**
[

[2020-09-23 22:20] rcorces commented on #319
Can you check this issue to see if it resolves your problem - https://github.com/GreenleafLab/ArchR/issues/146#issuecomment-630479662

If not, I'll try to dig more into your post

[2020-09-23 22:33] parkjams commented on #319
@rcorces - thanks for the quick response.

#146 thread helps - to confirm, when it was suggested to add a new embedding, am I to interpret that as running "addUMAP()" to the subset data/ArchRProj?

I'm assuming that all the subsequent analyses I've performed on the subset data only involves the subset data, correct?

Thank you for your help thus far!

[2020-09-23 22:42] rcorces commented on #319
Yes that is correct.

also correct.

[2020-09-23 23:06] rcorces commented on #318
We dont have a lot of experience working with custom genomes so it would help us if you troubleshoot this on your end.
Could you try manually stepping through the code for `createGeneAnnotation()` and see exactly where the problem occurs? The problem is occuring in this section - https://github.com/GreenleafLab/ArchR/blob/5f855d7b7ff3f57eb0d28f312c5ea5d373d27ebd/R/AnnotationGenome.R#L114

probably

[2020-09-24 00:24] parkjams commented on #319
Again - thanks for the quick response and confirmations!

Best!

[2020-09-24 00:24] #319 closed

[2020-09-24 00:36] RegnerM2015 opened #320 "Computing pvalue for Peak2Gene links and Co-accessibility"
Hi @rcorces and @jgranja24 ,

I would like to be able to compute the null distribution of correlation values in Peak2Gene links and co-accessibility analysis. For every peak-gene pair, you would sample 100 background peaks matched for GC content and fragment count and correlate each with the gene of interest.

I was looking at the source code for Peak2Gene linkage analysis:

[code]

It looks like

[2020-09-24 00:45] parkjams opened #321 "error in getFootprint function - Object does not exist in HDF5 file"
I've run into an error with the getFootprint(). Unfortunately I have not run this with the template data but I have included the relevant issue below.  Based on the error msg, it sound as if it's an issue with the data, but I am having difficulty interpreting the error msg and would appreciate any insight that can be offered.

Best.

**Attach your log file**
Unfortunately no log file was generated

[2020-09-24 04:04] rcorces commented on #321
Is it possible that you skipped the `addGroupCoverages()` step? My only suggestion is to go through the full tutorial using the tutorial data so that we can narrow down the realm of possible problems.

[2020-09-24 09:07] yankiven opened #322 "Error creating pseudoBulk replicates"
Hello developer:

I built my own genome locally,I have successfully run the tools until I have to create pseudo bulk profiles.
my genome info and error info(**chr01 Error in BSgenome[[availableChr[x]]] : no such sequence**) is as below:
================================================================
[code]
================================================================
[code]

[2020-09-24 10:28] parkjams commented on #321
I did run the addGroupCoverages(...) function prior to getFootprint(...).

I have not run through the tutorial steps with the tutorial data. I will give that a shot.

I appreciate your responses with the numerous questions I've had. I likely will be posting another problem as I've forged ahead through the tutorial despite this particular error. I hope you don't mind.

Again, thanks for your help!

[2020-09-24 11:38] gjcveenstra commented on #318
Thank you for your quick response.

Indeed, neither call to mapIds works, they both (ENTREZID and ENSEMBL) throw an error:

Error in .testForValidKeys(x, keys, keytype, fks) :
  None of the keys entered are valid keys for 'ENTREZID'. Please use the keys method to see a listing of valid arguments.

Same for ENSEMBL.
As a result, isEntrez and isEnsembl are both FALSE, resulting in the error message

[2020-09-24 11:44] #322 closed

[2020-09-24 13:36] rcorces commented on #322
If you think the solution that you found might help other users, feel free to post it here.

[2020-09-24 13:40] rcorces commented on #318
I think this speaks to a larger issue with custom genomes. We enabled custom genomes because enough users were interested, but since we dont have experience outside of human and mouse we have trouble anticipating all of the different problems that people will encounter.
Flagging @jgranja24 to address this but his response wont be swift as he is working on other aspects of ArchR.

[2020-09-24 18:48] gjcveenstra commented on #318
I looked further into this, and have a **question / potential feature request for ArchR**:
* For custom genomes, is it possible to forego integration with NCBI / Ensembl annotation resources, without a requirement for `OrgDb`, and just pass a valid `BSgenome` and `TxDb`  to ArchR? A lot of the functionality may just depend on having a genome and gene annotation (without linking the genes to other

[2020-09-25 01:26] yankiven commented on #322
The cause of this error is my own.  If you are constructing a **Custom** genome and this problem also occurs, you can first check your genome information.
- for example
[code]
Chromosome name in the outputs,
[code]
 If your chromosome name is chr01, but the chromosome name in your BSgenome is chr1, then this error will be reported

[2020-09-25 15:53] rcorces commented on #318
There are a lot of downstream functionalities of ArchR that depend on the OrgDb and TxDb annotations - mostly around gene-based analyses. We need to have some consistent framework to enforce and the chosen one makes the most sense for the vast majority of users.

I think the most plausible solution is to try to cobble together better documentation that makes the requirements clear for creating non

[2020-09-25 16:02] gjcveenstra commented on #318
Just for clarification: Of course one needs gene annotation for ATAC analyses. In the case of ArchR, my understanding is that you get the relevant coordinates out of TxDb.

So my comment only referred to the need for. If OrgDb could be made optional, that would be much help to research on non-human/mouse organisms.

But I understand where you are coming from, and I appreciate the time and effort y

[2020-09-25 16:12] rcorces commented on #318
@jgranja24 knows better than I do all of the places where OrgDb info might be used. I'll let him comment on that particular point.

[2020-09-27 09:17] Dragonlongzhilin opened #323 "dimension using in addIterativeLSI"
In the singular value decomposition (SVD)  method,  1st dimension is correlated with the depth of cell reads. I read the document of ArchR and found the param of "dimsToUse" is set 1:30. If I used the function of "addIterativeLSI" to reduce dimension, should I change the value to 2:30?

[2020-09-28 03:26] xiangrong7 commented on #296
I have met the same error,but I want to create new projects for different step or parameter.  I also tried the methods listed above and couldn't save the newly created projects.... have any suggestions ?

[2020-09-28 03:33] xiangrong7 commented on #296
I see, you can't save it under the output directory, it copies the output directory, if you save it under the output directory, it's like a loop.

[2020-09-28 03:39] xiangrong7 commented on #296
You can try "../test"

[2020-09-28 06:50] xiangrong7 commented on #289
I got same error ...

[2020-09-29 16:38] ewonglab opened #324 "Error in addReproduciblePeakSet peakMethod = "Tiles""
Hi,
I'm running into this error when trying to do this:

projTmp <- addReproduciblePeakSet(
    ArchRProj = proj_scATAC_ArchR_2,
    groupBy = "Sample",
    peakMethod = "Tiles",
    method = "p",
    force = TRUE
)

2020-09-30 02:26:42 : Computing Total Accessibility Across All Features, 0.082 mins elapsed.
2020-09-30 02:26:45 : Computing Pseudo-Grouped Tile Matrix, 0.133 mins elapsed.
2020-09-30

[2020-09-29 17:09] rcorces commented on #324
My assumption is that this is related to using the "Tiles" peak matrix which we don't normally do in our everyday use of ArchR and there could definitely be a bug here. If you have a chance, can you recapitulate the error using the tutorial dataset?

[2020-09-29 19:12] hugokitano opened #325 "Manipulating an ArchR Project: getting genomic ranges"
Is there a way to extract genomic ranges of the fragments of an ArchR project? I'm looking for something that will give me a GRanges object like this, where I can have the fragment tag as metadata:

<img width="700" alt="Screen Shot 2020-09-29 at 12 08 14 PM" src="https://user-images.githubusercontent.com/8139124/94604745-f79d8e00-024c-11eb-9b5a-ddc1d2ea0070.png">

Thanks!

[2020-09-29 19:30] rcorces commented on #325
This is not currently a feature. Of course you could manually do this using `getFragmentsFromArrow()` and merging etc but this is not what you are asking.
Can you describe the use case so that we can assess how beneficial this would be to other users?

[2020-09-29 21:53] jogiles commented on #307
Hello!

I think I am having the same error. The arrow files appear to be created, but there is an error during the creation of the tile matrix.

This is the code:

addArchRThreads(threads = 8)
addArchRGenome("hg19")
ArrowFiles <- createArrowFiles(inputFiles = inputFiles_fullPath,
                               sampleNames = names(inputFiles_fullPath),
                               filterTSS = 0,

[2020-09-29 22:00] bnprks opened #326 "addIterativeLSI changing seed does not change SVD result"
`addIterativeLSI` takes a `seed` parameter, but the SVD results do not change even if you pass a different `seed` value. Note that if cell sampling is used changing the seed will still change the output, but without cell sampling changing the seed value has no effect.

This is a bit of a twofer documentation / minor bug.
On the documentation side: Section 4.2 of the manual states

However, the exi

[2020-09-29 22:44] rcorces commented on #307
Sorry @barwe that this issue never got a reply. These are very hard to troubleshoot. Presumably this error does not occur with the tutorial data? I think for us to really help, we need a reproducible example. Most users arent will to send raw data that we can use. If you can give us a reproducible example, we can try to help.

[2020-09-29 22:58] jogiles commented on #307
@rcorces I am happy to share data to trouble shoot! What would be the best way to share a large file?

[2020-09-29 23:03] rcorces commented on #326
Thanks @bnprks

With respect to the bug, I believe your interpretation is correct. I've noticed similar issues in other functions (like #273) but had not caught this one.

With respect to the documentation:

Hmm. That was not my original experience. I did test each step of the process and came to a different conclusion. But in re-testing this now, I do see the same thing that you are seeing. I'm n

[2020-09-29 23:11] rcorces commented on #307
Any way that you have of getting us the files is fine by us. Dropbox, Google Drive, Amazon AWS. Feel free to email us at archr.devs@gmail.com

[2020-09-30 14:05] Sophiesze commented on #277
@arh223 @cschmidl
Hi, I also run into this problem. Have you solved this issue yet? Would it be possible to let me know how to fix this problem?
Thank you so much！

[2020-09-30 17:51] Meggie-MH opened #327 "Constrained Integration_error: Found cells for RNA not in colnames(seRNA)! Please retry your input!"
[ArchR-addGeneIntegrationMatrix-128b15ae3825b-Date-2020-09-30_Time-13-42-55.log](https://github.com/GreenleafLab/ArchR/files/5307359/ArchR-addGeneIntegrationMatrix-128b15ae3825b-Date-2020-09-30_Time-13-42-55.log)

+   ArchRProj = projskin2,
+   useMatrix = "GeneScoreMatrix",
+   matrixName = "GeneIntegrationMatrix",
+   reducedDims = "IterativeLSI",
+   seRNA = seRNA,
+   addToArrow = FALSE,
+   g

[2020-09-30 17:55] #327 closed

[2020-09-30 19:30] Meggie-MH opened #328 "error in plotEmbedding when adding Pseudo-scRNA-seq profiles for each scATAC-seq cell"
[ArchR-plotEmbedding-128b16f533e43-Date-2020-09-30_Time-15-23-09.log](https://github.com/GreenleafLab/ArchR/files/5307840/ArchR-plotEmbedding-128b16f533e43-Date-2020-09-30_Time-15-23-09.log)
When I run plotEmbedding when adding Pseudo-scRNA-seq profiles for each scATAC-seq cell, the following error message comes out.:

+   ArchRProj = projskin3,
+   colorBy = "GeneIntegrationMatrix",
+   name = ma

[2020-10-01 01:13] edt711 opened #329 "Changing the row order on motif enrichment heat maps?"
Hi ArchR team,

Thank you for putting together such an awesome program!! When making heat maps of motif enrichments, is there any way to manually set/change the order of the rows (which correspond to the clusters/cell types)? I know that you can set `binaryClusterRows = FALSE` in `plotEnrichHeatmap`, but then it just defaults to an alphabetical order. Is there a way to specify the order in which t

[2020-10-01 03:18] rcorces commented on #327
If you have any information on what was wrong and how you solved it, feel free to post it here for the benefit of other users. Thanks!

[2020-10-01 03:25] rcorces commented on #328
Given your other post (#327 ), my assumption is that something didn't go right with the integration. Do you know where the missing values / NaNs are coming from? Have you inspected the GeneIntegrationMatrix manually for the marker genes you are interested in? Are there missing values or NaNs there?

[2020-10-01 03:28] rcorces commented on #329
To the best of my knowledge this is not yet possible but is a good suggestion. I've added the enhancement label and we will look into it.

[2020-10-01 14:16] edt711 commented on #329
Awesome, thank you so much!

[2020-10-01 17:24] rojinsafavi opened #330 "TileMatrix"
I was wondering if you could explain what are the row names of the tilematrix?
I assume that it is the :

[code]

But I was wondering if you could explain what idx and start is?

[2020-10-01 17:30] rcorces commented on #330
I believe that `idx` is the index of the tile on that particular chromosome and `start` is the starting coordinate of the bin. The bin coordinates would then be `start + bin_size -1`

[2020-10-01 23:19] rojinsafavi opened #331 "fragments and tiles"
Is there a direct and fast way to know what set of fragments together are aligned to which tile (bin)?

[2020-10-02 02:48] rcorces commented on #331
This feature does not exist as far as I know. Can you let us know your use case so we can decide whether it makes sense to implement this?

[2020-10-02 03:08] Meggie-MH commented on #303
I ran into the same error message after I subset the date. Wonder if it's true that there is a limit of minCell for using getMarkerFeatures. It works just fine at the beginning when there are 10X more cells. Thanks!

[2020-10-02 15:17] rojinsafavi commented on #331
Thanks Ryan, So I am working on a model that requires knowing how the input fragments align to the tiles(bins) so that I can draw the right connections between the raw input and the bins.

[2020-10-02 15:37] rcorces commented on #331
Hmmm. And presumably you want this for specific clusters? I think your easiest work around would be to use ArchR to define the cells you care about, extract fragments from the Arrow files (`getFragmentsFromArrow()`) for those cells, merge those fragment files if needed, and then do this outside of ArchR. I think this is probably a rare use case that wont get implemented, at least not in the short

[2020-10-02 22:08] rojinsafavi commented on #331
Sorry so following up on my question, I noticed that the GeneScoreMatrix positions (rows), or neither from tile nor from the fragment file per se. I was wondering if there is a way to know how that is measured? Basically, I'd like to know how I can get to the GeneScoreMatrix from the tile (which I believe is the one used for a generation the GeneScoreMatrix)

[2020-10-03 00:15] jgranja24 commented on #331
The tile matrix is created from the fragments prior to GeneScoreMatrix computation (see MatrixGeneScores.R)

`
      .logDiffTime(sprintf("Creating Temp GeneScoreMatrix for %s, Chr (%s of %s)!", sampleName, z, length(geneRegions)),
        tstart, verbose = FALSE, logFile = logFile)

      #Get Gene Starts
      geneRegionz <- geneRegions[[z]]
      geneRegionz <- geneRegionz[order(geneRegionz$idx

[2020-10-03 00:21] jgranja24 commented on #326
I need to think a little about this more but do agree we should make this better

[2020-10-03 00:23] jgranja24 commented on #300
Yeah I agree Ill update getBlacklist to return null if input is character.

[2020-10-03 00:30] rojinsafavi commented on #331
My question is how can I get to the gene score matrix from the tile regions? I assume that tiles that overlay a gene body are merged together? If you can point me to where that piece of code is that would be great

[2020-10-03 03:15] rcorces commented on #331
I dont think this is straightforward to dissect but here you go:
https://github.com/GreenleafLab/ArchR/blob/ddcaae4a6093685875052219141e5ea41030fc55/R/MatrixGeneScores.R#L145

[2020-10-04 07:46] ewonglab opened #332 "Error in x$.self$finalize() : attempt to apply non-function in addReproduciblePeakSet"
I'm trying to call peaks with MACS and I get this error:

 proj_scATAC_ArchR_1 <- addReproduciblePeakSet(
+     ArchRProj = proj_scATAC_ArchR_1,
+     groupBy = "Sample")
Searching For MACS2..
Found with $path!
ArchR logging to : ArchRLogs/ArchR-addReproduciblePeakSet-25ea635f655391-Date-2020-10-04_Time-18-25-17.log
If there is an issue, please report to github with logFile!
2020-10-04 18:25:18 :

[2020-10-05 16:38] kvshams opened #333 "Jupyter notebooks keep dying on createArrowFiles()"
Jupyter notebooks keep crashing during the createArrowFiles()  . It works perfectly fine in R terminal. Notebooks keep crashing even at the `--NotebookApp.max_buffer_size` to the maximum memory.

[code]

[2020-10-05 17:45] rcorces commented on #333
Neither of us actively use Jupyter notebooks though I know that many end-users do these days.  If you have any additional insights as to what might be causing the crashing (for ex. a log file) that would be helpful.

[2020-10-05 18:20] kvshams commented on #333
I am getting this dead kernel in several other steps, not in all. Again all of them run in terminal without any issues. I guess wherever the package access the arrow files, it gets crashed?. If I run any of those steps in terminal and load back to `notebook` the remaining steps works without any problem

So far I am getting the dead kernel at `ArchRProject()`, `plotEmbedding()`

Here are some logs

[2020-10-05 18:51] kvshams commented on #333
This is the error message in `jupyter notebook` just prior to the dead kernel
[code]

[2020-10-05 19:36] rcorces commented on #333
Thanks for the follow up information. We will do our best to look into this. I dont anticipate a solution in the short term as we are trying to push other updates but we do appreciate the report.

[2020-10-05 21:30] Meggie-MH commented on #328
This is not related to #327 as it turns out to be a typo in my command. I checked "GeneIntegrationMatrix" and there is no NaN value found.

[2020-10-06 03:35] rcorces commented on #332
It looks like this type of error has to do with garbage collection in R. I dont think this is an ArchR error. From a cursory search, it sounds like this error is likely insignificant and the function may have completed successfully. Have you checked to see if this command returned the expected result? Did this actually add a peak set to your ArchRProject object? Does this error happen every time y

[2020-10-07 16:05] badoi commented on #333
I've had issues with notebooks for other instances when the notebook runs out of RAM and restarts. I've found that some multithreading during createArrow() is memory intensive, so this could be the issue. You might want to reduce threads. Or see if you can reproduce error in command line R/Rstudio instead of notebook.

[2020-10-07 16:26] jgranja24 commented on #333
Maybe this helps? https://stackoverflow.com/questions/55097211/jupyter-notebook-kernal-keeps-dying-low-memory

[2020-10-07 18:51] JamesDanielOReilly commented on #333
I am running into the same issue at the moment. I have a powerful PC with lots of RAM and a beefy CPU. The kernel still dies even with the number of threads set to 4.

[2020-10-07 18:54] rcorces commented on #333
can someone check or comment on @jgranja24 's suggestion above from stackoverflow?

[2020-10-07 21:53] kvshams commented on #333
single thread seems to be working. The @jgranja24 may work if running on a container (did not check) and the equialent of it is to increase the memory to the Jupyter  using `--NotebookApp.max_buffer_size` and seems to be not working. This crashes soon if we use more than one thread. Seems to be related to the `libzmq` way of calling the multithread [#3313.](https://github.com/zeromq/libzmq/issues/

[2020-10-07 22:35] rcorces commented on #333
Thanks @kvshams
Do we think this is something fixable on the ArchR side of things or is this a problem for Jupyter to address? I can add a warning about this in the docs either way

[2020-10-08 04:35] seishin0125 opened #334 "How to extract motif regions in whole genome or accessible regions in each cell/cluster?"
I performed the motif enrichment analysis and motif deviation analysis following the codes written in Chapter12 and 13.
Motifs whose accessibility was enriched in each cluster were successfully determined, however, I couldn't extract the "accessible" motif regions in each cell/cluster from ArchR project files.

This information would be greatly helpful to assume the downstream target of motifs, th

[2020-10-08 05:58] CSBioAzim opened #335 "How to creat a psuedo bulk peak profile for each smaple in each cluster?"
Hi,

I'm analyzing multiple samples across different conditions using Archer. I would like to create a bulk peak accessibility profile for each sample (aggregate all the cells in each sample for each cluster).
How can I do this in Archer?

[2020-10-08 13:56] rcorces commented on #335
Depends on what you mean by "bulk peak accessibility profile". Please clarify.

[2020-10-08 18:40] jgranja24 commented on #335
Yeah if you want aggregated matrices see `getGroupSE`

[2020-10-08 18:42] jgranja24 commented on #334
Umm you can identify the differential peaks per cluster and then you can subset those peaks from the motifmatches. Try `getMatches()` to get a peak x motif occurence matrix and then subset it with GRanges manipulations or by pasting the ranges i.e paste0(seqnames(gr),"_",start(gr),"_",end(gr)) and doing string intersection.

[2020-10-08 18:45] jgranja24 commented on #331
I think its not super straightforward but you should work through what is going on for each chromosome iteration -
[code]

[2020-10-08 18:50] jgranja24 commented on #328
Hmmm what happens if you do the following -

[code]

My guess is all the values are 0?

[2020-10-08 20:17] mfisher1995 opened #336 "Peak2Gene Linkage Heatmap Error"
Hello,

I am trying to assess Peak2Gene linkage with the plotPeak2GeneHeatmap() function and am getting the following error:

ArchR logging to : ArchRLogs/ArchR-plotPeak2GeneHeatmap-6b4d91d2ff5-Date-2020-10-08_Time-16-12-39.log
If there is an issue, please report to github with logFile!
2020-10-08 16:12:43 : Determining KNN Groups!, 0.054 mins elapsed.
2020-10-08 16:12:45 : Ordering Peak2Gene Link

[2020-10-09 21:39] j-andrews7 opened #337 "Allow additional user-supplied feature tracks in plotBrowserTrack"
**Describe the problem that your feature request would address.**
Often, plotting publicly available or custom browser tracks are very useful for providing context surrounding the ATAC-seq data, e.g. ChIP-seq peaks, etc. Currently, the only way to do this with ArchR is to export the pseudobulks as bigwigs (#47, #46, #54 ) and visualize in an external browser.

**Describe the solution you'd like**

[2020-10-10 02:39] xiangrong7 opened #338 "getMarkerFeatures error with peakmatrix"
Hello
I run getMarkerFeatures with peakmatrix,and I have got the error
[ArchR-getMarkerFeatures-19305200573b-Date-2020-10-10_Time-09-54-02.log](https://github.com/GreenleafLab/ArchR/files/5358332/ArchR-getMarkerFeatures-19305200573b-Date-2020-10-10_Time-09-54-02.log)

[code]
When  I run getMarkerFeatures with GeneScorematrix, It works well.
[ArchR-getMarkerFeatures-1930531cf941-Date-2020-10-10_Tim

[2020-10-10 03:10] rcorces commented on #338
can you show the output of `getAvailableMatrices()` https://www.archrproject.com/reference/getAvailableMatrices.html

and `getPeakSet()` https://www.archrproject.com/reference/getPeakSet.html

My only other idea is that other users that have used spaces in the names of their ArchR objects have had problems. It appears that your project has a ton of spaces in the names.

[2020-10-10 03:22] xiangrong7 commented on #338
OK , I run getAvailableMatrices() and getPeakSet().
[code]

[2020-10-13 03:39] rcorces commented on #338
My advice would be to re-run your analyses and not include spaces in any names of any objects. We dont really have a way to reproduce your error. If you re-run as suggested, please let us know if that fixes the problem.

[2020-10-13 05:57] lunazere commented on #176
Would it be possible to add a palette option also for the features?

I have call peaks using addReproduciblePeakSet on 4 specific clusters, and I would like to plot them separately. To make easier the visualization, I would like that the peaks and the pseudo-bulk track of cell type A are plotted with the same colour (and the same with the rest of cell types). Is there any way this can be done?

Th

[2020-10-13 14:37] rcorces commented on #176
@lunazere Thanks for posting. This looks like a duplicate of #337 . If you agree, please cross-post there since this issue is closed.

[2020-10-13 17:23] rdalbanus commented on #248
+1 to this when running `createArrowFiles` in parallel. No issues when running on a single thread.

[2020-10-13 21:35] hypercompetent opened #339 "Very minor: Typo in addDoubletScores() error"
I just spotted this when working with a super-small test dataset:

contniue -> continue

https://github.com/GreenleafLab/ArchR/blob/02aa9202857807e63037a6abd4472d0b65eebfad/R/DoubletsScores.R#L614

Cheers,
-Lucas

[2020-10-13 22:28] yxiao832 opened #340 "Differential deviation by ChromVAR"
Hi ArchR team,

I started using ArchR recently and it has been wonderful!

Just one comment on the ChromVAR analysis in ArchR.

The original ChromVAR has a function "differentialDeviations" which allows me to extract clusters of interest and do pairwise comparison between cluster A and cluster B.

I wonder whether ArchR can include this? or it's already in ArchR and I just missed it.

Thanks again

[2020-10-13 22:58] rcorces commented on #340
I believe what you are looking for would be using `getMarkerFeatures()` with `useMatrix="MotifMatrix"`. You will have to specify the correct argument for `useSeqnames` - this post might explain that https://github.com/GreenleafLab/ArchR/issues/55#issuecomment-614350514

[2020-10-14 01:30] jgranja24 commented on #337
Im a little confused what you mean here. You can use as input a list of GRanges for visualization into features.

For example :
`features = GRangesList(TrackA = GRanges, TrackB = GRanges)`

I think this is what you are desiring?

[2020-10-14 01:30] jgranja24 commented on #338
Can you retry with threads = 1? Sometime this error is from multi-threading issues with mclapply.

[2020-10-14 01:33] jgranja24 commented on #316
I believe first you need to set the dims in `addIterativeLSI` and then use that as input. I dont think the scRNA dims can be tuned for Seurat?

[2020-10-14 01:35] jgranja24 commented on #320
Hi @RegnerM2015 yeah I wasn't getting the best results when doing the other method. I can enable it in the next release.

[2020-10-14 01:45] jgranja24 commented on #320
I just added a param to `addEmpiricalPval` to `addPeak2GeneLinks` in the new release version.

[2020-10-14 01:47] jgranja24 commented on #339
Fixed this in the new release version! Thanks!

[2020-10-14 01:47] #339 closed

[2020-10-14 01:49] jgranja24 commented on #340
My recommended parameters when doing this is something like

[code]

[2020-10-14 01:49] #340 closed

[2020-10-14 01:50] jgranja24 commented on #335
Im closing this assuming `getGroupSE` which creates a bulk accessibility profile for peaks, deviations, gene scores works.

[2020-10-14 01:50] #335 closed

[2020-10-14 01:52] jgranja24 commented on #331
Im closing this assuming that maybe the information provided gives information to what you are trying to do. If you want to use hidden functions (functions that start with a ".") you need to call it with ArchR i.e. ArchR:::.getFragsFromArrow and just remember its best to do these analyses on a per chromosome basis.

[2020-10-14 01:52] #331 closed

[2020-10-14 01:55] jgranja24 commented on #326
I just committed a version (in release_1.0.0) now where the seed is passed to ArchR:::.computeLSI. I am closing this issue, feel free to re-open if needed.

[2020-10-14 01:56] #326 closed

[2020-10-14 02:09] jgranja24 commented on #214
Sorry for the late update on this --- you can add these motifs with the following code

[code]

[2020-10-14 02:12] jgranja24 commented on #305
You can also use subsetArchRProject with cells

[code]

Closing this issue, feel free to re-open if this is not what you were hoping for.

[2020-10-14 02:12] #305 closed

[2020-10-14 02:13] jgranja24 commented on #334
I am closing this issue, feel free to re-open if you need further assistance.

[2020-10-14 02:13] #334 closed

[2020-10-14 02:31] jgranja24 commented on #325
I have now added the function `getFragmentsFromProject` in the new release version. Closing this issue, feel free to re-open if this is not what you wanted

[code]

[2020-10-14 02:31] #325 closed

[2020-10-14 02:38] jgranja24 commented on #306
I removed the default aes, hopefully this helps. Also I think size when rastering is smaller than when not. Try to adjust the size param with rastr = TRUE to get your wanted size. Closing this issue, feel free to re-open if you feel this is not solved.

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())
`

[2020-10-14 02:38] #306 closed

[2020-10-14 04:09] jgranja24 commented on #291
Hi @Brawni

I have now did a small tutorial with a new function `getFragmentsFromProject` for you. I am closing this issue, if you have more issues feel free to open a new issue. Hope this helps!

[code]

[2020-10-14 04:10] #291 closed

[2020-10-14 04:35] jgranja24 commented on #324
Hi @ewonglab I think I identified the issue. There appears to be an error with saving the peaks as an RDS. Can you retry with the new release branch.

`
devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())
`

I have now added a safe saveRDS function -

[code]

[2020-10-14 04:38] jgranja24 commented on #311
I added this to the release version -

[code]

To install
`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())
`

I am closing this issue feel free to open a new issue if this does not work.

[2020-10-14 04:39] #311 closed

[2020-10-14 04:40] jgranja24 commented on #316
I also have now added the parameters to `addGeneIntegrationMatrix` for the scATAC LSI data -

[code]

[2020-10-14 04:45] jgranja24 commented on #316
First install the new release branch

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())
`

For the scRNA dimensions i believe you should use

dimsToUse - scATAC
dims, nPCs - scRNA

`addGeneIntegrationMatrix(dimsToUse=1:50, transferParams = list(dims = 1:50), nPcs = 50, dims = 1:50, ...)
`

This is because `#' @param ... Additional params to b

[2020-10-14 04:46] jgranja24 commented on #316
I am closing this issue, if you have any more issues please feel free to open a new issue!

[2020-10-14 04:46] #316 closed

[2020-10-14 04:49] jgranja24 commented on #323
Sorry for the delayed response (crazy times) -

We designed ArchR to handle this issue so you dont need to do anything. We agree that we should add a little extra documentation in the book tutorial.

see `corCutOff` in functions such as `addUMAP` which tests how correlated each dimension is to the depth of cell reads. Only in extreme cases is this filtration needed as this rarely is above 0.75 unl

[2020-10-14 04:49] jgranja24 commented on #323
I am closing this issue, If you have any more issues feel free to open another issue! Hope your analysis goes well!

[2020-10-14 04:49] #323 closed

[2020-10-14 04:58] jgranja24 commented on #315
Hi @hypercompetent, Thanks for the suggestion!

I have now added your suggestion in the new release branch

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())
`
For an example -

[code]

[2020-10-14 04:58] jgranja24 commented on #315
I am now closing this issue, if you have any more issues (with this or others) feel free to report! Thanks again!

[2020-10-14 04:58] #315 closed

[2020-10-14 05:03] jgranja24 commented on #287
Hi @nikostrasan,

Sorry for the delays (crazy times):

The code is available at the publication site. See below -

**For all steps look here**
[https://github.com/GreenleafLab/ArchR_2020/tree/master/ArchR_Benchmarking/BMMC-30k/ArchR](https://github.com/GreenleafLab/ArchR_2020/tree/master/ArchR_Benchmarking/BMMC-30k/ArchR
)

**Dimensionality reduction**
Heme_Small_Rep1-ArchR-3-ReduceDimsNoDoub.html

[2020-10-14 05:06] jgranja24 commented on #287
Basically  the analysis is -

[code]

[2020-10-14 05:11] yding9 commented on #303
After reading some of the source code, I came up with a naive thought. The bug should come from the hidden testMarkerSC function (rownames(scMaty) <- rownames(featureDFY)). It seems like when we have fewer cells the hidden function matchBiasCellGroups would return an empty object. And when this empty object is used to pull out the partial peak matrix we get an empty matrix. The error message comes

[2020-10-14 14:14] j-andrews7 commented on #337
Oh, that does seem likely. Is this documented anywhere? I'll give it a test later today.

[2020-10-14 14:32] rcorces commented on #287
@nikostrasan - Closing this. Feel free to post again if you need anything else and we can reopen.

[2020-10-14 14:32] #287 closed

[2020-10-14 14:40] rcorces commented on #311
Might be good to make that message more explicit by including: "forcing overwrite will overwrite any existing ArchRProject in the outputDirectory" or something.

[2020-10-14 14:53] rcorces commented on #320
@RegnerM2015 - if this provides a suitable solution for your suggestion, feel free to close.

[2020-10-14 15:57] ivanferrreira opened #341 "Returning loops as a GR object?"
Hello,

I'm trying to get the loop information from the peak2gene linkages so that they can be used to properly annotate the differentially accessible distal peaks (instead of using the nearestGene annotation from the PeakMatrix) - is there an easy way to do so?

I tried using getPeak2GeneLinks, which gives the scores but not the associated promoters.

Thanks,
Ivan

[2020-10-14 19:07] jeremybjelajac opened #342 "Unable to incorporate "ENCODETFBS" using addArchRAnnotations(ArchRProj = proj, collection = "EncodeTFBS")) while using mm10 ref genome"
Before you submit this issue please update ArchR to the latest version and make sure that this issue has not already been fixed in the latest release. ArchR is in *beta* and we will fix problems as they arise. To update ArchR:

devtools::install_github("GreenleafLab/ArchR", ref="master", repos = BiocManager::repositories())

If your issue persists, then please submit this bug report.

PLEASE FILL

[2020-10-14 21:48] rojinsafavi opened #343 "bam input"
Hello,

I am working with a non 10X ATAC dataset, and I was wondering if ArchR is capable of taking the bam files as input?

Thank you!

[2020-10-14 22:01] rcorces commented on #343
This isnt super-well documented (we're working on it). But yes, `createArrowFiles()` can take BAM as input - check the param options. This issue might also help https://github.com/GreenleafLab/ArchR/issues/292

Close if this answers your question

[2020-10-14 22:20] jgranja24 commented on #342
Hi @jeremybjelajac,

If you look further at the param descriptions -
[code]

All you need to do i believe is the following -

`proj_peaks_withAnnotation <- addArchRAnnotations(ArchRProj = proj_peaks, db = "Lola", collection = "EncodeTFBS")
`

Best

Jeff

[2020-10-14 22:22] jgranja24 commented on #342
I agree this is confusing because ArchR annotations are only for hg19 and hg38 I believe. While they include EncodeTFBS, so does LOLA which has annotations for mm9 and mm10. ArchR annotations are just a copy of LOLA annotations for these annotation sets so using directly LOLA will solve your problem.

[2020-10-15 00:45] yxiao832 commented on #340
Thank you for the answer!

One more question, can I do a differential test for three groups in ArchR?  such as Kruskal–Wallis test in the old "differentialDeviations" function.

[2020-10-15 00:47] jgranja24 commented on #293
Hi @suminwei2772,

I wouldnt recommend doing this type of integration because it forces you to merge cells and then relate clusters versus doing this at the single cell level. Nevertheless if you want to do this type of analyses Id do it like so -

[code]

This is the heatmap as you can see its an ok analysis but not as precise.

[Heatmap.pdf](https://github.com/GreenleafLab/ArchR/files/5381763/He

[2020-10-15 00:49] jgranja24 commented on #293
Im closing this issue (trying to get issues down for new release).
Feel free to re-open any other issues you may have.  Good luck
in your anlaysis!

Best

Jeff

[2020-10-15 00:49] #293 closed

[2020-10-15 00:56] jgranja24 commented on #303
Can you try this with the new dev version? I belive I fixed it but it would be helpful if you could test it out!

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())
`

Please make sure to close your session after installation reopen and call the function using ArchR::getMarkerFeatures if loading an Rdata object

[2020-10-15 00:59] jgranja24 commented on #289
Sorry for the delays....

Can you try this with the new dev version? I belive I fixed it but it would be helpful if you could test it out!

devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())

Please make sure to close your session after installation reopen and call the function using ArchR::getMarkerFeatures if loading an Rdata object

[2020-10-15 01:00] jgranja24 commented on #275
Yes @RegnerM2015 the nearest cell is derived from the Seurat anchor information. Okay I will close the issue! If you have any more issues feel free to open a new issue!

[2020-10-15 01:00] #275 closed

[2020-10-15 02:37] jgranja24 commented on #308
Hi @juliabelk,

Sorry for the delays. I am now adding an addModuleScore to the new release. To use this you can use the following little tutorial below-

[code]

![Uploading Screen Shot 2020-10-14 at 7.35.26 PM.png…]()

Hope this helps

Jeff

[2020-10-15 02:44] jgranja24 commented on #179
Hi @Liang-BGI,

Just run the data as usual and if you need to use "addHarmony" for batch effect correction.

I am closing this issue if you have more questions feel free to open a new issue!

[2020-10-15 02:44] #179 closed

[2020-10-15 02:45] jgranja24 commented on #66
I actually dont think this is something we want if users want to visualize gene data on their genome browser. I am closing this issue because I think this will stay gene-centric for now.

[2020-10-15 02:45] #66 closed

[2020-10-15 02:48] jgranja24 commented on #274
Sorry for the delay,

I believe you would need the percent explained from the LSI components and then I would still scale the components
or else you will observe batch effects.

To get the percent explained I think this may help

[https://stats.stackexchange.com/questions/171539/percentage-of-variation-in-each-column-explained-by-each-svd-mode](https://stats.stackexchange.com/questions/171539/perc

[2020-10-15 02:49] jgranja24 commented on #220
Sorry for the delayed response.. This is now available in the new release version

`
devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())
`

We show a brief tutorial here -

[https://greenleaflab.github.io/ArchR_2020/Ex-Analyze-Multiome.html](https://greenleaflab.github.io/ArchR_2020/Ex-Analyze-Multiome.html)

[2020-10-15 02:51] jgranja24 commented on #285
The scores will be NA in the samples that are lower R2 and thus you can use filterDoublets as normal.

Hope this helps!

Jeff

[2020-10-15 02:51] jgranja24 commented on #285
I am closing this issue feel free to open a new issue if you have further troubles!
Good luck with the analysis

[2020-10-15 02:51] #285 closed

[2020-10-15 02:52] jgranja24 commented on #217
This is now fixed on the release branch

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())
`

Closing this issue, if you have any more troubles please open a new issue!

Best

Jeff

[2020-10-15 02:52] #217 closed

[2020-10-15 02:58] jgranja24 commented on #270
This is now available in the new release branch `normMethod="None"`

To install -

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())
`

I am closing this issue feel free to open any issues you have in the future!

Best

Jeff

[2020-10-15 02:58] #270 closed

[2020-10-15 03:03] jgranja24 commented on #340
What do you mean by that?

[2020-10-15 07:08] xiangrong7 commented on #338
Sorry，I still got the same error like belown:
[code]

[2020-10-15 07:24] ewonglab commented on #324
Thanks for this - keen to test it out but having some issues installing the new release...

installing to /home/114/ew7430/R/x86_64-pc-linux-gnu-library/3.6/00LOCK-ArchR/00new/ArchR/libs
** R
Error in .install_package_code_files(".", instdir) :
files in '/scratch/zk16/ew7430/tmp/RtmpB9ZSGU/R.INSTALL15e71658f87bee/ArchR/R' missing from 'Collate' field:
  ModuleScore.R
ERROR: unable to collate and p

[2020-10-15 07:55] jgranja24 commented on #324
Can you try it again? Sorry I added a new function as a request and forgot to update the documentation which lead to the error you are getting. Still actively improving the release version!

Best

Jeff

[2020-10-15 07:56] jgranja24 commented on #338
Can you try this with the new dev version? I belive I fixed it but it would be helpful if you could test it out!

devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())

Please make sure to close your session after installation reopen and call the function using ArchR::getMarkerFeatures if loading an Rdata object

[2020-10-15 08:07] Sophiesze opened #344 "ERROR Found in .fastTSSCounts"
Hi GreenLeafLab,
I try to use 9 of my 10x data to run ArchR. One of my samples encountered `ERROR Found in .fastTSSCounts for`.
However, when I tried to input this sample seperately. There wasn't any bug reported.

Would it be possible for you to look into this?
Thank you so much.

Sophie

[ArchR-createArrows-56ca25a28024-Date-2020-10-15_Time-11-31-04.log](https://github.com/GreenleafLab/ArchR/fil

[2020-10-15 09:15] xiangrong7 commented on #338
Thank you for your efforts ,I have try reintall ArchR, reopen R and  call the function using ArchR::getMarkerFeatures. I still get the same error.
Maybe it's the same as What @rcorces  said,my project somewhere include a large space,even if I dont known. Early in the project, my custom gene annotaion(gene name )seemed to have some space, and even if I fixed it later, it might have had an impact. I

[2020-10-15 13:15] cschmidl opened #345 "Imputed weights are lost and can't be restored after saving and loading a project"
Dear Jeffrey and Ryan,

whenever I save and then load a project (either by loadArchRProject or readRDS - what is your recommendation to save/load project progress?) I lose the imputed weights. When plotting embeddings it returns "No imputeWeights found, returning NULL", also proj@imputeWeights is empty.

The imputed weights can't be restored by running addImputeWeights although the function runs w

[2020-10-15 13:48] yxiao832 commented on #340
This is what I found about the "differentialDeviations" function in ChromVAR (below).

In this function, it looks to me that when the input are more than two groups, it will be a different test such as Kruskal–Wallis test for non-parametric, which will tell me whether they are different in general across three or more different groups.

But in "getMarkerFeatures", it seems I can only do pair-wise

[2020-10-15 14:09] rcorces commented on #344
I havent seen this one before. What if you just use two samples? Does it still happen? If so, try setting `threads = 1` to see if this is an issue with parallelization.

[2020-10-15 14:12] ewonglab commented on #324
It's a bit variable - so it worked for one dataset but then failed again for another:

Error in .safelapply(seq_along(cellGroups), function(i) { :
Error Found Iteration 1 :
	[1] "Error in gzfile(file, mode) : cannot open the connection\n"
	<simpleError in gzfile(file, mode): cannot open the connection>
Error Found Iteration 2 :
	[1] "Error in gzfile(file, mode) : cannot open the connection\n"
	<si

[2020-10-15 14:26] #342 closed

[2020-10-15 16:03] rcorces commented on #345
I can confirm that I get the exact same behavior. Thanks for reporting this - we will figure it out. Sounds like this may be an issue on both the save and load ends @jgranja24 ?

[2020-10-15 16:18] RegnerM2015 commented on #320
I have one more question before closing, are the background peaks used in this calculation matched for GC content and accessibility?

[2020-10-15 16:19] #274 closed

[2020-10-15 18:29] breannesparta opened #346 "getmarkerfeatures* error in release 1.0.0"
Hi,

I've installed the most recent release of ArchR (1.0.0) in attempt to overcome a bug I was having in getmarkerfeatures (screen shot attached). Now I get an error much earlier in the pipeline, when plotting the initial UMAP of different cell clusters.

The error reads:

Error in check.length(gparname):
'gpar' element 'fontsize' must not be length 0
Calle: ggAlignPlots ... grob -> gpar -> valid

[2020-10-15 18:45] jgranja24 commented on #346
Ok I am looking into it

[2020-10-15 22:41] hugokitano commented on #325
Is there a way to get this by cluster instead of sample? I would think not, right?

[2020-10-15 22:59] jgranja24 commented on #325
There is a cellNames option see [https://github.com/GreenleafLab/ArchR/issues/291](https://github.com/GreenleafLab/ArchR/issues/291)

[2020-10-15 23:07] hugokitano commented on #325
thank you!

[2020-10-15 23:31] Brawni commented on #291
thanks a lot for this!

[2020-10-16 00:35] hugokitano opened #347 "scRNA integration with Seurat Object"
Hi, I am trying to run `addGeneIntegrationMatrix` with a Seurat object, and am running into an error. My guess was that the `groupRNA` parameter should be `orig.ident`, as is common with most Seurat metadata tables.

[code]
However, typing `seRNA@meta.data[,"orig.ident"]` into the console does correctly extract the column. Any ideas?

[ArchR-addGeneIntegrationMatrix-f5ce65aa9a17-Date-2020-10-15_Ti

[2020-10-16 01:02] jgranja24 commented on #347
Can you try

`seRNA$Group <- paste0(seRNA@meta.data[,"orig.ident"])`

I actually think this is a Seurat version error. From the logs your version is Seurat_2.3.4 you need at least Seurat v3 for integration analyses. I need to add an explicit check for this.

Hope that helps!

Jeff

[2020-10-16 01:05] jgranja24 commented on #346
Whats the code you tried above this? The logfile you attached shows it completed?

This isnt related to plotEmbedding
[code]

[2020-10-16 01:06] jgranja24 commented on #344
My guess is that you might have had a job crash which can kinda be sporadic with mclapply unfortunately. My guess is everything is fine besides that. I would look at the TSS by fragments plots. If they look fine then go for it!

Hope that helps

[2020-10-16 01:14] hugokitano commented on #347
Ah thanks!

[2020-10-16 01:14] #347 closed

[2020-10-16 02:38] breannesparta commented on #346
My apologies, you are correct!

That is the most recent log file that is outputed. I was confused because no umap plot is produced.

It looks like this is where my code is halted:

![image](https://user-images.githubusercontent.com/72580063/96206236-59344c80-0f1d-11eb-905a-e84e1ace7b79.png)

With the ArchR version available on bioconductor, this ran fine. In my original comment I was unclear about

[2020-10-16 02:41] Sophiesze commented on #344
Thank you so much!
I tried two samples without errors. I ended up creating Arrowfiles by splitting the samples and then merged into one when I create the ArchRproj.

[2020-10-16 02:41] #344 closed

[2020-10-16 03:09] jgranja24 commented on #346
Im still not following where the error is. Can you please show the exact code leading to the error. Thanks.

[2020-10-16 03:14] jgranja24 commented on #345
Hi @cschmidl,

I actually designed it to be this way because imputeWeights are tricky to keep track of
and are extremely fast to compute. We also dont use these weights for any analysis besides
visualization. The main challenge is checking that the imputeWeights hdf5 file matches exactly
with the loaded/saved project vs right now there really isnt a need for that type of checking. Ill
think about

[2020-10-16 03:19] rcorces commented on #345
This makes sense to me but the problem that @cschmidl noticed (and I recapitulated) is that after loading an ArchRProject, there seems to be a problem adding back the impute weights. The folder gets created but using `getImputeWeights` doesnt return the weights. This might be some sort of edge case but at least I was able to recapitulate this with the tutorial data.

[2020-10-16 04:03] breannesparta commented on #346
Sure, the code is halted specifically at the getmarkerfeatures command, using the genescore matrix.

Here is the code leading up to the error point:

memory.limit(size = 200000)

library(ArchR)
set.seed(1)
addArchRThreads(threads = 16)
addArchRGenome("hg38")

#input files, enter path
inputFiles<-("/media/timothyhamilton/data1/Tim_Hamilton/Breanne/scATAC/PCA01/fragments.tsv.gz")

ArrowFiles <- crea

[2020-10-16 06:18] cschmidl commented on #345
Yes I agree that it's no problem to compute the weights again but at the moment as Ryan pointed out you can't add them back to the project. That makes it practically impossible to continue working on a project after saving and loading, so I would be very grateful for a fix!
Cheers,
Christian

[2020-10-16 13:03] rcorces commented on #345
At the moment, you can save your entire R workspace and reload that. I'm
surprised this hasn't come up before which makes me wonder if it is a
problem specific to a certain configuration. Let's see if jeff can
recapitulate it on his end.

On Thu, Oct 15, 2020, 11:18 PM cschmidl <notifications@github.com> wrote:

[2020-10-16 17:07] rojinsafavi opened #348 "addMotifAnnotations"
How can I retrive the matrix after running the following command( the binary matrix showing if the motif exist in a peak or not):

`projHeme5 <- addMotifAnnotations(ArchRProj = projHeme5, motifSet = "cisbp", name = "Motif")`

Thank you

[2020-10-16 17:20] #348 closed

[2020-10-16 17:37] jgranja24 commented on #346
Do you have the logfile for the error?

[2020-10-16 17:37] jgranja24 commented on #348
`getMatches` should do the trick!

[2020-10-16 17:39] jgranja24 commented on #345
Hmmm I actually never had this issue. When you re-run addImputeWeights it should just overwrite the old ones?

From `addImputeWeights` it removes the files prior to recreation

[code]

[2020-10-16 18:08] cschmidl commented on #345
Yes it does overwrite the files in the folder, but the weights are not added to the project (the proj@imputeWeights
remains a List of length 0). I think the assigning the new weights to the project is the problem.

[2020-10-16 18:13] breannesparta commented on #346
no, no log file was produced

[2020-10-16 18:54] yding9 commented on #303
Thank you so much @jgranja24 ! I tested on the same dataset and it worked! Will let you know if I have problems going forward.

[2020-10-16 18:59] rcorces commented on #345
My apologies. I made a mistake in my code when I quickly recapitulated this problem (I blame confirmation bias!). I ***cannot*** recapitulate this error.

@cschmidl - perhaps you made the same mistake that I made. I forgot to store the output of `addImputeWeights()` into the `ArchRProject`.

[code]

[2020-10-16 20:14] cschmidl commented on #345
I made the same mistake and can add the weights! However I checked my code and it appears that I was using the <- operator only at the beginning of the project. Later I was working with a subset of the data with new clusters and LSI/Harmony, ran the  imputeweights again without the assign operator and the embeddings looked perfectly smooth - I can't explain that...Anyway, it works!
Thanks for the

[2020-10-16 20:14] #345 closed

[2020-10-17 02:38] yding9 commented on #303
After installation of the new dev version, I met problems when I created arrow files (running the createArrowFiles function) and added doublet scores (running the addDoubletScores function). I believe the problem is more related to the plotting module and I'm not able to open TSS_by_Unique_Frags.pdf and Doublet-Summary.pdf. Not sure if the plotting error would influence the downstream analysis.

A

[2020-10-17 02:56] jgranja24 commented on #303
Can you reinstall and retry this with the release brach. I just re-updated a function. Hopefully that helps!

[2020-10-17 03:23] rcorces commented on #303
@yding9 - in the future, please create a new issue given that your second problem was unrelated to your first.

[2020-10-17 03:54] jgranja24 commented on #300
This is now updated. Thanks for the help, I am closing this issue.

[code]

[2020-10-17 03:54] #300 closed

[2020-10-17 04:09] jgranja24 commented on #283
Hmmm I wonder if its best to force removeFilteredCells.... @rcorces what do you think? This bug is very bizzare.

[2020-10-17 07:40] ankushs0128 opened #349 "ArchR object as Signac object"
I am looking for an option to convert ArchR object to Seurat object for iterating resolution for cluster detection.  Is it possible to convert ArchR object to Seurat object? I tried using e.g.
x <- as.Seurat(x )
Error in UseMethod(generic = "as.Seurat", object = x) :
  no applicable method for 'as.Seurat' applied to an object of class "ArchRProject"

Thanks in advance

[2020-10-17 10:24] RyanYip-Kat opened #350 "error in addGeneExpressionMatrix in ArchR(realease-1.0)"
I got the error :
  unable to find an inherited method for function ‘seqnames’ for signature ‘"SummarizedExperiment"’

when I run addGeneExpressionMatrix .It is a bug in these packages

[2020-10-17 16:38] rcorces commented on #350
Thanks for posting. We would need more information to help you troubleshoot this. At first glance, this does not look like a problem with ArchR but rather a problem with how you are using ArchR. Please provide the core that you used to generate the error and the corresponding log file. Without this information, we are not able to respond.

[2020-10-17 16:41] rcorces commented on #349
I dont believe this feature request makes sense. Seurat is not designed to use ATAC-seq data and you can tweak parameters for cluster identification from within ArchR.  See the function definition:
https://www.archrproject.com/reference/addClusters.html
Especially the `...` argument which allows you to pass additional arguments to `Seurat::FindClusters()`. I'm closing this but if you feel that thi

[2020-10-17 16:45] rcorces commented on #283
Without fully understanding whats going on under the hood - I think its reasonable to get rid of the `removeFilteredCells` option and just force removal. If users dont want to remove those cells, then they can set the cutoffs to whatever they want. If they later want to remove cells based on QC metrics, they could do so by using `subsetArchRProject` for example.

I think in an ideal world `removeF

[2020-10-17 16:47] RyanYip-Kat commented on #350
I run  the pipeline  with  your code provived  in  the  pbmc.10k  tutorial.And  I  just got  this error in addGeneExpressionMatrix in ArchR. And I checked  the  seRNA   with seqnames(seRNA),actually,the  error produced  in  here

[2020-10-17 17:13] RyanYip-Kat commented on #350
[ArchR-addGeneExpressionMatrix-bba07e23015b-Date-2020-10-18_Time-01-07-24.log](https://github.com/GreenleafLab/ArchR/files/5396098/ArchR-addGeneExpressionMatrix-bba07e23015b-Date-2020-10-18_Time-01-07-24.log)
This is my log file

[2020-10-17 17:18] rcorces commented on #350
**Please provide the code that you used to generate the error**

[2020-10-17 17:26] ankushs0128 commented on #349
Apologies for the incorrect info. I meant Signac here. I would like to identify resolutions for the identification of clusters using scClustviz.  Hope it makes sense!

Thanks in advance

[2020-10-17 17:53] rcorces commented on #349
Sounds like a great feature request for the scClustViz team :)

I don't think this is currently supported and I'm not familiar with scClustViz. From a cursory glance, it isnt clear whether there are any assumptions made that would make it unwise to use such a tool for scATAC-seq data.  There are a lot of reasons why we wouldnt want to implement something that converts ArchR format to other formats

[2020-10-17 19:28] jgranja24 commented on #350
My guess is that you used 2 samples and this bug was fixed last night. Please reinstall the release version and I think this will clean up your problem!

Best

Jeff

[2020-10-17 19:30] jgranja24 commented on #350
If you want to continue my guess is seRNA for you is a list right now so you could do to fix it...

`seRNA <- Reduce("cbind", seRNA)`

The code change last night fixed this

[code]

[2020-10-17 19:47] jgranja24 commented on #349
Hi @ankushs0128,

If you use `getMatrixFromProject` it returns a summarized experiment. This can be converted to a Seurat/Signac object with `as.Seurat`. You can then add your reduced dimensions as follows

[code]

Best

Jeff

[2020-10-17 19:49] jgranja24 commented on #338
Thanks, can you attach the logfile?

[2020-10-17 22:04] #349 closed

[2020-10-17 23:32] stem-sam commented on #202
Hello,

I, too, am getting an error just as @juliabelk is experiencing. Despite the fact that I have "Current ones" that I've made previously (ArchR_object@reducedDims$LSI*), the addGeneIntegrationMatrix() fails with the same error as above ("Reduced dimensions not in computed reduceDims, Current ones are: etc. etc.).

Thanks you for your help!

proj_ATAC <- addIterativeLSI(
  ArchRProj = proj_ATA

[2020-10-18 00:10] juliabelk commented on #202
in case its helpful to anyone here is a workaround which I have been using

[code]

[2020-10-18 00:54] rojinsafavi opened #351 "peak names"
How can I obtain the peak names after peak calling? ( ex Chr1:1:500)

[2020-10-18 05:57] jgranja24 commented on #202
I see the issue, the problem was `addImputeWeights` was being called without supplying it with your reduceDims. I was able to reproduce this bug and it is now fixed in the release branch. See below -

[code]

[2020-10-18 05:58] jgranja24 commented on #351
`getPeakSet(ArchRProj)` or `getPeakSet(ArchRProj) %>% {paste0(seqnames(.), ":", start(.),"-",end(.))`

[2020-10-18 06:27] jgranja24 commented on #346
Hi @breannesparta,

I think the bug was with plotMarkers which has been fixed in the newest release version.

To install

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())
`
Also getMarkerFeatures has a logfile--

[code]

Best

Jeff

[2020-10-18 07:24] stem-sam commented on #202
Thank you @juliabelk for the workaround, and thank you @jgranja24 for fixing the bug!

[2020-10-18 07:37] xiangrong7 commented on #338
There is my logfile.
[ArchR-addPeakMatrix-3e405101007b-Date-2020-10-18_Time-14-42-29.log](https://github.com/GreenleafLab/ArchR/files/5397166/ArchR-addPeakMatrix-3e405101007b-Date-2020-10-18_Time-14-42-29.log)

My genome has 91 scafford,but only 45 scafford have Peak.There has some influence ?
[code]

[2020-10-18 22:31] jgranja24 commented on #338
The logfile should be ArchR-getMarkerFeatures-....log?

Best

Jeff

[2020-10-19 00:20] RyanYip-Kat commented on #350
ArrowFiles=c("/scATAC/ArchR/20201010/ArchR_results/CEpi_Mouse2/Save-ProjHeme/ArrowFiles/MSCE-24h-1-ATAC.arrow","/scATAC/ArchR/20201010/ArchR_results/CEpi_Mouse2/Save-ProjHeme/ArrowFiles/MSCE-24h-2-ATAC.arrow")

H5CountsFiles=c("/Data/MSCE-24h-1-RNA/outs/filtered_feature_bc_matrix.h5","/Data/MSCE-24h-2-RNA/outs/filtered_feature_bc_matrix.h5")

Samples=c("MSCE-24h-1-ATAC","MSCE-24h-2-ATAC")

seRNA <

[2020-10-19 00:22] RyanYip-Kat commented on #350
my seRNA ：

class: SummarizedExperiment
dim: 31017 15489
metadata(0):
assays(1): counts
rownames(31017): Xkr4 Gm1992 ... Vmn2r122 CAAA01147332.1
rowData names(4): feature_type genome id name
colnames(15489): MSCE-24h-1-ATAC#AAACCCAAGAGCTGAC-1
  MSCE-24h-1-ATAC#AAACCCAAGCGCCTAC-1 ...
  MSCE-24h-1-ATAC#TTTGTTGTCCAGGACC-1 MSCE-24h-1-ATAC#TTTGTTGTCGCTTACC-1
colData names(0):

my proj ：
 class: ArchRPr

[2020-10-19 02:36] xiangrong7 commented on #338
Sorry,There is getMarkerFeatures logfile.
[ArchR-getMarkerFeatures-3e40b469b81-Date-2020-10-19_Time-10-29-05.log](https://github.com/GreenleafLab/ArchR/files/5398726/ArchR-getMarkerFeatures-3e40b469b81-Date-2020-10-19_Time-10-29-05.log)

[2020-10-19 02:43] jgranja24 commented on #338
Umm it says you are still on **ArchR_0.9.5** in that file please use the release version and retry!

Thanks

Jeff

[2020-10-19 03:02] xiangrong7 commented on #338
I have tried ArchR_1.0.0. Attach the logfile 👍
[ArchR-getMarkerFeatures-208f4cd5d91-Date-2020-10-15_Time-16-53-58.log](https://github.com/GreenleafLab/ArchR/files/5398783/ArchR-getMarkerFeatures-208f4cd5d91-Date-2020-10-15_Time-16-53-58.log)

[2020-10-19 04:23] jgranja24 commented on #350
The seRNA from your logfile is not a Summarized Experiment like you show here

[code]

Can you retry with a Summarized Experiment and if the bug occurs post the associated log file!

Thanks

Jeff

[2020-10-19 04:30] jgranja24 commented on #338
Hi @xiangrong7 thanks for being patient. Can you re install the release branch 1 more time and then retry. I added a few more logging steps so we can better diagnose whats going on!

devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())

Best

Jeff

[2020-10-19 04:43] RyanYip-Kat commented on #350
[ArchR-addGeneExpressionMatrix-243fc559820-Date-2020-10-19_Time-08-20-06.log](https://github.com/GreenleafLab/ArchR/files/5399113/ArchR-addGeneExpressionMatrix-243fc559820-Date-2020-10-19_Time-08-20-06.log)
This is the new log file

[2020-10-19 04:56] jgranja24 commented on #350
So the error is no overlap. I need to throw an error here

[code]

Can you show

`sum(proj$cellNames %in% colnames(seRNA))`

and

`sum(colnames(seRNA) %in% proj$cellNames)`

Thanks!

[2020-10-19 04:57] PeggySze opened #352 "simpleError in H5Lcreate_external when creating Arrow Files"
Hi I encountered an error when  creating arrow files. The following is the error information :
[code]
And here is the information of my R session :
[code]
I also attach my ArchRLogs. [ArchR-createArrows-2f9331ab83c12-Date-2020-10-19_Time-10-03-34.log](https://github.com/GreenleafLab/ArchR/files/5399141/ArchR-createArrows-2f9331ab83c12-Date-2020-10-19_Time-10-03-34.log)
Does anyone know how to fix

[2020-10-19 08:10] RyanYip-Kat commented on #350
![Uploading 1603095035(1).jpg…]()

[2020-10-19 14:10] xiangrong7 commented on #338
Hi @jgranja24 , I reinstall and re-run analysis.Thanks for your help.

[ArchR-getMarkerFeatures-11365be22fb8-Date-2020-10-19_Time-21-53-06.log](https://github.com/GreenleafLab/ArchR/files/5402398/ArchR-getMarkerFeatures-11365be22fb8-Date-2020-10-19_Time-21-53-06.log)

[2020-10-19 14:28] rcorces commented on #202
@jgranja24 - what was the fix here? better error reporting? Just checking to make sure documentation doesnt need to be updated.
Also - typo in "reduceDims" in the error report:

[2020-10-19 14:29] #351 closed

[2020-10-19 14:30] rcorces commented on #352
Can you recapitulate this error with the tutorial dataset?

[2020-10-19 17:00] jgranja24 commented on #338
I see the issue i think. There is 1 feature on Scaffold28 which is leading to the sparseMatrix -> vector conversion.

see

[code]

vs

[code]

Im working on a fix now.

Best

Jeff

[2020-10-19 17:12] jgranja24 commented on #338
So i am now adding this check -

[code]

[2020-10-19 20:25] jgranja24 commented on #338
Ok so the fix is now in the release version. Hopefully this works!

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())
`
Jeff

[2020-10-19 23:57] willey2020 commented on #111
Hello! Could I ask how I should properly import bulk ATAC reads/bam files into the seATAC SummarizedExperiment object? Thank you very much!

[2020-10-20 00:00] badoi commented on #111
You’ll need to define a set of genomic regions with a Bed file or GTF/gff file of your choice. I like using the featureCounts function from the Subread package to get a count matrix from bam files over a set of regions into an SE object.

[2020-10-20 01:50] willey2020 commented on #111
Thank you so much BaDoi, I will give it a try right away following your suggestion.

[2020-10-20 03:11] jgranja24 commented on #202
There was a bug with addImputeWeights was being called without supplying it with your reduceDims. I am closing this issue. Feel free to open a new issue if there are others!

[2020-10-20 03:11] #202 closed

[2020-10-20 03:12] jgranja24 commented on #343
Hi @rojinsafavi,

Are you still having difficulties?

[2020-10-20 03:12] jgranja24 commented on #341
Hi @ivanferrreira,

Has your issue been resolved?

Best

Jeff

[2020-10-20 03:13] jgranja24 commented on #337
Hi @j-andrews7,

Has your issue been resolved?

Best

Jeff

[2020-10-20 03:27] jgranja24 commented on #336
Hi @mfisher1995,

Sorry for the delay. The numberOfCells should be 1 in the printing function. Can you try installing the new release version and re-running. I just added a few extra logging steps so I can diagnose the issue!

To install -

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())
`
Best

Jeff

I added -

[code]

[2020-10-20 12:47] asmagen opened #353 "library(ArchR) hangs after setting default threads"
Hello,

I'm unable to run ArchR since the initial library call is already setting an arbitrary number of threads that's too high for my system configuration and therefore it's getting stuck for a long while until it fails and crashes.
[code]

How can this be resolved?

Thank you

[2020-10-20 14:26] rcorces commented on #353
I think that is unlikely the cause of the problem. At least the act of setting the cores doesn't **use** multiple cores. Its just setting an environment variable. I suspect there is something else going on here but I guess it is possible that I'm missing something.
This is the relevant code for what is happening when the number of threads is set:
https://github.com/GreenleafLab/ArchR/blob/02075799

[2020-10-20 15:08] asmagen commented on #353
That’s correct, the Cairo tests is stuck although the package is installed and is functional. What can be done about it?

On Oct 20, 2020, at 10:26 AM, Ryan Corces <notifications@github.com> wrote:

USE CAUTION: External Message.

I think that is unlikely the cause of the problem. At least the act of setting the cores doesn't
use multiple cores. Its just setting an environment variable. I suspect

[2020-10-20 15:12] rcorces commented on #353
I have a feeling that Cairo is not functional.

What happens when you type:
[code]
This is the part that it is hanging on but perhaps it will give you some useful output.

[2020-10-20 15:13] asmagen commented on #353
When I try to run the Cairo test manually it does work:

Setting default number of Parallel threads to 4.

null device 

          1 

And curiously after running that, the original test and package loading works...

On Oct 20, 2020, at 10:26 AM, Ryan Corces <notifications@github.com> wrote:

USE CAUTION: External Message.

I think that is unlikely the cause of the problem. At least the act of set

[2020-10-20 15:16] rcorces commented on #353
what if you run the whole try-catch statement? does it hang?
[code]

[2020-10-20 15:18] rcorces commented on #353
sorry. didnt see your original statement

Maybe try restarting R and making sure that the `library(ArchR)` command runs ok  in a fresh session? No idea why this behavior would happen though.

[2020-10-20 15:18] asmagen commented on #353
It ran okay

Is it possible it has something to do with using or not using unix screen on the server while setting up an interactive job?

On Oct 20, 2020, at 11:16 AM, Ryan Corces <notifications@github.com> wrote:

USE CAUTION: External Message.

what if you run the whole try-catch statement? does it hang?
  tryCatch({
    Cairo::Cairo(type='raster')
    dev.off()
    TRUE
  }, error = function(e

[2020-10-20 15:21] asmagen commented on #353
I logged out of everything in that server and entered again and now it works normally. Still setting up 24 threads but it doesn’t hang. Odd behavior.

On Oct 20, 2020, at 11:18 AM, Ryan Corces <notifications@github.com> wrote:

USE CAUTION: External Message.

sorry. didnt see your original statement

And curiously after running that, the original test and package loading works...

Maybe try restar

[2020-10-20 15:22] #353 closed

[2020-10-20 15:29] yxiao832 opened #354 "Identification of positive TF regulator"
Hi,
I have a question regarding Step15.4.

The example here is to analyze positive correlation of TF expression and motif across all cell groups. Now I want to analyze the enriched motif sets I identified in cell groupA (by pair-wise comparison between cell groupA vs cell groupB) whether has positive correlation to its RNA expression in cell groupA.

Should I do the following?
Step1 get deviation

[2020-10-20 15:42] j-andrews7 commented on #337
Yes, sorry. This works well. Is there any way to set the order of how the peaksets are plotted? I'm not really sure how that's determined, but changing the order of the `GRangesList` doesn't seem to affect it.

[2020-10-20 16:52] jgranja24 commented on #354
I believe if you just subset it should work ie

[code]

Best

Jeff

[2020-10-20 16:58] jgranja24 commented on #337
Its just a standard ggplot factor ordering but I now made it where the order is based on the list order.

i.e

`featureO$name <- factor(paste0(featureO$name), levels=names(featureList))`

This update will be present in the release branch

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())
`
PS whenever dealing with factor ordering consider add

[2020-10-20 17:04] j-andrews7 commented on #337
Excellent, thanks. Where possible, I don't like using the numeric prefixes, as it messes with the aesthetic and means additional editing after the fact.

Closing this, thanks for the quick answers.

[2020-10-20 17:04] #337 closed

[2020-10-20 17:10] jgranja24 commented on #350
Hi @RyanYip-Kat,

Your image isnt fully uploaded. Can you repost it?

Best

Jeff

[2020-10-20 17:11] jgranja24 commented on #337
No worries I just do this whenever packages dont have the flexibility or i am lazy and just will deal with it in AI.

Best

Jeff

[2020-10-20 17:54] ankushs0128 commented on #349
Thanks,  i will check it out

[2020-10-20 18:28] asmagen opened #355 "Get GeneScoreMatrix"
How do I get the GeneScoreMatrix? I see only internal functions such as getFeatureDF that may have the right functionality but it's not exported.

Thanks

[2020-10-20 18:37] jgranja24 commented on #355
`getMatrixFromProject(ArchRProj, "GeneScoreMatrix")`

best

jeff

[2020-10-20 20:44] badoi commented on #338
I had the same issue that was fixed w/ the newer release version.

[2020-10-20 23:45] rojinsafavi commented on #343
Actually yes. So I am using a bam file generated from paired-seq tech. And it seems that reads are single-ended. And it seems that ArchR is no able to obtain fragments

[code]

[2020-10-20 23:59] jgranja24 commented on #343
Umm what kind of tech? ATAC-seq is **always** paired-end.

[2020-10-21 00:02] rojinsafavi commented on #343
[ArchR-createArrows-3c29554455edf-Date-2020-10-20_Time-16-42-03.log](https://github.com/GreenleafLab/ArchR/files/5412307/ArchR-createArrows-3c29554455edf-Date-2020-10-20_Time-16-42-03.log)
 I attached the log file. The data is from

this is the paper that I'm using its data :
https://www.nature.com/articles/s41594-019-0323-x

and this is what they  said regarding the dataset
"As you can see in Fig

[2020-10-21 01:09] jgranja24 commented on #343
Hi @rojinsafavi,

Ive been looking into this and ultimately this is not something I can support at this time. This is extremely challenging to account for such a custom analysis (see below). The bams contain both ATAC and RNA data. We support the new 10x multiome kit, but this is much more involved compared to that.

Reads were first mapped to a reference genome with STAR (version: 2.6.0a61), with

[2020-10-21 01:11] jgranja24 commented on #343
My suggestion is to figure out how to extract the relevant reads into R (See things like GenomicAlignments and Rsamtools) and save a simple fragments file for input as ArchR. If you can get the reads with cell barcodes into a GRanges object I am happy to help from there. Beyond that, I dont think I can help with too much else. I am closing this issue, if you get the fragments into R and need help

[2020-10-21 01:11] #343 closed

[2020-10-21 03:17] yding9 commented on #303
Thank you both @rcorces @jgranja24! Will open a new issue going forward.

[2020-10-21 03:17] #303 closed

[2020-10-21 06:28] xiangrong7 commented on #338
The error was fixed ! You are wonderful. Thank you! @jgranja24

[2020-10-21 06:28] #338 closed

[2020-10-21 16:58] gbloeb opened #356 "Footprinting Plot documentation"
**Where is the problematic documentation?**
The explanation of footprints in Section 14.2 of the user manual

**Describe what is unclear or confusing**
I do not understand what the "Tn5-Bias Normalized Insertions" (bottom plot) is showing.  What is being used to normalize here?  Why do these graphs tend to show overlapping curves for each cell type (in contrast to the top plots)?

[2020-10-21 21:06] jgranja24 commented on #356
It just the expected Tn5 bias from a hexamer model. It is normalized so the flanks = 1. The expected bias is similar for each sample since it is based on Tn5 and not scATAC-seq data.

[2020-10-21 23:01] breannesparta commented on #346
Hi Jeff,

Thank you for the update. With this new version, I was able to run the pipeline up to where I was getting my original error! Unfortunately the original error persists. I think it is a different instance of a bug in plotMarkers (screen shot attached).

![image](https://user-images.githubusercontent.com/72580063/96798391-ae58de00-13b5-11eb-9564-30ea57621cbc.png)

The error occurs after I c

[2020-10-22 01:58] yxiao832 commented on #354
Thanks! I subsetted the ArchRProj and did everything using the instruction. That worked!

This command
" lapply(seq_len(ncol(seZ)), function(x){
  rowMaxs(assay(seZ) - assay(seZ)[,x])
}) %>% Reduce("cbind", .) %>% rowMaxs"

seems can be simplified to rowMaxs(assay(seZ)) - rowMins(assay(seZ)) to get Max delta   - or maybe I misunderstood your function

Yang

[2020-10-22 01:58] #354 closed

[2020-10-22 02:32] yxiao832 commented on #214
I got an error message when I try to run the code (i just installed the updated ArchR):

Warning message in gzfile(file, "rb"):
“cannot open compressed file 'Vierstra-Human-Motifs.rds', probable reason 'No such file or directory'”
Error in gzfile(file, "rb"): cannot open the connection
Traceback:

1. readRDS("Vierstra-Human-Motifs.rds")
2. gzfile(file, "rb")

[2020-10-22 02:34] jgranja24 commented on #214
did you download the motifs?

[2020-10-22 02:37] yxiao832 commented on #214
the error appears after I run
motifPWMs <- readRDS("Vierstra-Human-Motifs.rds")

[2020-10-22 02:47] jgranja24 commented on #214
You need the motif file - wget https://jeffgranja.s3.amazonaws.com/ArchR/Annotations/Vierstra-Human-Motifs.rds

You can check this
`file.exists("Vierstra-Human-Motifs.rds")`

[2020-10-22 04:22] jgranja24 commented on #214
Turns out it wasnt a public downloadable link please try again!
[code]

[2020-10-22 20:31] yxiao832 commented on #214
it worked now! Thanks!

[2020-10-22 21:21] wfma opened #357 "createArrowFiles() failed with tutorial data"
Hello! I am following the tutorial listed on [here](https://www.archrproject.com/articles/Articles/tutorial.html#creating-arrow-files)

I installed the latest version of ArchR and got an error message when creating Arrow files.

[code]

[ArchR-createArrows-180903e703b5e-Date-2020-10-22_Time-15-48-25.log](https://github.com/GreenleafLab/ArchR/files/5425872/ArchR-createArrows-180903e703b5e-Date-2020

[2020-10-23 02:50] yxiao832 opened #358 "human motif annotation on mouse data"
Hi Jeff,
My dataset is from mouse and I first tried to use JASPAR 2018 mouse to annotate peak and correlate with TF expression in step 15.4. It runs well.

One issue is the JASPAR 2018 mouse core is a bit limited, so I used JASPAR 2018 human to annotate peak and generated ChromVAR motif matrix using human motif database. However, when I tried to use "correlateMatrices" to get the correlation, it g

[2020-10-23 03:02] rcorces commented on #357
Currently, we have not benchmarked ArchR in R version 4. I'd discourage using v4 and encourage using v3.6.*.
Secondly, try setting the threads used to 1 to disable parallel computing. This might be the issue. `addArchRThreads(1)`

[2020-10-23 13:38] wfma commented on #357
okay! thank you for the suggestions. I will close the issue now and reopen if I run into issue again!
Thanks again,
Wei

[2020-10-23 13:38] #357 closed

[2020-10-23 13:46] wfma commented on #357
hey so sorry but i cant find the branch for 3.6 on the github page, can you advise?

[2020-10-23 14:08] rcorces commented on #357
Sorry if I was unclear. I was referring to the version of R that you are using (4.*). We have not benchmarked ArchR in R version 4 and there have been reports of some version related issues. I was not referring to your version of ArchR

[2020-10-23 14:10] wfma commented on #357
my bad! i misunderstood. thank you!

[2020-10-23 18:33] wfma opened #359 "problem with aggregated cellranger output"
Hi!

I am working thru the tutorial and also trying to apply it directly to my own dataset. I have a ds that contains 44 samples that were aggregated using the cellranger-aggr function. Despite being able to run the tutorial to generate my arrow files using the PMBC data, I am unable to do so with my own data and the log is cryptic:

**Attach your log file**
[ArchR-createArrows-2e1531755c119-Date-

[2020-10-23 19:32] jgranja24 commented on #359
Can you try` reformatFragmentFiles` there are subtleties associated with being a **tabix** fragment file. That would be my first guess!

Let me know if that works!

Best

Jeff

[2020-10-23 19:35] jgranja24 commented on #359
I will also say that you may be better off using the 44 individual fragment files prior to cell ranger aggr. Doublet calling will be much more difficult if you do not split this by sample. Also, ArchR is better designed to work with 44 fragment files than the merged 1 in speed and memory!

[2020-10-23 19:54] wfma commented on #359
Hi Jeff thank you so much for the quick reply- I will try the aforementioned troubleshooting. I have another question- is there a function for me to export my data (as seurat/singlecellexperiment etc.) later on as a combined dataset? I am hoping to test out several scRNA-integration tools (e.g. LIGER) in addition to running archR's built in.

Thanks,
Wei

[2020-10-23 20:01] jgranja24 commented on #359
Hi @wfma, yeah there are export functions like getMatrixFromProject that export a SummarizedExperiment.

[2020-10-23 20:02] wfma commented on #359
really truly appreciate all the help jeff!

[2020-10-23 20:02] #359 closed

[2020-10-23 21:18] jgranja24 commented on #358
Do you have the log file? It would show me the names so I can better assist you.

[2020-10-23 22:18] yxiao832 commented on #358
Yes. Here as below

           ___      .______        ______  __    __  .______
          /   \     |   _  \      /      ||  |  |  | |   _  \
         /  ^  \    |  |_)  |    |  ,----'|  |__|  | |  |_)  |
        /  /_\  \   |      /     |  |     |   __   | |      /
       /  _____  \  |  |\  \\___ |  `----.|  |  |  | |  |\  \\___.
      /__/     \__\ | _| `._____| \______||__|  |__| | _| `._____

[2020-10-24 19:49] jogiles opened #360 "Projecting different data set onto an existing UMAP?"
Hello!

Is it possible to use the predictive capability of UMAP? I would like to project a different data set onto an existing UMAP from an ArchR project.

Thank you! Josephine

[2020-10-24 19:58] jogiles opened #361 "Is it possible to add scRNA-seq from the same cells as the scATAC-seq?"
Hello!

I am interested in using ArchR to analyze the new 10x multiomic assay. Do you have a suggested way to do this? Can ArchR take normalized data from a Seurat object? Can the AddPeak2GeneLinks() take the barcode information into account?

Thank you! Josephine

[2020-10-24 23:39] rcorces commented on #361
We are in the process of getting the documentation for this together but this feature does currently exist in the upcoming release. You can see an example of how to do this here:
https://greenleaflab.github.io/ArchR_2020/Ex-Analyze-Multiome.html

The release can be installed via:
`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())`

I am closin

[2020-10-24 23:45] rcorces commented on #360
This is definitely in the works and may already be available but it is not documented. @jgranja24 can provide more info.

[2020-10-25 00:43] jogiles commented on #361
@rcorces This is great!
Two (maybe) quick questions:
1) Can "GeneExpressionMatrix" be used in the integrated analysis: addPeak2GeneLinks() and correlateMatrices()?
2) I know there is not full documentation yet -- but, could you briefly explain how addCombinedDims() works?

[2020-10-25 03:02] rcorces commented on #361
1 - yes. should be fine.
2 - Probably not. addCombinedDims uses information from both RNA and ATAC to create a single dimensionality reduction.. The ATAC and RNA LSI reductions are equally weighted.

[2020-10-26 00:49] yxiao832 commented on #156
A follow-up question on this, how I can extract the corresponding gene names according to the idxRNA from p2geneDF?

Is the "idx" from "rowData(getMatrixFromProject(ArchRProj=proj,useMatrix = "GeneIntegrationMatrix"))" the same idx RNA in p2geneDF?

[2020-10-26 02:04] yxiao832 commented on #156
Now I think they are in metadata(p2geneDF).

[2020-10-26 14:56] sylestiel opened #362 "createArrowFiles function"
<img width="981" alt="Screen Shot 2020-10-26 at 10 25 27 AM" src="https://user-images.githubusercontent.com/64283689/97192134-9f877800-1775-11eb-84d1-706aaedfffa6.png">

Can you help me decipher the error message?

Thanks!

[2020-10-26 16:33] ivanferrreira commented on #341
Hi,

Thanks for your help! returnLoops allow me to extract the coordinates of the interacting peaks, but I had to annotate the coordinates of each of these associations to get the gene annotations back.

Issue resolved - will just leave here a suggestion to return the gene annotations (nearestGene) for peaks annotated as promoters, making it much easier to identify the annotations of distal peaks

[2020-10-26 16:33] #341 closed

[2020-10-26 17:56] jgranja24 commented on #361
We are still messing around with different ways to combine dimensionality reductions as well.

[2020-10-26 18:01] jgranja24 commented on #355
Closing this issue. Feel free to open new ones!

[2020-10-26 18:01] #355 closed

[2020-10-26 18:01] jgranja24 commented on #356
Closing this issue. Feel free to open new ones!

[2020-10-26 18:01] #356 closed

[2020-10-26 18:03] jgranja24 commented on #358
I see, I need to make this upper/lowercase all the letters. This is because you are using mouse genes with human motifs. I update this in the release branch to handle this case.

To Install -

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())
`

The fix -

`
 #Create Match Names
  **featureDF1$matchName <- toupper(featureDF1$name)**
  if("und

[2020-10-26 18:22] e-arslan commented on #212
any solution for this problem?

[2020-10-26 18:35] jgranja24 commented on #346
Hi @breannesparta,

When you run getMarkerFeatures like this only "C6" is available for plotMarkers. "C4" is the background set and is not a colname in markerTest. If you wanted to do what you are looking for try this -

[code]

See the change here -

[code]

And to plot to a pdf -
`
plotPDF(pma, pv, name = "c6-vs-c4-Markers-MA-Volcano.pdf", width = 5, height = 5, ArchRProj = projPCA01_2, addDOC =

[2020-10-26 18:38] yxiao832 commented on #358
Thanks for the fix!
However, I am thinking the conversion may not only be the upper/lower case conversion. Might need to use BioMart to convert gene symbol from mouse to human? since sometime they use different names.

[2020-10-26 18:59] jgranja24 commented on #212
Sorry for the delays.. I fixed this in the current release branch. It was a silly bug but nonetheless it has been addressed.

See below for a simple test example -

[code]

[2020-10-26 19:14] jgranja24 commented on #312
Hi @hugokitano,

Unfortunately I do not think this will be a feature anytime soon. I have code that will work similar to that paper. However, we have not extensively validated this approach with real test samples. Thus, I am hesitant to add this to ArchR at this time.

Function(s) to run ---

[code]

To use -

[code]

[2020-10-26 19:14] jgranja24 commented on #312
Feel free to try it out. I am not going to be maintaining this too much more at this time, but you can feel free to comment further. I am closing this issue but you can still reply to the issue and I will look when I have time.

[2020-10-26 19:14] #312 closed

[2020-10-26 19:18] jgranja24 commented on #358
Thats a bit more involved. I dont think that is necessary unless you changed the reference chromVAR and/or archrgenome?

[2020-10-26 19:33] yxiao832 commented on #358
Thanks a lot! I will try the updated one!

[2020-10-26 19:33] #358 closed

[2020-10-26 20:49] jgranja24 commented on #139
This is now fixed for 1d bias --

[code]

Best

Jeff

[2020-10-26 20:49] jgranja24 commented on #139
Closing this issue, feel free to open new ones!

[2020-10-26 20:49] #139 closed

[2020-10-26 20:50] jgranja24 commented on #220
Closing this issue. Feel free to open new ones!

[2020-10-26 20:50] #220 closed

[2020-10-26 21:06] jgranja24 commented on #225
Sorry for the delays,

This is now implemented to be much more fluent --

[code]

<img width="905" alt="Screen Shot 2020-10-26 at 2 04 23 PM" src="https://user-images.githubusercontent.com/25017655/97228585-601c5400-1794-11eb-8699-67ed46040d9c.png">

[2020-10-26 21:07] jgranja24 commented on #225
ImputeWeights will not be kept now when the project is subsetted as well. This is because its a cell x cell matrix of weights that are no longer valid once subsetted.

[2020-10-26 21:12] jgranja24 commented on #225
I am closing this issue. Feel free to open new ones!

[2020-10-26 21:12] #225 closed

[2020-10-26 22:01] jgranja24 commented on #223
Hi @koenvandenberge,

This is now a little clearer in the new release branch. Using the argument plotLog2FC will help!

[code]

Result1
<img width="832" alt="Screen Shot 2020-10-26 at 2 58 53 PM" src="https://user-images.githubusercontent.com/25017655/97233333-07e95000-179c-11eb-8e58-dd677a3be06d.png">

Result2
<img width="849" alt="Screen Shot 2020-10-26 at 2 58 48 PM" src="https://user-images.gi

[2020-10-26 22:01] jgranja24 commented on #223
Closing this issue. Feel free to open new ones!

[2020-10-26 22:01] #223 closed

[2020-10-26 22:20] jgranja24 commented on #221
Sorry @ParthaZain for the long delay... This has always been functional if you supply the GWAS based matches file to ArchR. However, here is a walkthrough for simplicity showing ArchR = gchromVAR

[code]

Best

Jeff

[2020-10-26 22:21] jgranja24 commented on #221
I am closing this issue. Feel free to open new ones!

[2020-10-26 22:21] #221 closed

[2020-10-26 22:27] jgranja24 commented on #237
Seems like this was a naming issue which was resolved by the user. Thanks for the information! Closing this issue. Feel free to  open new issues! Additionally in the new release branch i have added better messaging to check this!

[code]

[2020-10-26 22:27] #237 closed

[2020-10-26 22:39] jgranja24 commented on #240
Can you try this again with the new release branch? It works for me as of right now --

[code]

This error is a bit concerning --
**Unable to read dataset. Not all required filters available. Missing filters: deflate**

This may be an rhdf5 problem. I am on rhdf5 2.30.1 version at this moment which you are as well.

see
https://github.com/grimbough/Rhdf5lib/issues/15

If you can reproduce this bug

[2020-10-26 22:43] jgranja24 commented on #263
From your log file it says you have a total of 10 cells for this sample. Can you provide the code you have ran up until this point and additionally  the output of the following --

[code]

<img width="838" alt="Screen Shot 2020-10-26 at 3 41 21 PM" src="https://user-images.githubusercontent.com/25017655/97236160-b47a0080-17a1-11eb-88be-3e031c0c83a3.png">

Thanks

Jeff

[2020-10-26 23:55] gregszetoAI commented on #263
Sorry I worked with archr a lot more (with real data!) and love it! I am no longer concerned with this issue.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: jgranja24 <notifications@github.com>
Sent: Monday, October 26, 2020 3:43:19 PM
To: GreenleafLab/ArchR <ArchR@noreply.github.com>
Cc: Greg Szeto <greg.szeto@alleninstitute.org>; Author <author@noreply.gi

[2020-10-27 00:02] #263 closed

[2020-10-27 00:49] jgranja24 commented on #245
Sorry for the delay, can you retry with the new release branch. I have now added 2 methods for background peaks (1) being with chromVAR and (2) that is designed by me to be more efficient and bulletproof. By default ArchR will defer to chromVAR (for now) and if encountering an error will switch to ArchR's method.

[code]

[2020-10-27 00:51] jgranja24 commented on #324
Can you attach the log file please. The new version has crucial info in the log file.

[2020-10-27 00:52] jgranja24 commented on #247
Sorry for the delay, can you retry with the new release branch. I have now added 2 methods for background peaks (1) being with chromVAR and (2) that is designed by me to be more efficient and bulletproof. By default ArchR will defer to chromVAR (for now) and if encountering an error will switch to ArchR's method.

[code]

[2020-10-27 00:54] jgranja24 commented on #250
Hi @asmagen, I am closing this issue. If you have additional problems please open a fresh issue! Happy analysis!

[2020-10-27 00:54] #250 closed

[2020-10-27 00:55] jgranja24 commented on #251
Hi @raphaela2018 and @SunKeYong,

Can you try this in the new release branch. Substantial error handling has been done to this function.

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())
`
Thanks!!

Jeff

[2020-10-27 01:00] jeremybjelajac opened #363 "Trouble with subsetting all cells within a cluster or several clusters in an ArchR project"
I was hoping to subset clusters of my ArchR project and reanalyze the smaller dataset/integrate it with an scRNAseq dataset I have for a smaller batch of clusters, but am a little unsure on how to do this.

My ArchR project consists of 11 unique clusters (C1-C11) and I wanted to 1) isolate C1, C2, C3 2) utilize all the cells within C1, C2, C3 to re-cluster and create new embeddings from that.

Any

[2020-10-27 01:01] jgranja24 commented on #248
I have been looking into this more see [https://github.com/pachterlab/sleuth/issues/120](https://github.com/pachterlab/sleuth/issues/120). I dont really know how to best diagnose this issue still besides recommending installing more recent versions of rhdf5. The versions I see in this thread are rhdf5_2.28.0, rhdf5_2.30.1, rhdf5_2.26.2. I use rhdf5_2.30.1 currently and we are trying to put togethe

[2020-10-27 01:04] rcorces commented on #363
You are looking for the `subsetArchRProject()` function. https://www.archrproject.com/reference/subsetArchRProject.html
In your case, you need to figure out the cell names for the cells that fall within your clusters and provide those to the function. This page of the manual provides enough context to get you there - https://www.archrproject.com/bookdown/manipulating-an-archrproject.html

Please c

[2020-10-27 01:05] jgranja24 commented on #248
For any of you with known corrupt ArrowFiles can you send one of them to [archr.devs@gmail.com ](archr.devs@gmail.com ). I can look into trying to recover these files or something to stabilize this type of issue. Sorry for the troubles

[2020-10-27 01:07] jgranja24 commented on #362
Hi @sylestiel this seems to be similar to [https://github.com/GreenleafLab/ArchR/issues/248]( https://github.com/GreenleafLab/ArchR/issues/248). Can you provide the log file associated.

Thanks!

Jeff