[2020-10-27 01:12] jgranja24 commented on #267
Hi @spietrzak,

Sorry for the delay.

(1) phenoData isnt a function from Seurat?

(2) You dont need to save your Seurat object prior to loading it into ArchR.

(3) If you integrate the scRNA, the nearest scRNA to each scATAC-seq cell is labeled in the ArchRProject. See the `nameCell` param in `addGeneIntegrationMatrix`. From this, you can add the other relevant info to your ArchRProject.

Best,

J

[2020-10-27 01:15] jeremybjelajac commented on #363
Thanks for the reply, Unfortunately I ran it on my project and received the following error:

Copying ArchRProject to new outputDirectory : /ATACseq/CD45scATACseq/Subset-data
Copying Arrow Files...
Error in .safelapply(seq_along(inArrows), function(x) { :
Error Found Iteration 1 :
	[1] "Error in h5read(ArrowFile, paste0(subGroup, \"/Info/CellNames\")) : \n  Object 'MotifMatrix/Info/CellNames' does

[2020-10-27 01:28] jgranja24 commented on #307
Hi @barwe and @jogiles,

Can you retry this with the new release branch. I added more logging functions readouts to diagnose this step better --

[code]

What I added --

[code]

[2020-10-27 01:35] jgranja24 commented on #362
Also, can you retry with `subThreading = FALSE`?

[2020-10-27 01:55] jgranja24 commented on #257
You can access these normalized and unnormalized matrices --

[code]

[2020-10-27 01:55] jgranja24 commented on #257
Closing this issue. Feel free to open more.

[2020-10-27 01:55] #257 closed

[2020-10-27 02:01] jgranja24 commented on #279
Hi @lsundaram,

This is now available in the release branch --

[code]

Best

Jeff

[2020-10-27 02:02] jgranja24 commented on #279
Im going to close this issue. Feel free to open additional ones!

[2020-10-27 02:02] #279 closed

[2020-10-27 02:12] jgranja24 commented on #273
This is now functional --

[code]

<img width="819" alt="Screen Shot 2020-10-26 at 7 10 31 PM" src="https://user-images.githubusercontent.com/25017655/97248467-1a28b580-17bf-11eb-8cc6-c0c3621fff7c.png">

<img width="788" alt="Screen Shot 2020-10-26 at 7 10 36 PM" src="https://user-images.githubusercontent.com/25017655/97248476-201e9680-17bf-11eb-833d-9d62b4ae56d7.png">

[2020-10-27 02:12] jgranja24 commented on #273
Closing this issue.

[2020-10-27 02:12] #273 closed

[2020-10-27 02:14] jgranja24 commented on #276
I still need to think a bit more about this issue. As with Cicero, there isnt a really great way to do stats because you artificially make pseudobulks.

[2020-10-27 02:21] jgranja24 commented on #261
You can pass the same params for `addClusters` to addIterativeLSI.

See ---

[code]

<img width="899" alt="Screen Shot 2020-10-26 at 7 21 12 PM" src="https://user-images.githubusercontent.com/25017655/97249134-7c35ea80-17c0-11eb-8e74-ae638f1e0735.png">

[2020-10-27 02:22] jgranja24 commented on #261
Closing this issue, feel free to open new issues!

[2020-10-27 02:22] #261 closed

[2020-10-27 02:26] jgranja24 commented on #277
Im looking into it right now.

[2020-10-27 03:16] rcorces commented on #363
Without more context of what commands you actually ran, it is difficult to provide much feedback. I would recommend that you run through the manual if you havent done so already to make sure that you are using the functions as expected. you can also try updating to the newest development version of ArchR in case you are stumbling into issues that have already been addressed.

To install:
`devtools

[2020-10-27 05:19] jgranja24 commented on #363
This error has been resolved in the release branch see https://github.com/GreenleafLab/ArchR/issues/212

[2020-10-27 05:20] jgranja24 commented on #363
Closing this issue if you have more issues please report it to #212. Feel free to open additional issues!

[2020-10-27 05:20] #363 closed

[2020-10-27 06:13] jgranja24 commented on #284
Sorry for the delay... I dont think you are using the species correctly. I think what you want is ---

`ovary5 <- addMotifAnnotations(ArchRProj = ovary5, motifSet = "JASPAR2020", name = "Motif", species = "Sus scrofa")`

However I dont think the species you are looking for exists in JASPAR database

see [http://jaspar.genereg.net/search?q=Sus&collection=all&tax_group=all&tax_id=all&type=all&class=

[2020-10-27 06:16] jgranja24 commented on #276
If you have something feel free to share it here as well or send to us privately at archr.devs@gmail.com. I am happy to work off of something you mentioned.

Best

Jeff

[2020-10-27 06:47] Liyuanwang89 commented on #284
Thanks for your reply, it's true that the species I used here was sus scrofa. Now I had fixed it as
integ1 <- addMotifAnnotations(ArchRProj = integ1, motifSet = "encode", name = "Motif", species = getGenome(ArchRProj = integ1))
And now I had added the motif annotation successfully.
Thanks for your reply again.
Best wishes.

Liyuan Wang （Mr. , Ph.D ）
王力圆   博士
Post doctor
博士后

Agricultural Genomics

[2020-10-27 09:29] honghh2018 opened #364 "Issue generated by addReproduciblePeakSet"
Hi @all,
     Thanks for develop the great tools,
      here i get a wired question, when i run ArchR on step addReproduciblePeakSet,
      The error showing below:
       ArchR logging to : ArchRLogs/ArchR-addReproduciblePeakSet-3096b2577a4cd-Date-2020-10-27_Time-16-58-48.log
If there is an issue, please report to github with logFile!
Error in .getCoverageMetadata(ArchRProj = ArchRProj, groupBy =

[2020-10-27 14:22] rargelaguet commented on #271
Hello,
I get the same error. Is archR still not functional with R>=4?

[2020-10-27 14:27] #284 closed

[2020-10-27 14:29] rcorces commented on #364
It looks like you missed the `addGroupCoverages()` step which is required before calling peaks?
https://www.archrproject.com/bookdown/making-pseudo-bulk-replicates.html

[2020-10-27 15:51] sylestiel commented on #362
Hi Jeff,

Somehow I got past the error. I restarted it today and it did not spit out an error.

Thank you!

[2020-10-27 15:51] #362 closed

[2020-10-27 16:46] sylestiel opened #365 "Error in as.POSIXct.numeric(e) : 'origin' must be supplied"
Hi,

I installed version 1.0.0 and yet I'm encountering this error. Suggestions?

Thanks!
<img width="484" alt="Screen Shot 2020-10-27 at 11 42 54 AM" src="https://user-images.githubusercontent.com/64283689/97333849-04140700-184a-11eb-9f6e-95c22be19ea9.png">

FYI:  All the downstream steps in the quick tutorial ran just fine.

Thanks!

[2020-10-27 18:18] jgranja24 commented on #364
This error --

ArchR logging to : ArchRLogs/ArchR-addReproduciblePeakSet-3096b2577a4cd-Date-2020-10-27_Time-16-58-48.log
If there is an issue, please report to github with logFile!
Error in .getCoverageMetadata(ArchRProj = ArchRProj, groupBy = groupBy, :
No Coverage Metadata found for : Clusters

Is because like @rcorces said you did not `addGroupCoverages` prior to peakCalling.

Run --
[code]

Th

[2020-10-27 18:25] #364 closed

[2020-10-27 21:47] sylestiel commented on #365
Resolved with multiple sample input!

[2020-10-27 21:47] #365 closed

[2020-10-27 21:55] houghtos opened #366 "Loading ddseq Biorad Data into ArchR"
I've been trying to load Bio-rad ddseq single cell ATACseq files into ArchR to no avail.  I made a prior detailed Biostars post [here](https://www.biostars.org/p/469121/#469137) regarding attempting to generate a fragments.tsv.gz that contains bam/barcode as well as a link to the standard processing manual I used to generate the bam file.

I've been trying to load a BAM file since the fragments.ts

[2020-10-27 21:59] rcorces commented on #366
see if this explanation helps - https://github.com/GreenleafLab/ArchR/issues/292
We are working on better documentation for BAM input as part of the next doc update

[2020-10-27 22:47] jgranja24 commented on #366
Hi @houghtos,

I am happy to quickly test out your issue. Can you do the following --

`samtools view -h test.bam | head -n 10000 | samtools view -bS - > test10000.bam`

And then send it to [archr.devs@gmail.com](archr.devs@gmail.com) (either via google drive or dropbox). I have some spare time to diagnose this today if you can send it promptly!

[2020-10-27 23:22] jgranja24 commented on #267
Closing this issue, feel free to further comment here and open new issues!

[2020-10-27 23:22] #267 closed

[2020-10-28 00:04] jgranja24 commented on #366
Hi @houghtos,

Your bam files are a bit unusual because the chromosomes are for both hg19 and mm10. For this reason here is a full tutorial how to extract your bam fragments convert them to a fragments file and then create Arrow files!

Best

Jeff

[code]

[2020-10-28 00:14] houghtos commented on #366
Thank you!  Yes, when I originally processed, the only reference we had was hg19_mm10 combined (Bio-rad references aren't easily acceptable as cellranger, need to contact company for temporary DL code).  Thought this might be the case since I've dealt w/ correcting them when running monocole3.  Makes total sense retrospectively.

[2020-10-28 00:14] #366 closed

[2020-10-28 00:18] jgranja24 commented on #366
No worries! Happy to help and feel free to post more questions here about this process and issues you encounter with ArchR. Bam files are tricky so making these tutorials I hope will help others in the future as well. Happy analysis!

[2020-10-28 01:04] jgranja24 commented on #216
Sorry for how delayed this has all been --

The bug has now been fixed in the release branch!

[code]

ArchRBrowser --

<img width="883" alt="Screen Shot 2020-10-27 at 6 00 38 PM" src="https://user-images.githubusercontent.com/25017655/97378094-c2518380-187e-11eb-944d-13a4cf27dd13.png">

Washu --

<img width="1629" alt="Screen Shot 2020-10-27 at 6 00 30 PM" src="https://user-images.githubuserconte

[2020-10-28 01:04] jgranja24 commented on #216
Closing this issue, feel free to open additional issues!

[2020-10-28 01:04] #216 closed

[2020-10-28 01:16] honghh2018 commented on #364
It work for me.
Thanks @rcorces @jgranja24 for the urgent reply.

[2020-10-28 01:25] honghh2018 opened #367 "The differential peak analyized among two conditions"
Hi @All,
     Just like #364 question about the peak differential analysis.
     I want to study the differential region between treat and control, however i am unable to locate the function that make differential analysis within the ArchR. how to make  the differential analysis of peak region ?
     Could you give me a advice for this ? it would be appreciated.
      Best,
       hanhuihong

[2020-10-28 02:40] jgranja24 commented on #367
Hi@honghh2018,

Please see the ArchR manual --

[https://www.archrproject.com/bookdown/pairwise-testing-between-groups.html](https://www.archrproject.com/bookdown/pairwise-testing-between-groups.html)

[2020-10-28 02:47] jgranja24 commented on #283
I removed the param `removedFilteredCells` in the release branch to avoid this issue.

[2020-10-28 02:47] jgranja24 commented on #283
Closing this issue, thanks for the report and feel free to open new issues!

[2020-10-28 02:47] #283 closed

[2020-10-28 02:54] jgranja24 commented on #228
Hi @kwells4,

This is now available in the new release branch! Only for `plotBrowserTrack`. Im not sure if I want to add it to the ArchRBrowser at this moment.

Best

Jeff

[code]

<img width="904" alt="Screen Shot 2020-10-27 at 7 52 26 PM" src="https://user-images.githubusercontent.com/25017655/97385017-17e15c80-188e-11eb-9349-c47243e244b6.png">

[2020-10-28 02:54] jgranja24 commented on #228
I am closing this issue. Feel free to open new issues!

[2020-10-28 02:54] #228 closed

[2020-10-28 02:56] jgranja24 commented on #289
I am closing this issue as it seems to be resolved in the release branch reported by others. Feel free to reopen, comment or open new issues!

[2020-10-28 02:56] #289 closed

[2020-10-28 02:56] jgranja24 commented on #332
Hi @ewonglab,

Any updates on this?

[2020-10-28 02:58] jgranja24 commented on #346
I am closing this issue as the getMarkerFeatures problem has been addressed. Also I am pretty sure that the plotMarkers error is the input error as mentioned above. Feel free to continue commenting on this thread or open a new one if you have further issues!

Best

Jeff

[2020-10-28 02:58] #346 closed

[2020-10-28 02:59] jgranja24 commented on #212
I am closing this issue. If you have further issues please add more comments or open a new issue! Thanks for your patience! Excited to get this more stable release out soon!

[2020-10-28 03:00] jgranja24 commented on #367
I am closing this issue as the manual has a good walkthrough for Pairwise differential testing and motif enrichment. Please add more comments in this issue if you have them or open a new issue!

[2020-10-28 03:00] #367 closed

[2020-10-28 03:17] rcorces commented on #367
In the future, please use the issue templates provided. We designed these templates to encourage end users to both provide thorough information but also make sure the information doesnt exist somewhere already.

[code]

[2020-10-28 03:21] rcorces commented on #228
I agree - no need for this feature in the ArchRBrowser, at least not right now.

[2020-10-28 04:54] jgranja24 commented on #313
Matched RNA is now available in the release version see below!

[code]

<img width="899" alt="Screen Shot 2020-10-27 at 9 52 19 PM" src="https://user-images.githubusercontent.com/25017655/97392401-ede46600-189e-11eb-9eff-1cc1d78cd967.png">

<img width="902" alt="Screen Shot 2020-10-27 at 9 52 25 PM" src="https://user-images.githubusercontent.com/25017655/97392410-f0df5680-189e-11eb-9d13-d2ab043f6e

[2020-10-28 04:55] jgranja24 commented on #313
I am closing this issue, feel free to open a new issue or further comment on this issue!

[2020-10-28 04:55] #313 closed

[2020-10-28 05:02] jgranja24 commented on #361
Now you can visualize your scRNA with scATAC!

see https://github.com/GreenleafLab/ArchR/issues/313 for more details ---

<img width="884" alt="Screen Shot 2020-10-27 at 9 52 31 PM" src="https://user-images.githubusercontent.com/25017655/97392857-17ea5800-18a0-11eb-8d08-d109048a6e35.png">

[2020-10-28 05:03] jgranja24 commented on #361
Hi @jogiles,

ArchR expects scRNA to be unnormalized still at this time. We are planning to add Seurat wrappers for scRNA analyses soon. addPeak2GeneLinks should still work as usual i believe.

[2020-10-28 05:22] KyleFerchen commented on #228
That's awesome! I like that it gets closer to showing the coaccessibility at the single-cell level

[2020-10-28 08:44] abbeythorpe commented on #318
I just came across the same error while trying to use ArchR for arabidopsis. I ended up being able to use the orgDb and TxDb I started with by identifying the orgDb keytype that matched the TxDb gene_id and then using "annostyle" to point it to that column instead of Entrez or Ensembl. annostyle wasn't in the ArchR documentation but I noticed it in the source code.

[code]

[code]

These didn't ma

[2020-10-28 14:06] yxiao832 opened #368 "getting gene name using idxRNA"
Maybe I should open a new issue here instead of commenting on previous not direct relevant threads. Let me know if this is not appropriate.

I am trying to pull out the peaks associated with my genes of interest, but I am having an issue identifying corresponding gene name using idxRNA from peak2gene dataframe. It seems multiple genes using the same idx number. Or maybe I am looking at the wrong p

[2020-10-28 16:35] Brawni commented on #270
Hi Jeff!

There is a typo in the plotBrowserTrack function in the release_1.0 branch at line 1184 is "normMetho" instead of "normMethod".

Thank you!

[2020-10-28 16:41] Brawni opened #369 "plotBrowserTrack bug"
Hello,

I don't know how to re-open the previous bug report, not sure I can.
https://github.com/GreenleafLab/ArchR/issues/270

There is a typo in the plotBrowserTrack function in the release_1.0 branch at line 1184 is "normMetho" instead of "normMethod".

Thank you!

[2020-10-28 16:45] lzj1769 opened #370 "cannot set scaleTo to NULL in getTrajectory function (release 1.0.0)"
Hi,

I am using this package for my data, and I would like to generate a trajectory heatmap with motif matrix as input.

When I try to set scaleTo to NULL, I got an error message:

In the document, it says Setting this to NULLwill prevent any normalization and should be done in certain circumstances (for ex. if you are using a "MotifMatrix"). But in the function, there are no such codes.

thanks a

[2020-10-28 19:03] jogiles commented on #361
Awesome! Thank you for the update :)

[2020-10-28 19:11] Brawni opened #371 "Mapping peaks to genes rules"
Hello!

I think it would be useful to have some control on the peak annotation when mapping to genes. For example map peaks to overlapping genes even though the gene start is farther than a second one. As it is now, as far as I understood, it seems that the gene association is taken care of automatically by mapping to the nearest gene start within the addReproduciblePeakSet function.
Adding an arg

[2020-10-28 19:50] ivanferrreira opened #372 "Getting insertion count matrix per peak"
Hi,

Is there an easy way to get counts per peaks for cells grouped by their identity?
Something like what addGroupCoverages calculates, but I am not sure how to extract that in the format of a peak set containing counts per sample for each genomic coordinate.

Thanks,
Ivan

[2020-10-28 19:58] rcorces commented on #372
`getGroupSE()`
https://www.archrproject.com/reference/getGroupSE.html

please close if this answers your question.

[2020-10-28 20:03] jgranja24 commented on #369
Sorry, I just fixed this --

[code]

Best

Jeff

[2020-10-28 20:04] #369 closed

[2020-10-28 20:15] jgranja24 commented on #371
Hi @Brawni, I am not sure what you want to do here. You can always run `getPeakSet` change the annotation and the `addPeakSet`? There aren't any functions I believe that utilize nearest genes?

[2020-10-28 20:16] jgranja24 commented on #371
I think that anything beyond simple mapping would be something a user can toy around with alternative methods/softwares and reimport that into the ArchRProject.

I am closing this issue, however feel free to further comment or open new issues!

[2020-10-28 20:16] #371 closed

[2020-10-28 20:22] jgranja24 commented on #369
Here is proof --

[code]

<img width="595" alt="Screen Shot 2020-10-28 at 1 05 49 PM" src="https://user-images.githubusercontent.com/25017655/97492270-87a02780-1920-11eb-8e3b-745d51bc23e5.png">

<img width="591" alt="Screen Shot 2020-10-28 at 1 05 55 PM" src="https://user-images.githubusercontent.com/25017655/97492282-8b33ae80-1920-11eb-9b17-966b8d26c66e.png">

<img width="594" alt="Screen Shot 20

[2020-10-28 20:23] jgranja24 commented on #370
I just updated --

[code]

To --

[code]

To test --

[code]

[2020-10-28 20:23] jgranja24 commented on #370
Closing this issue, feel free to open new issues!

[2020-10-28 20:24] Brawni commented on #369
awesome thanks!

[2020-10-28 20:26] Brawni commented on #371
I see, yes I guess that works too, thanks!

[2020-10-28 20:31] lzj1769 commented on #370
awesome, thanks

[2020-10-28 20:34] jgranja24 commented on #368
Hi @yxiao832, the idx refers to something different each matrix in ArchR that is chromosome based is `indexed per chromosome` ie that 834 is in multiple genes because its the 834th gene on that chromsome. Here is how to annotate your peak2gene links. This process makes a larger object so I kept it more compressed in storage ---

[code]

[2020-10-28 20:35] jgranja24 commented on #368
Closing this issue. Feel free to open new issues!

[2020-10-28 20:35] #368 closed

[2020-10-28 20:37] jgranja24 commented on #370
Also I think ArchR just handles this internally for motif matrix since its positive and negative --

[code]

But I am happy you caught this!

[2020-10-28 20:42] jgranja24 commented on #350
Hi @RyanYip-Kat,

Your image isnt fully uploaded you have to wait time when you paste images. Can you repost it? If not I will assume your issue has been resolved.

Best

Jeff

[2020-10-28 20:43] jgranja24 commented on #336
Hi @mfisher1995,

Any updates? Happy to debug this issue.

[2020-10-28 22:12] yxiao832 commented on #368
Thank you!!

[2020-10-28 22:36] jeremybjelajac opened #373 "How to validate/QC RNA and ATAC integration"
**Describe the problem that your feature request would address.**
I have really enjoyed utilizing ArchR to analyze scATAC and merged scRNAseq data. However, I find myself questioning how much I can trust my merged ATAC and RNA datasets following integration. I have read the full manual and I can comprehend how ArchR attempts to match cells from the RNA data on to the ATAC map. Additionally, it see

[2020-10-28 22:36] jgranja24 commented on #253
Hi @mitsiask,

I now added this feature to plotFragmentSizes and plotTSSEnrichment --

[code]

<img width="824" alt="Screen Shot 2020-10-28 at 3 36 27 PM" src="https://user-images.githubusercontent.com/25017655/97504040-63017b00-1933-11eb-855b-bf5abe00d38b.png">

<img width="761" alt="Screen Shot 2020-10-28 at 3 36 24 PM" src="https://user-images.githubusercontent.com/25017655/97504049-672d9880-19

[2020-10-28 22:37] jgranja24 commented on #253
Closing this issue, feel free to open more issues.

[2020-10-28 22:37] #253 closed

[2020-10-28 22:38] jgranja24 commented on #252
Sorry for the delays @Carota-1.

Can you try with the new release branch. I added more stability and logging and more features --

For Example

[code]

<img width="761" alt="Screen Shot 2020-10-28 at 3 36 24 PM" src="https://user-images.githubusercontent.com/25017655/97504171-93e1b000-1933-11eb-94d2-5f1265f6ea6e.png">

<img width="824" alt="Screen Shot 2020-10-28 at 3 36 27 PM" src="https://user-i

[2020-10-28 23:13] jgranja24 commented on #373
This exists in the `nameScore` column from Seurat. The integrated CCA plot to be honest is difficult to interpret when the heterogeneity isnt super strong. ArchR merely provides a simplistic framework for using Seurat integration efficiently and fluidly. If you have more questions about the Seurat aspect Id consider asking them and if you want more information to extract with ArchR from that let u

[2020-10-28 23:19] jeremybjelajac commented on #373
This was super helpful, thank you so much!

[2020-10-28 23:28] jgranja24 commented on #290
Do you have the logfile for this?

[2020-10-28 23:28] jgranja24 commented on #245
Closing this issue, feel free to reopen a new issue if this persists.

[2020-10-28 23:30] jgranja24 commented on #240
Also see --

https://github.com/MarioniLab/DropletUtils/issues/30

[2020-10-28 23:32] jgranja24 commented on #320
The background correlations are correlating peaks to genes not on the same chromosome. Its not a super sophisticated model. However, statistics with this type of analysis are really challenging. I strongly suggest using cutoffs based on variance and correlation. Being a higher variance and correlation suggests that this link is not random noise. If you come up with something better I am happy to i

[2020-10-28 23:34] RegnerM2015 commented on #320
Thanks! I will take this into consideration.

[2020-10-28 23:34] #320 closed

[2020-10-28 23:42] jgranja24 commented on #320
I additionally just added the tstat correlation test to addCoAcessibility. Hopefully that helps.

[2020-10-28 23:44] jeremybjelajac commented on #373
Do you typically use the predicted score as a loose cut-off for judging integration efficiency? And by that standard, clusters 17 and 24 are appropriately matched? Apologies for any misunderstanding.

I will definitely inquire with the Seurat team as well.

[2020-10-28 23:47] jgranja24 commented on #373
Well these all are somewhat well matched the scores are specifically low in this case where subsets are defined because the test data is **SUPER** downsampled. 17 and 24 B cells and NK cells are the most accurate is the correct understanding. This is because the RNA data set is hematopoiesis and the ATAC is PBMCs.

Hope that helps

Jeff

[2020-10-28 23:51] jeremybjelajac commented on #373
Awesome, that makes total sense. Thanks!

[2020-10-28 23:51] #373 closed

[2020-10-28 23:59] jgranja24 commented on #276
Hi @isaLa42,

I have now added some basic correlation stats and variability calculations in the release branch. Consider filtering for peak variability on top of correlation like below. I generally find this type of filtration is helpful in filtering lowly accessible regions that are correlated by chance --

[code]

Hope this helps

Jeff

[2020-10-29 00:01] jgranja24 commented on #276
I am closing this issue, feel free to further comment below this with suggestions or improvements. Additionally, if you want feel free to open a new issue based on this topic or new topics!

[2020-10-29 00:01] #276 closed

[2020-10-29 00:08] jgranja24 commented on #248
I think the issue is based on hdf5 file locking. ArchR disables this to speed up these computations in parallel. I wonder if these issues are related to how your operating system handles this file locking procedure. I was able to recapitulate this error but found just disabling file locking (which ArchR tries to do worked).

This is based on this type of error --

`HDF5. File accessibilty. Unable

[2020-10-29 00:09] jgranja24 commented on #248
For createArrowFiles if you disable ie `subThreading = FALSE` I imagine this will allow you to parallelize your creation still. This will just prevent the additional level of parallelization.

[2020-10-29 00:11] jgranja24 commented on #333
Any further insights into this issue?

[2020-10-29 00:13] jgranja24 commented on #361
Hi @jogiles, I am closing this issue since majority of what you are looking at has been addressed. We will be adding more multimodal updates soon so stay tuned. If you have any other issues please open them!

Best

Jeff

[2020-10-29 00:13] #361 closed

[2020-10-29 00:14] jgranja24 commented on #352
Hi @PeggySze, I am guessing this is a subThreading problem related to your OS. Please try `subThreading = FALSE` or `threads = 1`. I believe this will solve your issue.

Best

Jeff

[2020-10-29 00:16] jgranja24 commented on #288
Can you supply the log file please. Thanks!

[2020-10-29 00:18] jgranja24 commented on #328
Hi @Meggie-MH, Is this issue resolved? If not can you please supply the information above? If no response I will assume you solved this issue and are proceeding with your analysis!

[2020-10-29 00:22] atimms opened #374 "get gene summary by group"
I would like to get a summary of the GeneScoreMatrix by a label, so the Genescore for each of the defined clusters. I couldn't see a way to do that, is it possible.

Thanks for your help.

Andrew

[2020-10-29 00:25] jgranja24 commented on #374
Hi @atimms,

Do you mean like `getGroupSE`?

To get the average gene scores for each cluster try --

`seGS <- getGroupSE(ArchRProj, useMatrix = "GeneScoreMatrix", groupBy = "Clusters")
`

[2020-10-29 00:28] jgranja24 commented on #310
Sorry about this I am working on fixing this right now.

[2020-10-29 00:28] jgranja24 commented on #321
Can you attach the logfile?

[2020-10-29 00:49] atimms commented on #374
Perfect,

Thanks for the quick response.

Andrew

[2020-10-29 01:01] jogiles commented on #361
Thank you @jgranja24! Looking forward to trying out the new features as they develop :) Josephine

[2020-10-29 03:14] rcorces commented on #333
For what it is worth, I also had difficulties with Rmarkdown hanging while running ArchR. Relatively sporadic behavior that seemed to be a problem with RStudio.  No idea how to fix or if it is even fixable.

[2020-10-29 03:25] atimms commented on #374
I can get the gene/cluster matrix, but instead of gene name I have the names f1...f24919. I see the gene names are in the object, seGS but can't see how to access.

Thanks for your help.

Andrew

[2020-10-29 03:57] jgranja24 commented on #374
`rowData(seGS)$name` should do the trick.

[2020-10-29 04:27] jgranja24 opened #375 "test"
Before you submit this issue please update ArchR to the latest version and make sure that this issue has not already been fixed in the latest release. ArchR is in *beta* and we will fix problems as they arise. To update ArchR:

devtools::install_github("GreenleafLab/ArchR", ref="master", repos = BiocManager::repositories())

If your issue persists, then please submit this bug report.

PLEASE FILL

[2020-10-29 04:40] #375 closed

[2020-10-29 04:40] jgranja24 opened #377 "test"
Before you submit this issue please update ArchR to the latest version and make sure that this issue has not already been fixed in the latest release. ArchR is in *beta* and we will fix problems as they arise. To update ArchR:

devtools::install_github("GreenleafLab/ArchR", ref="master", repos = BiocManager::repositories())

If your issue persists, then please submit this bug report.

PLEASE FILL

[2020-10-29 04:40] jgranja24 opened #378 "Test2"
Before you submit this issue please update ArchR to the latest version and make sure that this issue has not already been fixed in the latest release. ArchR is in *beta* and we will fix problems as they arise. To update ArchR:

devtools::install_github("GreenleafLab/ArchR", ref="master", repos = BiocManager::repositories())

If your issue persists, then please submit this bug report.

PLEASE FILL

[2020-10-29 04:41] #377 closed

[2020-10-29 04:48] jgranja24 opened #379 "Test3"
Before you submit this issue please update ArchR to the latest version and make sure that this issue has not already been fixed in the latest release. ArchR is in *beta* and we will fix problems as they arise. To update ArchR:

devtools::install_github("GreenleafLab/ArchR", ref="master", repos = BiocManager::repositories())

If your issue persists, then please submit this bug report.

PLEASE FILL

[2020-10-29 05:04] jgranja24 opened #380 "Test4"
Before you submit this issue, go to the ArchR user manual (https://www.archrproject.com/bookdown/index.html) and use the search function (magnifying glass in the top navbar) to search the manual for the content you are looking for!

PLEASE FILL OUT THE RELEVANT INFORMATION AND DELETE THE UNUSED PORTIONS OF THIS ISSUE TEMPLATE.

### If this is an issue with an existing explanation:

**Where is the

[2020-10-29 05:06] #380 closed

[2020-10-29 05:06] #379 closed

[2020-10-29 05:06] #378 closed

[2020-10-29 05:06] jgranja24 commented on #374
Closing this issue, feel free to open new ones.

[2020-10-29 05:06] #374 closed

[2020-10-29 05:07] jgranja24 commented on #372
Closing this issue, feel free to open new ones.

[2020-10-29 05:07] #372 closed

[2020-10-29 09:59] honghh2018 commented on #367
Thanks for the advices.
 I am going to making differential analysis by document that you given.

[2020-10-29 21:06] jgranja24 commented on #360
Hi @jogiles,

This is something we are hoping to have out in the near future. Sorry I cant offer a more precise timeline!

[2020-10-30 02:17] honghh2018 opened #381 "The mouse missing LOLA annotation error"
Hi @All,
    There was error when runing on below step,
ArchR logging to : ArchRLogs/ArchR-addArchRAnnotations-1e7695e8aabfe-Date-2020-10-29_Time-17-25-07.log
If there is an issue, please report to github with logFile!
Error in addArchRAnnotations(ArchRProj = projHeme5, collection = "EncodeTFBS") :
  ArchR mm10 annotations not yet supported! Try LOLA for now!

  I try to set the parameter with LOL

[2020-10-30 06:31] ewonglab commented on #324
Sure - here it is attached and the error I got from calling addReproduciblePeakSet

proj_scATAC_ArchR_1 <- addReproduciblePeakSet(
+     ArchRProj = proj_scATAC_ArchR_1,
+     groupBy = "Sample")
[ArchR-addReproduciblePeakSet-e78133478b956-Date-2020-10-30_Time-16-26-45.log](https://github.com/GreenleafLab/ArchR/files/5463317/ArchR-addReproduciblePeakSet-e78133478b956-Date-2020-10-30_Time-16-26-45.

[2020-10-30 13:01] MagpiePKU commented on #193
Can I ask to reopen to reopen this issue because of highly similar error.

##
Error in .safelapply(seq_along(blockList), function(i) { :
Error Found Iteration 4 :
	[1] "Error in .retryCatch({ : \n"
	<simpleError in .retryCatch({    gc()    Seurat::FindTransferAnchors(reference = subRNA, query = seuratATAC,         reduction = reduction, features = genesUse, verbose = FALSE,         ...)}, maxAttem

[2020-10-30 14:38] rcorces commented on #193
Please attach your log file and please retry with threads = 1 to check if this is a problem with parallelization.

[2020-10-30 14:59] MagpiePKU commented on #193
Thanks a lot. The threads=1 option has been tried:

##
proj_arrow_integrated_constrained <- addGeneIntegrationMatrix(
+     ArchRProj = proj_arrow,
+     useMatrix = "GeneScoreMatrix",
+     matrixName = "GeneIntegrationMatrix",
+     reducedDims = "IterativeLSI",
+     seRNA = xxxxxxx_RNA,
+     addToArrow = FALSE,
+     groupList = groupList,
+     groupRNA = "Clusters_detail",
+     nameCell =

[2020-10-30 21:12] sylestiel opened #382 "Substitutions for $colData(seRNA)$BioClassification"
Hi,

 When using a Seurat object as opposed to a  Ranged Summarized Experiment for the Integration step what can we substitute for colData and $Bioclassification in the following step

#RNA get cells in these categories
rnaTNK <- colnames(seRNA)[grep(cTNK, colData(seRNA)$BioClassification)]
head(rnaTNK)

Alternatively, would you recommend the conversion to ranged summarized experiment?

Thank you!

[2020-10-30 22:46] rcorces commented on #382
this is merely an example and the variables you are talking about are user-provided variables that are being used to subset to specific groups of cells. what you would use would depend entirely on your application and you may not do all of the steps in the manual.

[2020-10-30 22:46] #382 closed

[2020-10-30 23:24] rcorces commented on #381
it looks like you are having trouble downloading the relevant file. I do not have trouble downloading this file.
https://jeffgranja.s3.amazonaws.com/ArchR/Annotations/LOLA-Mm10-v1.Anno

does this file exist on your system? `/share/nas2/public/R/library/3.6/ArchR/data/Annotations/LOLA-Mm10-v1.Anno`

If not, can you `wget https://jeffgranja.s3.amazonaws.com/ArchR/Annotations/LOLA-Mm10-v1.Anno`?

[2020-10-31 17:26] ajwilk opened #383 "Error in addIterativeLSI()"
Thanks for a great package, running into an issue in `addIterativeLSI()`. I originally experienced this issue on `ArchR_0.9.5` but it persists on the new release `ArchR_1.0.0`

[code]

**To Reproduce**
Interestingly, this error does NOT reproduce with the hematopoiesis dataset. But luckily you can find the arrows that caused this on your Sherlock space:
[code]

**Session Info**
[code]

**Additiona

[2020-10-31 17:40] ajwilk opened #384 "h5 reading error in getMarkerFeatures() and addReproduciblePeakSet()"
I'm coming across the same h5 reading error in both `getMarkerFeatures()` and `addReproduciblePeakSet()`. I first encountered this issue in `ArchR_0.9.5` but it persists in `ArchR_1.0.0`. Interestingly, this is happening for me on the hematopoiesis tutorial dataset.

I originally experienced this issue when the Arrow files I was pointing to were stored on GoogleDrive FileStream, but the issue pers

[2020-10-31 19:57] JLiLab opened #385 "bug in addPeak2GeneLinks function"
In the current version (ArchR_1.0.0 ), there seems a bug in IntegrativeAnalysis.R (line 1176):
o$TStat <- (o$correlation / sqrt((max(1-o$Correlation^2, 0.00000000000000001))/(ncol(seATAC)-2))) #T-statistic P-value

It differs from "o$TStat <- (o$Correlation / sqrt((1-o$Correlation^2)/(ncol(seATAC)-2)))" in previous versions.

J

[2020-10-31 22:35] bbraun923 opened #386 "error in addUMAP"
I've just run into a problem where addUMAP successfully runs but then errors when attempting to save the model. The error is reproducable on the training dataset. Wondering if someone has idea for fix?

Attach your log file
No log file is produced for addUMAP

Describe the bug
Error in addUMAP(...) function:

[code]

**To Reproduce**
See above.

**Expected behavior**
addUMAP has successfully saved

[2020-11-01 00:42] houghtos commented on #366
Just as an FYI, for some reason there was an issue sequences being out of order when inputting the full bam as a "tsv.gz" as an Arrow File . A couple of quick attempts to re-sort in the R code (or export as sorted bam) did not work  The simple workaround was working with the "tsv" file output from above in the command line e.g.

[code]

[2020-11-01 03:22] bbraun923 commented on #386
It appears there is a bug with the new version of uwot (uwot_0.1.8.9001 ). Uninstalled uwot and reinstalled version 0.1.8 and function successfully worked.

[2020-11-01 03:22] #386 closed

[2020-11-02 09:37] honghh2018 opened #387 "H5 file read error"
Hi @All,
     Sorry bother again,
      I am unable to work well for the ArchR because i am unclear for the really steps for the archr workflow so much.
      For the step like below, occurred error.
      2020-11-02 09:39:20 :  Annotating Chr: chr1
Error in H5Fopen(file) : HDF5. File accessibilty. Unable to open file.
Calls: addArchRAnnotations ... lapply -> FUN -> .getRegionsFromAnno -> .h5read

[2020-11-02 16:28] jgranja24 commented on #385
Nice catch i just updated this on master. Thanks!

https://github.com/GreenleafLab/ArchR/blob/b6b42107098ecdfafc064855bcefe32844a0027c/R/IntegrativeAnalysis.R#L1176

[2020-11-02 16:28] jgranja24 commented on #385
Closing this issue thanks for the help!

[2020-11-02 16:29] jgranja24 commented on #387
Hi @honghh2018, do you mind adding this information to the other issue you already opened https://github.com/GreenleafLab/ArchR/issues/381? It seems related.

[2020-11-02 16:59] qingnanl opened #388 "Is it possible to modify the matrix in ArchR or add external matrices to the project"
Hi Developers,

Thanks for the great package. It is very smooth and versatile.

One thing I found is that I don't know how to modify the matrix generated by ArchR and store it back in the project or add external matrices to the project. For example, I might need to do some preprocessing such as batch correction or other normalization on the GeneScoreMatrix with other software and send it back to t

[2020-11-02 18:50] JLiLab commented on #385
Thank you for the quick action! I tested the new version but found that all the peak2gene pairs (>70,000 pairs) determined by the previous version were disappeared. Somethings seem not right.

[2020-11-02 21:37] sylestiel opened #389 "Does the Call Peak function depend upon the Pseudobulk replicate generation?"
Hi,

 I'm in the process of working my way throught the full manual of ArchR. I was wondering if generation of PseudoBulk Replicates is a prerequisite  to Calling Peaks using ArchR. Also can I direct the function call
group.by= Clusters
as opposed to
group.by =Clusters2 (Labeling scATAC-seq clusters with scRNA-seq information).
What are the pros and cons of using Clusters vs. Clusters2

Thanks!

[2020-11-03 00:52] rcorces commented on #389
1) Pseudobulk generation is a prerequisite for peak calling
2) The cell groupings that you use will affect the peaks that you get. In the tutorial, we refined our cluster identification using RNA information to create "Clusters2". In reality, these clustering schemes are extremely similar (shown below) with the exception of the monocyte cluster. What is "better" will depend on your application.

C

[2020-11-03 01:14] rcorces commented on #388
As far as I know, this capability does not exist. It also seems difficult to implement. The matrices are actually stored in the Arrow files which complicates things. This does seem like it would be useful but @jgranja24 would have to weigh in on how difficult this would be to implement.

[2020-11-03 01:24] qingnanl commented on #388
Thanks for the reply. I would still recommend you consider this possibility. I think for all the steps, you have put quite a state of the art methods in it, but it could be inevitable that some methods perform better than each other in a different context, and it is certainly impractical for you to get all of them implemented.

I am also reading your code regarding "addGeneScoreMatrix" or adding o

[2020-11-03 01:30] honghh2018 commented on #387
Hi @jgranja24 ,
     Thanks for remind me the #381, however the LOLA annotation was already downloaded through your advices using wget command ,  It had me confuse a lot. the file showing below, had been download a few days ago.
/share/nas2/public/R/library/3.6/ArchR/data/Annotations/LOLA-Mm10-v1.Anno
 The below picture was part of the ArchR directory,
![image](https://user-images.githubuserconten

[2020-11-03 02:36] sylestiel commented on #389
Thank you!!

[2020-11-03 02:36] #389 closed

[2020-11-03 15:48] rcorces commented on #388
What exactly is the downstream use case here? Do you want to display this new information as a UMAP, with cells colored by some updated value? If so, you can just add a new column to `cellColData` using values computed outside of ArchR. If you want a matrix to work natively with other ArchR functions, then that seems like a more difficult feature request that wont be implemented any time soon.

[2020-11-03 16:11] qingnanl commented on #388
For example, what about batch correction on the gene score? Harmony is a good one but I won't say it is the best in all cases, plus it does not correct for the expression level itself. It might be useful for giving better RNA-ATAC integration and also gene-peak linking.

[2020-11-03 16:28] asmagen opened #390 "Filtering cells before feature selection/clustering"
Hello,

How can I exclude exclude cells from the feature selection and clustering analysis? Ideally performing initial clustering to identify clusters representing contaminants and then removing them from a second iteration of the analysis focused on the other cells.

I tried looking at the strategy in filter doublets to see if I can use that code to do the filtering on other cells (non doublets),

[2020-11-03 16:30] asmagen opened #391 "Upper threshold on # fragments"
Hello,

In the QC filtering function there's a way to filter the low # fragment cells but not specifically select for cells with an intermediate # of fragments (above the failed cells and below the very highly enriched ones).
How can I focus on such cells for dedicated analysis?

Thank you

[2020-11-03 18:53] sylestiel opened #392 "Could not find function "addMotifAnnotations""
<img width="980" alt="Screen Shot 2020-11-03 at 12 58 59 PM" src="https://user-images.githubusercontent.com/64283689/98029014-836a8300-1dd4-11eb-819b-eab8bb598ae0.png">
proj4 <- addMotifAnnotations(ArchRProj = proj4, motifSet = "cisbp", name = "Motif")
Error in addMotifAnnotations(ArchRProj = proj4, motifSet = "cisbp", name = "Motif") :
  could not find function "addMotifAnnotations"

How may I ad

[2020-11-03 20:27] sylestiel commented on #392
Had to restart R. Problem resolved upon restarting.

[2020-11-03 20:27] #392 closed

[2020-11-03 21:13] spietrzak commented on #267
Thank you for your response. I guess I'm still just unsure about what the best way to incorporate scRNA-seq into ArchR is. Just to explain further over what I was trying to do, I clustered scRNA-seq data in a separate RStudio Project using Seurat. I tried to save my Seurat object as an RDS file, like the example input file in the ArchR manual, and then upload this into my ArchR R Project. I'm also

[2020-11-03 21:33] sylestiel opened #393 "Error in tolower(validBSgenome(getGenome(ArchRProj))@provider_version) : no slot of name "provider_version" for this object of class "BSgenome""
proj4 <- addArchRAnnotations(ArchRProj = proj4, collection = "EncodeTFBS")
ArchR logging to : ArchRLogs/ArchR-addArchRAnnotations-1ccc29e3bc5e-Date-2020-11-03_Time-15-31-58.log
If there is an issue, please report to github with logFile!
Error in tolower(validBSgenome(getGenome(ArchRProj))@provider_version) :
  no slot of name "provider_version" for this object of class "BSgenome"

I do not underst

[2020-11-04 04:21] rcorces commented on #390
https://www.archrproject.com/reference/subsetArchRProject.html

[2020-11-04 04:23] rcorces commented on #391
You can either use the `subsetArchRProject` function which I recommended for your other issue or you can see the various ways to manipulate ArchR projects outlined in the manual. https://www.archrproject.com/bookdown/manipulating-an-archrproject.html

[2020-11-04 04:23] #391 closed

[2020-11-04 04:25] rcorces commented on #390
also `%ni%` is a custom function which provides the opposite of `%in%`. Please close if this answers your questions.

[2020-11-04 07:27] mzhibo opened #394 "plotEmbedding with split.by support"
**Describe the problem that your feature request would address.**
A common analysis that is performed but not currently supported is split view of the plotEmbeddings, for example, by Samples.

**Describe the solution you'd like**
A feature similar to the split.by feature in Seruat's FeaturePlot function would be great for side to side comparison between samples. This is do-able using subsetted arr

[2020-11-04 10:17] angleYuan opened #395 "chunk_size error when running createArrowFiles with large number of scaffolds"
**Describe the bug**
I work with the sea lamprey, whose latest genome assembly still contains more than 1400 scaffolds. It seemed that the large number of scaffolds gave me the following error when I ran createArrowFiles.

<simpleError in if (chunk_size > 2^32 - 1) {    root_dim <- floor(((2^32 - 1)/H5Tget_size(dtype))^(1/length(chunk)))    chunk[chunk > root_dim] = root_dim    message("Current ch

[2020-11-04 10:37] lzj1769 commented on #370
Hi @jgranja24

I found a similar issue from plotTrajectory, where I cannot set quantCut to NULL because:
`.validInput(input = quantCut, name = "quantCut", valid = c("numeric"))`

I have to set it to c(0, 1) to not use quantile threshold.

best,
Li

[2020-11-04 10:40] angleYuan commented on #352
Hi everyone, I encountered the same multi-thread issue when running my data but not the tutorial data on the same server, so I am not sure if it is a problem with my OS. Indeed I was able to bypass this issue with my data by setting threads=1 but it becomes really slow (too difficult for trouble-shooting other problems...). I attached the log files for both my data (threads=16) and the tutorial da

[2020-11-04 13:39] JamesDanielOReilly opened #396 "filterDoublets error in as.POSIXct.numeric(e)"
**Describe the bug**
Calling `filterDoublets()` gives error "Error in as.POSIXct.numeric(e) : 'origin' must be supplied". This bug was previously addressed in issue #217 . @jgranja24  said that this is now fixed on the release branch but I'm still running into this problem even when pulling from this branch. The issue arises both on the master branch and the 1.0.0 release branch. I have attached s

[2020-11-04 15:07] rcorces commented on #396
from what I can tell, it looks like no change was implemented to fix #217
@jgranja - I still see the problematic `addProjectSummary()` call in the current master version. I thought the fix was supposed to remove this because of issues with `Sys.time()` in R v4.*?

https://github.com/GreenleafLab/ArchR/blob/b6b42107098ecdfafc064855bcefe32844a0027c/R/FilterCells.R#L101

[2020-11-04 15:09] rcorces commented on #352
@angleYuan - have you tried using `subThreading = FALSE` instead of `threads = 1`?

[2020-11-04 15:18] JamesDanielOReilly commented on #396
For now, should I implement the modified function you referenced in #217 ?

[2020-11-04 15:21] rcorces commented on #396
yes - that should solve your problem

[2020-11-04 15:45] biojiangke commented on #385
I'll second this. After the update, the previous peak2gene pairs disappeared and "getPeak2GeneLinks" would return an error message: "Input value for 'start' is not a integer, (start = numeric) please supply valid input!". This seems to mean the links are empty.

[2020-11-04 16:22] sylestiel commented on #396
I'm having the same issue as well (Error in as.POSIXct.numeric(e) : 'origin' must be supplied) despite installing
devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.0", repos = BiocManager::repositories())

So in essence i don't believe the doublets are being filtered

[2020-11-04 16:25] angleYuan commented on #352
Hi @rcorces , I only had one sample, so if I understand it correctly, subThreading = FALSE and threads = 1 was the same in my case.

[2020-11-04 16:33] rcorces commented on #352
I dont believe that is the correct interpretation. I think parallelization happens on a per-chromosome basis when creating arrow files. I think one possible explanation for the issues with HDF5 files is that some systems use subThreading differently or dont allow subThreading (for ex. cluster environments). Please try it and let us know what happens.

[2020-11-04 16:36] angleYuan commented on #352
Thank you for the explanation. I will give it try!

[2020-11-04 16:38] atimms opened #397 "choose rows in plotTrajectoryHeatmap"
I'm trying to plot a set of heatmaps using plotTrajectoryHeatmap.

This generally works great but now I just want to choose a subset of genes to make a smaller heatmap. Is there a way I can choose which rows to include? I see there is a way to exclude genes using grepExclude.

Thanks

Andrew

[2020-11-04 17:11] #397 closed

[2020-11-04 18:27] sylestiel opened #398 "chromVAR analysis using ArchR on mouse dataset"
<img width="742" alt="Screen Shot 2020-11-04 at 12 05 22 PM" src="https://user-images.githubusercontent.com/64283689/98153455-d4dc4600-1e98-11eb-941b-e2e4f1a2b73a.png">

Still encountering problems with motif analysis!

[2020-11-04 18:38] lzj1769 commented on #396
Same issue as well.
I am running ArchR on our HPC cluster.

[2020-11-04 19:15] sylestiel commented on #396
Issue addressed by reverting back to R version 3.6.3 (2020-02-29).

[2020-11-04 20:26] mzhibo commented on #393
had the same issue. Did addArchRGenome miss something?

[2020-11-04 22:15] mzhibo opened #399 "Visualizing feature enrichment in plotEmbedding()"
Do not use this form to report a bug in ArchR! Instead, use the "Bug report" option.

PLEASE FILL OUT THE RELEVANT INFORMATION AND DELETE THE UNUSED PORTIONS OF THIS ISSUE TEMPLATE.

**Describe the problem that your feature request would address.**
A common analysis I do is checking the enrichment of signature regions on the UMAP/tSNE embedding. Currently the tutorial shows a good way of checking

[2020-11-04 22:53] atimms opened #400 "grepExclude in plotTrajectoryHeatmap"
**Attach your log file**
ArchR has a built-in logging functionality for all complex functions. You MUST attach your log file (indicated in the console output) to this issue. Just drag and drop it here.
[ArchR-plotTrajectoryHeatmap-106cd6906cac0-Date-2020-11-04_Time-14-46-45.log](https://github.com/GreenleafLab/ArchR/files/5490863/ArchR-plotTrajectoryHeatmap-106cd6906cac0-Date-2020-11-04_Time-14-46

[2020-11-05 09:38] angleYuan commented on #352
Hi @rcorces it did work when I use multiple threads (n=16) and set subThreading to False. Thanks for your suggestions, although I have to say the help in processing time is not very significant but at least something.

[2020-11-05 13:33] lzj1769 opened #401 "Add ProjectDim function"
Thanks for this great package.

I am wondering if ArchR can provide a function to project matrix to low dimension,
for example, here is how Seurat does:
[code]

thanks,

[2020-11-05 19:00] hypercompetent opened #402 "ArchR 1.0.0: Error in addGeneExpressionMatrix(): object 'se' not found"
**Attach your log file**

[ArchR-addGeneExpressionMatrix-788e60750ffb-Date-2020-11-05_Time-18-51-46.log](https://github.com/GreenleafLab/ArchR/files/5496349/ArchR-addGeneExpressionMatrix-788e60750ffb-Date-2020-11-05_Time-18-51-46.log)

**Describe the bug**
When running `addGeneExpressionMatrix()`, ArchR is able to identify an overlap with scATAC and overlapping barcodes, then hits an error, report

[2020-11-05 21:06] Brawni opened #403 "filter peaks by cells"
Hi!

Thanks once again for the great package and your help!
I subset the peak matrix extracted with getPeakMatrix(archPrj, 'PeakMatrix',, binarised=TRUE) and noticing that when I filter out peaks recurring in less than 1% of cells my list of peaks is much smaller than the one I get by importing the reproducible peak bed file in the PeakCalls folder for that cluster (~30k peaks vs ~100k). I can't s

[2020-11-06 00:41] Ariel-TC opened #404 "Is it possible to filter bins in ArchR?"
Hi developers,
Thanks for your fantastic tool, it's versatile and powerful.
One thing confused me is that could I modify the TileMatrix the ArchR generated? I mean can I filter some bins in TileMatrix to suit my data? I noticed that the only way to access TileMatrix is through `getMatrixFromProject` and I haven't figure out if there exists some approach to modify it like assignment or else directl

[2020-11-06 04:15] rcorces commented on #403
I'm not sure I 100% follow your question. Feel free to clarify if this answer does not help.
For clarity - I think the function you meant to refer to was `getMatrixFromProject()`?
When you say "peaks recurring in less than 1% of cells" you mean that less than 1% of cells have any insertion event in the given peak, right?
The reproducible peak set is created based off of pseudobulk replicates. In t

[2020-11-06 04:20] rcorces commented on #404
Currently, we dont provide methods for users to manipulate matrices like this. The matrices are stored in the Arrow files and manipulating them is not straightforward. For this reason, we let you export the matrix and play with it outside of ArchR.

I'm not sure exactly what you want to do with the TileMatrix. If you want to ignore certain tiles, you could always create a custom genome annotation

[2020-11-06 04:20] #404 closed

[2020-11-06 04:28] Ariel-TC commented on #404
Thanks for your reply.

[2020-11-06 04:49] Brawni commented on #403
I see! Yes I meant that function sorry! Yes that's what I meant....and now I can see how it makes more sense to control reproducibility at pseudo-bulk level.

Thanks!

[2020-11-06 04:49] #403 closed

[2020-11-06 12:17] Ariel-TC opened #405 "Error in createGenomeAnnotation()"
Hi developers,
Thanks for your brilliant tool for scATAC-Seq.
I try to create a custom ArchRGenome using `createGenomeAnnotation()`
but when I run the code:
`genomeAnnotation=createGenomeAnnotation(genome=BSgenome.Hsapiens.UCSC.hg38)`, I got the error:
`Getting genome..`
`Getting chromSizes..`
`Getting blacklist..`
`Blacklist not downloaded! Continuing without, be careful for downstream biases..`

[2020-11-06 13:05] #405 closed

[2020-11-06 13:24] Sophiesze commented on #277
@jgranja24

Hi, would you mind tell me that if there are any updates on this issue? Thanks!

[2020-11-06 17:28] arh223 commented on #277
@Sophiesze I left it for a few weeks and it managed to fix itself

[2020-11-06 21:41] MagpiePKU opened #406 "Single-cell tracks and bulk tracks not in the same order"
Hi @jgranja24

Thank you for adding in the single cell fragment plot feature which is extremely handy.

<img width="904" alt="Screen Shot 2020-10-27 at 7 52 26 PM" src="https://user-images.githubusercontent.com/25017655/97385017-17e15c80-188e-11eb-9349-c47243e244b6.png">

_Originally posted by @jgranja24 in https://github.com/GreenleafLab/ArchR/issues/228#issuecomment-717662407_

We tried the feat

[2020-11-06 22:02] Brawni opened #407 "reproduciblePeaks.gr.rds files not organized into grouping sub-folders"
Hello again,

It seems that the reproduciblePeaks.gr.rds files are not saved within sub-folders corresponding to the grouping factor like for insertion.coverage.h5 files. So if you run addReproduciblePeaks for two clustering groupings they get mixed up in the PeakCalls folder.

Thank you

[2020-11-07 04:08] #398 closed

[2020-11-07 04:09] #393 closed

[2020-11-07 04:18] rcorces commented on #406
I'm adding the bug label to this. The panels in these plots should get ordered properly.

[2020-11-09 02:31] Seandelao opened #408 "Trajectory inference with 2 clusters"
Hello,

I have a dataset in which there is a common progenitor that gives rise to 4 different differentiated cell types (i.e. cluster 1 to cluster 2, cluster 1 to cluster 3, etc.), so there is only two clusters per trajectory.

When I try to do the trajectory inference with:
[code]
I get the error:
[code]
Is there any way to circumvent this?

[2020-11-09 20:41] bnprks opened #409 "subsetArchRProject doesn't subset Arrow metadata"
In subsetArchRProject, the data matrices seem to correctly take a subset of the requested cells, however the metadata group in the hdf5 file does not take a subset with just the requested cells. This results in failures when creating ArchR projects from arrow files which have been created with subsetArchRProject.

I believe this bug may be related to #251.

More details:
The offending lines of cod

[2020-11-09 21:42] sylestiel opened #410 "Peak2GeneLinkage step error"
<img width="859" alt="Screen Shot 2020-11-09 at 3 38 34 PM" src="https://user-images.githubusercontent.com/64283689/98599508-a946ca80-22a1-11eb-85ee-79363d29987c.png">
[ArchR-addPeak2GeneLinks-1624662897c4d-Date-2020-11-09_Time-15-36-00.log](https://github.com/GreenleafLab/ArchR/files/5513429/ArchR-addPeak2GeneLinks-1624662897c4d-Date-2020-11-09_Time-15-36-00.log)

Can you kindly help me understan

[2020-11-10 09:32] yankiven opened #411 "addClusters errr"
Hello autor:
       I have 5000 cells, when i use `addClusters` function for clustering, i add the three parameters , `testBias = TRUE, filterBias = TRUE, biasClusters = 0.01` , for filtering cluster which contain cell number less than 50. In the clustering result, it is still have cluster less than 50. so why?

---
my code :
proj3 <- addClusters(input = proj2,
                         reducedDims

[2020-11-10 15:02] sylestiel opened #412 "Custom List for Trajectory Heatmap"
Can we use acustomized list of features for **getTrajectory** and **plotTrajectoryHeatmap**?

How can I do so?

Thanks!

[2020-11-10 18:53] lyuguol commented on #256
@jasonsaunderswilliams

Hello Jason,

I ran into the same error as yours.

Did you manage to read in your 'inputFiles'?

My files are stored in my MacOS as this: "/Users/High-throughput NGS/Single cell ATAC-seq/data/fragments.tsv.gz".

I read in the data like this.....

Error in .validInput(input = sampleNames, name = "sampleNames", valid = c("character")) :
  Input value for 'sampleNames' is not

[2020-11-10 18:55] rcorces commented on #256
@lyuguol - as the error points to, your `inputFiles` variable has no names attribute. `names(inputFiles)` is empty.

[2020-11-10 19:03] lyuguol commented on #256
@rcorces Many thanks for the quick reply. Could you show me how to read in my data (10XGenomics scATAC-seq)? Thank you.

[2020-11-10 19:16] lyuguol commented on #256
@rcorces Finally, by modifying this code:

into

I managed to read in the data and create the arrow files.

Sorry for the inconvenience.

Best,

Guoliang

[2020-11-11 07:20] zhaoliyang0429 opened #413 "ERROR in addReproduciblePeakSet(）"
I was running tutorial hematopoiesis dataset following the tutorial, in the step projHeme4 <- addReproduciblePeakSet(
  ArchRProj = projHeme4,
  groupBy = "Clusters2",
  pathToMacs2 = "/home/zhaoliyang/anaconda3/envs/ATACSeq/bin/macs2"
)
it came up an error.
ArchR logging to : ArchRLogs/ArchR-addReproduciblePeakSet-a325acb7b94-Date-2020-11-10_Time-17-01-14.log
If there is an issue, please report t

[2020-11-11 09:38] koefoeden opened #414 "Best approach when using hashtagged cells?"
Hi!

Thanks for making such a brilliant package! I was wondering what approach you would recommend when using data from hashtagged cells (cell hashing using ASAP-seq that allows sample-multiplexing on the 10x lane)? The issue is that the sample-metadata column derived from the single fragment file cannot be overwritten (I suppose due to the way the data is stored in arrow-files), so assigning new

[2020-11-11 14:38] rcorces commented on #414
You could do this before making Arrow files as you suggest. Alternatively, if you know how the 10x barcodes associate with your samples, then you can add an additional column to `cellColData` to track this. ArchR currently does not provide any native implementations to handle hashing. If you have an idea for how we could provide a universal implementation for hashing, feel free to suggest it.

[2020-11-11 14:40] rcorces commented on #413
what version of MACS2 are you running?

[2020-11-11 15:48] asmagen opened #415 "Peak call - No Coverage Metadata found for : Clusters"
Hello,

I'm unable to get the peak caller functionality working:
[code]

Thanks

[2020-11-11 16:11] rcorces commented on #415
have you run `addGroupCoverages()` already? This is a prerequisite for calling peaks.

[2020-11-12 04:11] zhaoliyang0429 commented on #413
macs2 version  2.1.1.20160309

[2020-11-12 04:17] rcorces commented on #413
Can you try updating your macs2 version?

[2020-11-12 04:40] zhaoliyang0429 commented on #413
I have updated my macs2 version to macs2 2.2.7.1, but it went the same error. What can I do?

[2020-11-12 04:45] rcorces commented on #413
can you upload the log file of your most recent attempt?
indicated by `ArchR logging to : ArchRLogs/ArchR-addReproduciblePeakSet`...

[2020-11-12 04:55] zhaoliyang0429 commented on #413
[ArchR-addReproduciblePeakSet-66ce5783c48b-Date-2020-11-12_Time-12-36-46.log](https://github.com/GreenleafLab/ArchR/files/5528330/ArchR-addReproduciblePeakSet-66ce5783c48b-Date-2020-11-12_Time-12-36-46.log)

[2020-11-12 15:47] rcorces commented on #413
Sorry - I dont know what is causing your problem. I dont see anything abnormal in the log file (nor any errors for that matter). The tutorial has been heavily validated and the fact that you are experiencing issues with running the tutorial indicates to me that either something is off with your configuration or that there is some user input that is wrong. I doubt that this is causing this problem

[2020-11-12 15:59] anamariaelek opened #416 "No slot of name "provider_version" for this object of class "BSgenome" when using custom genome annotation from `BSgenome` object"
Adding genome from `BSgenome` object produces the error similar to #393
To reproduce it:
[code]

Here's my `sessionInfo()`:
[code]

[2020-11-12 21:03] angleYuan commented on #395
Hi @rcorces @jgranja24, I figured out the problem. It was not due to chunk_size error, instead, it was because some of my scaffolds were so tiny that only one or only a few fragments mapped to them and all the mapped fragments were filtered out in cell quality check ("bcpass"). So for these scaffolds, the"fragments" become an empty dataset and create errors in h5 write. I submitted a pull request

[2020-11-12 22:03] asmagen commented on #415
I did, following your response, and now it fails with another error:
[code]
Although there are arrow files, but I'm not sure it's what it's looking for:
[code]
Thanks for your help

[2020-11-13 02:39] raphaela2018 commented on #251
Hi Jeff,

I tried the new release branch and still got the same error with "getMarkerFeatures". Any other suggestions?

Thanks for your help!

[2020-11-13 04:03] rcorces commented on #251
can you upload the new log?

[2020-11-13 04:23] zhaoliyang0429 commented on #413
Many thanks. I am running it on R 3.6 now

[2020-11-13 13:51] ankushs0128 commented on #416
I´m also getting the same error

[2020-11-13 16:42] asmagen opened #418 "Unable to calculate doublet scores"
Hello,

Most of the ArchR functionality and multithreading is working well on my servers but the doublet score calculation fails with some errors:
[code]
Any advice on how to resolve or debug this?

Thanks

[2020-11-13 16:47] rcorces commented on #418
This looks like an error related to your system, not ArchR. Seems like your system isnt able to allocate the requested resources - looks like you are requesting too many threads with ArchR. I dont think this is something we can help with.

[2020-11-13 17:05] raphaela2018 commented on #251
Yes here is the new log.

[ArchR-getMarkerFeatures-71f61812a8f9-Date-2020-11-12_Time-21-46-01.log](https://github.com/GreenleafLab/ArchR/files/5538255/ArchR-getMarkerFeatures-71f61812a8f9-Date-2020-11-12_Time-21-46-01.log)

[2020-11-13 17:44] sylestiel opened #419 "How to avoid the loss of resolution in clustering when Integrating with scRNA seq data"
<img width="969" alt="Screen Shot 2020-11-13 at 11 37 42 AM" src="https://user-images.githubusercontent.com/64283689/99103102-ac450200-25a4-11eb-9ffb-19473bcfdfd1.png">

1) I would like to **retain the cluster resolution from Constrained Integration** (predictedGroup_Co) because the step
labelNew <- colnames(cM)[apply(cM, 1, which.max)]
labelNew

is resulting in loss of clusters going from 10 to 5

[2020-11-13 20:59] #418 closed

[2020-11-13 21:00] asmagen opened #420 "addDoubletScores fails with ‘getNTrees’ is not a valid field or method name for reference class “Rcpp_AnnoyEuclidean”>"
I get the following error upon trying to compute doublet scores:
[code]
Any idea of what might cause this?
Thanks

[2020-11-14 01:50] #352 closed

[2020-11-14 02:10] PeggySze opened #421 "simpleError in .availableChr(tmpFile): No Chr Found in ArrowFiles"
Hi everyone ! I encountered an error when creating arrow files. The following is the error information :
[code]
And here is the information of my R session :
[code]
I also attach my ArchRLogs.
[ArchR-createArrows-8aac5bda24-Date-2020-11-13_Time-20-25-24.log](https://github.com/GreenleafLab/ArchR/files/5540019/ArchR-createArrows-8aac5bda24-Date-2020-11-13_Time-20-25-24.log)
I guess it's because chr

[2020-11-14 04:32] rcorces commented on #420
Have you run through the full tutorial with the tutorial data? This is not a normal error that we see and my assumption is that something is not set up properly on your system.

[2020-11-14 17:48] rcorces commented on #419
This part of the tutorial is for illustrative purposes only. You should identify clusters however best fits your analysis.

[2020-11-14 17:48] #419 closed

[2020-11-16 06:28] jgranja24 commented on #402
Sorry about that this is now fixed in master! Thanks!!!

[2020-11-16 08:27] #421 closed

[2020-11-16 08:36] PeggySze opened #422 "ERROR Found in .addGeneScoreMat simpleError in (function (classes, fdef, mtable)"
Hi everyone ! I encountered an error when add GeneScoreMatrix. The following is the error information :
[code]
And here is the information of my R session :
[code]
I also attach my ArchRLogs.
[ArchR-createArrows-f39b28df8a36-Date-2020-11-16_Time-14-08-04.log](https://github.com/GreenleafLab/ArchR/files/5545037/ArchR-createArrows-f39b28df8a36-Date-2020-11-16_Time-14-08-04.log)
Does anyone know how

[2020-11-16 14:54] #402 closed

[2020-11-17 00:48] hisplan opened #423 "Release 1.0.0"
Hi,

I saw the `release_1.0.0` branch merged into the `master` branch, but the latest release tag is still `v0.9.1-beta`. Would you please properly release a tag so that we can just work with the tag, rather than clone the repo, which could potentially include unwanted commits, causing irreproducibility?

Thanks!

[2020-11-17 01:02] rcorces commented on #423
this is on our radar. we are working on it. Its worth noting that ArchR is still in beta. we will provide a stable release tag soon.

[2020-11-17 01:02] #423 closed

[2020-11-18 00:41] liaoshengyou commented on #288
I also get this error message. like this:
If there is an issue, please report to github with logFile!
2020-11-18 08:16:30 : Running Seurat's Integration Stuart* et al 2019, 0.004 mins elapsed.
Warning: The following arguments are not used: drop
2020-11-18 08:16:32 : Checking ATAC Input, 0.035 mins elapsed.
2020-11-18 08:16:32 : Checking RNA Input, 0.035 mins elapsed.
Error: Cannot add a different

[2020-11-18 07:12] bioinfo-sc opened #424 "error in addUMAP in R 4.0.3"
Hi,

I have installed the latest version of ArchR following the instructions without any error. Then I tried to run the example provided on the website and met two errors.

1. Error in as.POSIXct.numeric(e) when filtering doublets
I followed suggestions in issue #217 and then the error message is gone.
2. Then I was trying to run proj <- addUMAP(ArchRProj = proj, reducedDims = "IterativeLSI")
and

[2020-11-18 10:34] markphillippebworth commented on #424
I have the same exact issue.

R version 4.0.2 (2020-06-22)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 20.04.1 LTS

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/openblas-pthread/libblas.so.3
LAPACK: /usr/lib/x86_64-linux-gnu/openblas-pthread/liblapack.so.3

locale:
 [1] LC_CTYPE=C.UTF-8       LC_NUMERIC=C           LC_TIME=C.UTF-8
 [4] LC_COLLATE=C.UTF-8     LC_MONET

[2020-11-18 14:52] rcorces commented on #424
As suggested in #386 - this is some error or incompatibility with the new version of `uwot`
So I would suggest troubleshooting getting the old version of uwot properly installed and post on their github for whatever help you need.

We will separately look into whether there is anything that can be done within ArchR to prevent the error but this will take time.

[2020-11-18 15:00] rcorces commented on #424
Looking at the `uwot` source, it looks like this is an incompatibility.
@jgranja24 - Not sure how we want to handle this. Unless I'm mistaken, the old version 0.1.8 of uwot uses
`model$nn_index$save`
and the new version 0.1.9
`model$nn_index$ann$save`

Shown in this `uwot` commit -
https://github.com/jlmelville/uwot/commit/ef1978f26c069b8c97ee6e7c219e6765ab9ecfcc

[2020-11-18 15:07] zhijunyuu opened #425 "Failed to install 'ArchR' from GitHub"
Hi,

I followed the installation instructions, but there is still an error about `Cairo`:
[code]

**Session Info**
[code]

[2020-11-18 16:30] coffeeCowLu commented on #424
I have tested old version 0.1.8 of uwot can solve it!

[2020-11-18 16:37] rcorces commented on #425
Cairo is a graphics library - https://www.cairographics.org/download/
Once this graphics library is properly installed on your system, you should be able to install the R library `Cairo` which utilizes the graphics library. So i assume you just dont have the Cairo graphics library properly installed.

[2020-11-18 18:57] jessie-wangjie commented on #385
I got the same error, the correlation calculated had a lot NAs
o$Correlation <- rowCorCpp(as.integer(o$A), as.integer(o$B), assay(seATAC), assay(seRNA))

[2020-11-18 19:39] JLiLab commented on #385
If you change the code back to the original: o$TStat <- (o$Correlation / sqrt((1-o$Correlation^2)/(ncol(seATAC)-2))), you will get the same result. Not sure why though

[2020-11-19 16:41] sylestiel opened #426 "Aesthetics of the geneTrack"
Hi,
 How can I increase the fontsize in the **geneTrack**  segment when using plotBrowserTrack.
I have included baseSize and scTileSize and facetbaseSize attributes but the geneTrack gene name font size remained unchanged. Suggestions?

Thank you!!

[2020-11-19 19:11] RegnerM2015 opened #427 "Change or set order of coverage panels in plotBrowserTrack()"
**Describe the problem that your feature request would address.**
I would like to manually set the order of browser coverage tracks in plotBrowserTrack(). I can specificy which group configuration with the groupBy parameter, but I would like to change the default order of these labels in BrowserTrack.

**Describe the solution you'd like**
Can you suggest a method to change the order of the "identi

[2020-11-19 23:41] fkeramati commented on #424
Hi,
I'm also having the same problem! :-(

How did you mange to install 0.1.8 uwot? I can't because of Rcpp and RcppAnnoy problems!!! I'm using mac OS Catalina!!!
https://github.com/jlmelville/uwot/issues/54

This problem has halted all of my analysis workflow!!

Thanks

[2020-11-20 01:52] rcorces commented on #426
adobe illustrator :)

This is not currently possible. It would be trivial to enable but I have a feeling that it might have been disabled to prevent weird issues with the gene track.

@jgranja24  -  I think the problem is that the call to `.geneTracks()` doesnt pass along the `baseSize` parameter:
https://github.com/GreenleafLab/ArchR/blob/2f022a448d8248a0f9afb33419bcbaeafe7731c0/R/ArchRBrowser.R#

[2020-11-20 02:03] sylestiel commented on #426
Ok. Thanks for the info.

[2020-11-20 02:04] rcorces commented on #426
I'm going to leave this open for now incase @jgranja24 wants to give his 2 cents.

[2020-11-20 02:05] coffeeCowLu commented on #424
hi, have you finished your problems?

i dowload uwot :https://cran.r-project.org/src/contrib/Archive/uwot/uwot_0.1.8.tar.gz' , and installed it by install.packages('yourDownLoadPath/uwot_0.1.8.gz').

If you need a dependency package, you need to install the dependency first.

If the conventional installation method fails, it is usually solved through git installation, by devtools::install_git() or

[2020-11-20 02:22] PeggySze commented on #422
It turned out that one of my geneAnnotation column names is wrong ( 'symbol` to `gene_id` in genes.gr of geneAnnotation)

[2020-11-20 02:23] #422 closed

[2020-11-20 02:59] sylestiel opened #428 "Error in model$nn_index$save(nn_tmpfname) : attempt to apply non-function"
addUMAP function gives this error.

Recent Issue. Was not a problem in the past.

[2020-11-20 04:25] rcorces commented on #428
duplicate of #424

[2020-11-20 04:25] #428 closed

[2020-11-20 05:42] jlmelville commented on #424
Hello, I am the maintainer of **uwot**. I am sorry the 0.1.9 release has broken people's workflows (I don't think I was aware of the existence of **ArchR** until now).

Probably there has been a failure of API communication on my part: the UMAP `model` produced by `uwot::umap` and the like should be considered to be completely opaque and can change at any time. Its contents are left undocumented o

[2020-11-20 07:05] aselewa opened #429 "Turning off pseudo-bulk replicates"
Hi,

Forgive me if this has been asked before, but is there anywhere in the documentation that describes how to get a single pseudo-bulk insertion bed per cell-type and call macs 2on it? We dont have many cells and we'd like to call macs2 on all cells to increase coverage and thus power.

Thanks!

[2020-11-20 07:57] fkeramati commented on #424
Hi,
I've already tried this and unfortunately this does not work on mac!
In the recent couple of days both Rcpp and RcppAnnoy have also been updated, and now it is impossible to install older versions of uwot because of RcppAnnoy error!!

`In file included from nn_parallel.cpp:6:
./nn_parallel.h:68:3: error: too few template arguments for class template 'AnnoyIndex'
  AnnoyIndex<typename UwotAnnoy

[2020-11-20 14:10] rcorces commented on #429
Not the perfect solution yet but you can use `getFragmentsFromArrow()` and then merge the fragment files yourself and convert them into insertion beds.
https://www.archrproject.com/reference/getFragmentsFromArrow.html

The other alternative is to get a bigwig and call peaks on that using `getGroupBW()` but we havent documented that function yet.

[2020-11-20 14:14] rcorces commented on #424
@jlmelville - Thanks! We will follow up soon.

[2020-11-20 14:57] millerkaplanlab opened #430 "Issue with creating Arrowfile. Output is empty character."
Before you submit this issue please update ArchR to the latest version and make sure that this issue has not already been fixed in the latest release. ArchR is in *beta* and we will fix problems as they arise. To update ArchR:

devtools::install_github("GreenleafLab/ArchR", ref="master", repos = BiocManager::repositories())
[ArchR-createArrows-342a639e3054-Date-2020-11-20_Time-09-52-20.log](https:

[2020-11-20 16:08] sylestiel commented on #428
I read through issue #424 but do not understand what exactly I'm required to do to bypass the error. Kindly break it down for me.

[2020-11-20 16:58] jlmelville commented on #424
@fkeramati oh yeah, the reason for the new version of **uwot** was to allow a change in **RcppAnnoy**. So if you want to install uwot 0.1.8 you will also need to install RcppAnnoy 0.0.16.

[2020-11-20 18:12] sylestiel commented on #424
1 error generated.
make: *** [nn_parallel.o] Error 1
ERROR: compilation failed for package ‘uwot’
* removing ‘/Library/Frameworks/R.framework/Versions/3.6/Resources/library/uwot’
* restoring previous ‘/Library/Frameworks/R.framework/Versions/3.6/Resources/library/uwot’
Error: Failed to install 'unknown package' from URL:
  (converted from warning) installation of package ‘/var/folders/2c/zzjsgs_53

[2020-11-20 19:41] cb4github commented on #424
@rcorces, @jlmelville Many thanks for your ongoing efforts!
@sylestiel I confirmed success with the following on macOS Catalina Version 10.15.7, R.version 4.03

Best,
CB

[2020-11-20 20:52] sylestiel commented on #424
Addressed! Thanks CB for your help.

[2020-11-21 00:09] rojinsafavi opened #431 "paired atac rna"
Hi!
Where can I find the example files for paired atac + rna?

Thanks!

[2020-11-21 00:14] rojinsafavi commented on #431
I thought maybe you have it as an example within ArchR

[2020-11-21 05:16] rojinsafavi commented on #431
I downloaded from the 10X.
Thank you  :-)

[2020-11-21 05:16] #431 closed

[2020-11-21 06:25] sylestiel opened #432 "Error: Cannot have overlapping/missing cells in ATAC input, check 'groupList' argument!"
[ArchR-addGeneIntegrationMatrix-bbc5e0dc852-Date-2020-11-21_Time-00-15-10.log](https://github.com/GreenleafLab/ArchR/files/5577115/ArchR-addGeneIntegrationMatrix-bbc5e0dc852-Date-2020-11-21_Time-00-15-10.log)

proj2 <- addGeneIntegrationMatrix(
+     ArchRProj = proj2,
+     useMatrix = "GeneScoreMatrix",
+     matrixName = "GeneIntegrationMatrix",
+     reducedDims = "IterativeLSI",
+     seRNA =

[2020-11-21 15:28] rojinsafavi opened #433 "error in multiomic analysis"
I am following https://greenleaflab.github.io/ArchR_2020/Ex-Analyze-Multiome.html, and at this step:

[code]
 I get this error:

[code]

I attached the log file as well
[ArchR-addIterativeLSI-6ca2f4d4f6892-Date-2020-11-20_Time-22-50-42.log](https://github.com/GreenleafLab/ArchR/files/5577871/ArchR-addIterativeLSI-6ca2f4d4f6892-Date-2020-11-20_Time-22-50-42.log)

[2020-11-21 18:20] rcorces commented on #433
duplicate of #424

[2020-11-21 18:20] #433 closed

[2020-11-21 20:36] sylestiel opened #434 "Question about resolution"
@rcorces

Does the resolution have to be kept the same for Iterative LSI and Seurat Clustering?

Thanks!

[2020-11-21 23:00] rcorces commented on #434
No. In fact, if you read the manual, this is not the case in the tutorial.

[2020-11-21 23:00] #434 closed

[2020-11-21 23:08] rcorces commented on #240
Closing due to inactivity. Feel free to post to this thread if the problem can be reproduced with the latest version of ArchR and we will re-open the issue.

[2020-11-21 23:08] #240 closed

[2020-11-21 23:09] rcorces commented on #247
@concatenize - any updates on this. If not, I will close as this is a bit stale.

[2020-11-21 23:13] liaoshengyou opened #435 "chromVAR computeDeviations error:Error in isVirtualExt(exti)"
I also run this error, How Can I slove this problem....thanks

when I was run ChromVAR Deviatons Enrichment:
projHeme3 <- addDeviationsMatrix(ArchRProj = projHeme3, peakAnnotation = "Motif", force = TRUE) ##compute per-cell deviations

I see this error:

Using Previous Background Peaks!
ArchR logging to : ArchRLogs/ArchR-addDeviationsMatrix-a199f9c00de-Date-2020-11-22_Time-06-58-33.log
If there is

[2020-11-21 23:15] rcorces commented on #252
Closing due to inactivity. Feel free to post to this thread if the problem can be reproduced with the latest version of ArchR and we will re-open the issue.

[2020-11-21 23:16] rcorces commented on #290
Closing due to inactivity. Feel free to post to this thread if the problem can be reproduced with the latest version of ArchR and we will re-open the issue.

[2020-11-21 23:16] #290 closed

[2020-11-21 23:17] rcorces commented on #307
@barwe @jogiles - any update on this? If not I will close

[2020-11-21 23:20] #318 closed

[2020-11-21 23:21] rcorces commented on #321
Closing due to inactivity. Feel free to post to this thread if the problem can be reproduced with the latest version of ArchR and we will re-open the issue.

[2020-11-21 23:21] #321 closed

[2020-11-21 23:22] rcorces commented on #328
Closing due to inactivity. Feel free to post to this thread if the problem can be reproduced with the latest version of ArchR and we will re-open the issue.

[2020-11-21 23:22] #328 closed

[2020-11-21 23:23] rcorces commented on #332
Closing due to inactivity. Feel free to post to this thread if the problem can be reproduced with the latest version of ArchR and we will re-open the issue.

[2020-11-21 23:23] #332 closed

[2020-11-21 23:25] rcorces commented on #336
Closing due to inactivity. Feel free to post to this thread if the problem can be reproduced with the latest version of ArchR and we will re-open the issue.

[2020-11-21 23:25] #336 closed

[2020-11-21 23:26] rcorces commented on #350
Closing due to inactivity. Feel free to post to this thread if the problem can be reproduced with the latest version of ArchR and we will re-open the issue.

[2020-11-21 23:26] #350 closed

[2020-11-21 23:29] rcorces commented on #381
Closing due to inactivity. Feel free to post to this thread if the problem can be reproduced with the latest version of ArchR and we will re-open the issue.

[2020-11-21 23:29] #381 closed

[2020-11-21 23:29] rcorces commented on #387
Closing due to inactivity. Feel free to post to this thread if the problem can be reproduced with the latest version of ArchR and we will re-open the issue.

[2020-11-21 23:29] #387 closed

[2020-11-21 23:30] #390 closed

[2020-11-21 23:36] rcorces commented on #394
Sorry for the delay. I dont think this requires a separate function. I think you can just use normal subsetting on the `ArchRProject` object that you pass to `plotEmbedding()`

For ex -
[code]

You can plot arbitrary subsets of cells like this. Feel free to post again if this doesnt work for you and I'll reopen the issue

[2020-11-21 23:36] #394 closed

[2020-11-22 02:25] jbjela opened #436 "Error in createArrowFiles()"
**Attach your log file**
ArchR has a built-in logging functionality for all complex functions. You MUST attach your log file (indicated in the console output) to this issue. Just drag and drop it here.

[ArchR-createArrows-1ea85499f3cd-Date-2020-11-21_Time-18-07-44.log](https://github.com/GreenleafLab/ArchR/files/5578810/ArchR-createArrows-1ea85499f3cd-Date-2020-11-21_Time-18-07-44.log)

**Describ

[2020-11-22 15:02] fkeramati commented on #424
This also worked for me! Thanks a lot.

[2020-11-22 15:05] barwe commented on #307
OK~

Thanks & Regards,
Yin Chen ( 陈银 )

From: Ryan Corces
Date: 2020-11-22 07:17
To: GreenleafLab/ArchR
CC: barwe; Mention
Subject: Re: [GreenleafLab/ArchR] simpleError in Matrix::sparseMatrix(...): all(dims >= dims.min) is not TRUE (#307)
@barwe @jogiles - any update on this? If not I will close
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub,

[2020-11-22 15:48] rcorces commented on #436
You fragments have chromosomes called "hg19_chr1". This is not an acceptable input because your reference genome has chromosomes called "chr1". Because of this, ArchR finds no fragments that match based on chromosome. If you strip the "hg19_" off, it will work.

Please close this issue if this resolves your problem.

[2020-11-22 17:57] jbjela commented on #436
@rcorces That makes sense, I had a feeling that was the root of the issue. Is it possible to edit the fragment.tsv.gz file directly as if it were a .tsv file?

Thank you again

[2020-11-22 18:52] rcorces commented on #436
Thats not really an ArchR question and also a question that is better posted to sequencing forums in the future given our limited bandwidth.

But using `sed` is probably your best option:
`zcat fragmentFile.tsv.gz | sed 's/hg19_//g' | gzip >fragmentFileFixed.tsv.gz`

Granted I have no idea what the rest of your fragment file looks like so its really up to you to fix it into the correct input forma

[2020-11-22 18:52] #436 closed

[2020-11-22 19:20] jbjela commented on #436
Definitely, apologies for the inconvenience, Thank you for all the help!

[2020-11-22 23:48] ChangliangWang commented on #435
Hi Shengyou,

When I run the addGeneIntegrationMatrix function, I set the parameter 'addToArrow = TRUE' (I used the raw arrow files, as some downstream analysis modify my arrow files in the output path), and I re-run addDeviationsMatrix and didn't encounter this problem again. I don't whether it works fine in your case or not.

Best,
Changliang.

[2020-11-23 03:09] jgranja24 commented on #424
Hi All, Ive updated both .saveUWOT and .loadUWOT to better handle the newer versions from @jlmelville as follows.
By default it will try the normal save/load_uwot and if that fails try the previous save/loadUWOT which will be
further deprecated

These fixes are available in the release 1.0.1 branch.

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.1", repos = BiocManager::reposito

[2020-11-23 04:47] jlmelville commented on #424
@jgranja24 there was a bug in uwot until fairly recently where the dimensionality of Annoy nearest neighbor model wasn't being saved, which lead to an error when trying load the index. You might have run into that (or changes to the internals after the fix happened). Please do report an issue if it comes up again.

[2020-11-23 09:37] zhijunyuu commented on #425
Thanks for the quick reply.
I tried to install the Cairo graphics library, but it didn't work for me.

Then I installed other two packages:

xorg-x11-server-xvfb-cos7-x86_64
libxt-devel-cos7-x86_64

It works.

[2020-11-23 09:37] #425 closed

[2020-11-23 16:36] biojiangke commented on #400
In addition to "grepExclude", the "labelMarkers", "labelRows" and "useSeqnames" all seem to be not working. However, "labelTop" option is working properly.

[2020-11-23 18:25] liaoshengyou commented on #435
Hi, Changliang,

I running addGeneIntegrationMatrix this function and was already set 'addToArrow = TRUE' parameter , this method is not useful for me ,

I found this bug is in R version 4.0+ ,   'isVirtualExt(exti)' function is in  RClassUtils.R, so I think this problem may cause by R version, because 'RClassUtils.R' script is in R lib, so I reinstall R version 3.6.3 and install the same package,

[2020-11-23 21:54] shaka87 commented on #307
I have the same problem with a public data set from Caleb Lareau when creating arrow files: https://osf.io/7234r/download

Maybe this will help to hunt down the problem.

Thank you!

livius

<simpleError in Matrix::sparseMatrix(i = c(trunc(start(fragments)/tileSize),     trunc(end(fragments)/tileSize)) + 1, j = as.vector(c(matchID,     matchID)), x = rep(1, 2 * length(fragments)), dims = c(nTiles,

[2020-11-24 01:06] rcorces commented on #307
@shaka87 what is the species and genome build for that fragment file that you linked to?

[2020-11-24 01:35] shaka87 commented on #307
@rcorces great question and good instinct - I just realized I chose the wrong genome (hg19 versus hg38); now it is working fine - I am suspecting this was also the reason for @barwe 's error

thank you! livius

[2020-11-24 08:50] cschmidl opened #437 "Draw heatmap with only user-defined genes"
Dear Jeffrey and Ryan,

I would like to create a heatmap that only displays user-defined gene activities over groups (even if they are not marker genes)? This would be very handy to show literature-defined geneactivities over clusters.

Is this possible?

Thanks a lot!
Christian

[2020-11-24 09:46] zhijunyuu commented on #252
I got the same issue running on linux and using the 1.0.0 version of ArchR. Also tried 1 thread, it didn't help.

[2020-11-24 15:08] rcorces commented on #252
@zhijunyuu - Can you provide a log file?

[2020-11-24 15:25] hoondy commented on #425
try installing it through conda, it worked for me

`conda install -c r r-cairo`

[2020-11-24 15:26] rcorces commented on #437
The output of the `getMarkerFeatures()` function is a `Summarized Experiment`. You should be able to manipulate this just like any summarized experiment object.  I think something like this would be fine:
[code]

That being said, I think this would be a useful feature to implement within `plotMarkerHeatmap()`

[2020-11-24 17:40] #430 closed

[2020-11-24 22:13] aselewa commented on #429
Ok thanks. I have a related question: I did my own differential accessibility analysis with edegR. Is there a way for me to add these to ArchR for downstream analysis? Thanks!

[2020-11-24 22:36] rcorces commented on #429
No this is not currently possible (and also shouldnt be necessary given the capabilities of ArchR).

[2020-11-25 06:55] cschmidl commented on #437
Sorry, I did not realize that also non-markers were in this Summarized Experiment and I had to simply put the FDR very high to also plot the non-markers!

[2020-11-25 14:39] rcorces commented on #437
Correct. This is probably why this feature does not exist within `plotMarkerHeatmap()` because there is no way to guarantee that the genes exist within the SE. The alternative to the previous solution I suggested would be to use `getMatrixFromProject()` and plot your heatmap outside of ArchR - this avoids having to use `getMarkerFeatures()` and lower the statistical cutoffs arbitrarily.

I'm going

[2020-11-25 14:39] #437 closed

[2020-11-25 23:58] rojinsafavi commented on #277
I am having this error for the 10X multiomics dataset, anyone knows why it's happening?

[2020-11-26 00:52] edencru commented on #424
Hi,

I am getting this same error.  I tried installing version 0.0.16 of RcppAnnoy and version 0.1.8 of uwot, but it didn't fix the problem. I also tried installing the newest release of ArchR (as noted above), but still get the same error.

Best,

[2020-11-26 01:42] aselewa commented on #429
ok thanks for your help :)

[2020-11-26 01:42] #429 closed

[2020-11-26 02:09] rcorces commented on #424
@edencru - That does not sound right. Please show the command you are running, the corresponding error message, and the output of `sessionInfo()`

[2020-11-26 02:16] edencru commented on #424
@rcorces I think I got it resolved. I re-installed the newest ArchR release and rebooted. Now it seems to be working! Thank you for your quick response.

Best,
EC

[2020-11-26 04:13] rojinsafavi opened #438 "H5Fopen error"
I am using the multiomic PBMC data. I get the following error:
[ArchR-getMarkerFeatures-87a9699c90ba-Date-2020-11-25_Time-20-04-26.log](https://github.com/GreenleafLab/ArchR/files/5600388/ArchR-getMarkerFeatures-87a9699c90ba-Date-2020-11-25_Time-20-04-26.log)

[code]

[2020-11-26 04:25] rcorces commented on #438
try `threads = 1`

[2020-11-26 04:36] jgranja24 commented on #438
Im very confused why these file accessibility errors happen. I wonder if this one is related to hdf5 locking... Ill look into this

[2020-11-26 04:42] jgranja24 commented on #435
Hmmm I need to look more into R 4.0 to diagnose this.

[2020-11-26 04:50] jgranja24 commented on #424
Closing this issue, feel free to open a new issue if this persists!

Best

Jeff

[2020-11-26 04:50] #424 closed

[2020-11-26 04:51] ChangliangWang commented on #435
I used R 4.0.2 and when I re-run my script, I didn't encounter this error again.

________________________________
发件人: jgranja24 <notifications@github.com>
发送时间: 2020年11月26日 12:42
收件人: GreenleafLab/ArchR <ArchR@noreply.github.com>
抄送: Wang Changliang <yb67610@connect.um.edu.mo>; Comment <comment@noreply.github.com>
主题: Re: [GreenleafLab/ArchR] chromVAR computeDeviations error:Error in isVirtualEx

[2020-11-26 06:36] coffeeCowLu opened #439 "addHarmony, addCluster or addUMAP:: how to set dimsToUse?"
how to set dimsToUse in the three functions?

dimsToUse=1:30 ?    or    dimsToUse=2:30?
(Signac: in LSI dims, the first dim may be sequence depth noise, it is recommended to use dims=2:30)

I have tested the 1:30 and 2:30 , i found
1:30:: The cell clustering was somewhat trailing without harmony,  and the heterogeneity was higher after harmony was added.

2:30:: The clusters of cells are clearly d

[2020-11-26 07:17] coffeeCowLu commented on #438
and try   Sys.setenv(HDF5_USE_FILE_LOCKING = "FALSE")

[2020-11-26 07:28] jgranja24 commented on #439
Hi @coffeeCowLu ArchR correlates the dims to the sequencing depth automatically and filters dims abs(correlated) > 0.75. However, in some cases the 1st dimension may be correlated to other technical noise not depth related. In general ArchR defaults are reasonable and dont need to be removed. If you think the results make more sense if you remove the first dimension thats totally reasonable. Biolo

[2020-11-26 07:31] jgranja24 commented on #426
This unfortunately wont work with `baseSize` parameter because you need to change the `label size` for geneTracks. I dont think we want to add these at this moment to keep things as simple as possible. If you think there is a strong need for this please let us know.

[2020-11-26 07:31] jgranja24 commented on #426
Closing this issue feel free to further comment/open new issues!

Best

Jeff

[2020-11-26 07:31] #426 closed

[2020-11-26 07:32] jgranja24 commented on #420
This maybe related to the R 4.0 issues? Can you attach the log file?

[2020-11-26 07:35] jgranja24 commented on #411
[code]

This just tests if clusters less than or equal to 50 cells are biased i.e.  is it significantly enriched for cells based on the `biasCol` parameter.

The parameter you are looking for is

[code]

[2020-11-26 07:35] jgranja24 commented on #411
Closing this issue, feel free to open additional issues.

[2020-11-26 07:35] #411 closed

[2020-11-26 07:38] jgranja24 commented on #414
You can use the `validBarcodes` in createArrows if you know which. The simplest suggestion is to do what @rcorces suggests. Just create an ArchRProject add to the `cellColData` and then you `subsetArchRProject`. This is probably the easiest procedure.

[2020-11-26 07:38] jgranja24 commented on #414
Please let us know if you have further questions by commenting/opening a new issue. I am closing this issue for now and hope your analysis goes as you hope!

[2020-11-26 07:38] #414 closed

[2020-11-26 07:41] jgranja24 commented on #401
Hmmm this seems reasonable I will take a look further into this.

[2020-11-26 07:47] jgranja24 commented on #370
This has been updated in the release_1.0.0 branch for when quantCut is NULL it will just set it to c(0,1) like you did.

Closing this issue, thanks for the help!

Jeff

[2020-11-26 07:47] #370 closed

[2020-11-26 07:47] jgranja24 commented on #395
Sorry for the delay, Ill take a look in the next day or so!

[2020-11-26 07:51] jgranja24 commented on #400
Hi @atimms this looks like a clearcut bug on my end.

I added this to the new release_1.0.1 branch.

[code]

I just need to test it real quick and hopefully this solves your issue!

[2020-11-26 07:55] coffeeCowLu commented on #439
@jgranja24 Thank you for your prompt reply.

[2020-11-26 08:22] rojinsafavi commented on #438
thank you!

[2020-11-26 08:22] #438 closed

[2020-11-26 10:48] josephides opened #440 "Peak Calling Error: argument 1 is not a vector"
**Attach your log file**
Start Time : 2020-11-25 22:29:51

------- ArchR Info

ArchRThreads = 5
ArchRGenome = Hg38

------- System Info

Computer OS = unix
Total Cores = 6

------- Session Info

R version 3.6.3 (2020-02-29)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS Catalina 10.15.7

Matrix products: default
BLAS:   /System/Library/Frameworks/Accelerate.framework/Versions/A/

[2020-11-26 14:37] rcorces commented on #420
Could also be an error caused by the newer uwot / RcppAnnoy versions

[2020-11-26 14:43] rcorces commented on #438
@rojinsafavi - which one of the suggested solutions worked for your case?

[2020-11-26 15:55] rojinsafavi commented on #438
I only passed  threads = 1 as an argument to the getmarkerfeatures

[2020-11-26 17:21] rcorces commented on #440
Can you reproduce this error using the tutorial dataset? If so, please show us the commands to reproduce.

[2020-11-27 12:25] Sophiesze opened #441 "Encountered NaNs When using markerHeatmap() with motifMatrix"
Hi GreenleafLab,

I was trying to draw a heatmap with motifmatrix and I encountered this issue.

The log file was attached. Thank you in advance for you help!

Best,
Sophie

`markersMotif <- getMarkerFeatures(
     ArchRProj = proj,
     useMatrix = "MotifMatrix",
     groupBy = args$groupby,
     bias = c("TSSEnrichment", "log10(nFrags)"),
     testMethod = "wilcoxon",
     useSeqnames="deviation

[2020-11-27 15:32] YanFang0620 commented on #385
Hi,
I tried to follow the tutorial steps:

p2g <- getPeak2GeneLinks(
  ArchRProj = projHeme5,
  corCutOff = 0.45,
  resolution = 1,
  returnLoops = TRUE
)

But I got an error message:

Error in .validInput(input = start, name = "start", valid = c("integer")) :
  Input value for 'start' is not a integer, (start = numeric) please supply valid input!
In addition: Warning message:
In min(abs(c(input%%

[2020-11-27 15:53] rcorces commented on #441
This is your error. Presumably you are trying to access an element that does not exist in the matrix.

[2020-11-27 15:58] rcorces commented on #385
@YanFang0620 - this is unrelated to this issue. Please create a new issue and **upload your log file** as requested in the issue template.

[2020-11-27 18:01] YanFang0620 opened #442 "getPeak2GeneLinks Error"
Hi,
I try to follow the steps for chapter"Peak2GeneLinkage with ArchR" using the turorial data.

After run the first step:

    ArchRProj = projHeme5,
    reducedDims = "IterativeLSI"
)

I got this log file:

[ArchR-addPeak2GeneLinks-c9f637af053-Date-2020-11-27_Time-12-49-47.log](https://github.com/GreenleafLab/ArchR/files/5609137/ArchR-addPeak2GeneLinks-c9f637af053-Date-2020-11-27_Time-12-49-47.l

[2020-11-27 18:22] rcorces commented on #442
I cannot reproduce your error. Perhaps you have missed some steps in the tutorial, such as adding a peak set or a peak matrix.

[2020-11-27 18:27] YanFang0620 commented on #442
Thank you for your reply!
I checked the available matrix in projHeme5:

[1] "ATACMatrix"            "ChIPMatrix"
[3] "EncodeTFBSMatrix"      "GeneIntegrationMatrix"
[5] "GeneScoreMatrix"       "MotifMatrix"
[7] "PeakMatrix"            "TileMatrix"

It seems like there already added a PeakMatrix in the ArchRProject.

So how could I check whether there's any peak set in my ArchRProject?

[2020-11-27 18:43] YanFang0620 commented on #442
I also tried to check:

GRanges object with 6 ranges and 12 metadata columns:
        seqnames        ranges strand |     score
           <Rle>     <IRanges>  <Rle> | <numeric>
   Mono     chr1 752495-752995      * |   27.3149
  CD4.N     chr1 757871-758371      * |   5.55037
  CD4.N     chr1 762690-763190      * |   17.9242
    GMP     chr1 773670-774170      * |   4.90925
      B     chr1 80100

[2020-11-28 02:43] Sophiesze commented on #441
Here is my code to print the motifmatrix heatmap, I was confused about the meaning of subscript out of bounds. Was it wrong because of the cutoff? Thank you.

![image](https://user-images.githubusercontent.com/53801318/100492333-f235c480-3165-11eb-80c2-6e5817aba936.png)

[2020-11-28 18:05] rcorces commented on #441
I'm not able to reproduce this error with the tutorial dataset. It must be something related to your input SE and the cutoffs you have chosen. I would manually inspect the SE.
In the future, it is helpful if you do not paste screenshots of your commands but actually paste the text inside of code blocks. This lets us copy and paste from your issue rather than re-typing everything.

[2020-11-28 18:21] rcorces commented on #442
Can you run the following code line by line and tell me what happens?

[code]

[2020-11-28 23:19] YanFang0620 commented on #442
Hi, I ran the code line by line,and finally I got the loops:
[code]

[2020-11-28 23:50] rcorces commented on #442
That just doesnt make sense to me.

If you are running this command:
[code]

Then the below code is exactly what is being run. If you can run this and it doesnt return an error, then you should try to re-run your original command.
[code]

[2020-11-28 23:58] YanFang0620 commented on #442
Thank you so much for your suggestion.
However, if I try to run the original codes you provide above,finally I got an error:
[code]

[2020-11-29 00:10] rcorces commented on #442
Of course you cannot run the line that says return(loops) because you are not in a function to return from. Can you run the code line by line instead?

Also, have you tried re-running your original command:
[code]

[2020-11-29 00:15] YanFang0620 commented on #442
If I run:
[code]
It still showed me:
[code]

[2020-11-29 00:25] rcorces commented on #442
What happens when you run all of this code? It should print one number (1 - 4).
[code]

[2020-11-29 00:28] YanFang0620 commented on #442
It didn't print 1-4. It showed me:

![image](https://user-images.githubusercontent.com/54081315/100528902-d0f9c600-31af-11eb-9ee3-0148a525598c.png)

[2020-11-29 00:35] rcorces commented on #442
Ok well at least that is consistent.  Try this:

run this code:
[code]
Then show me the output of each of these lines:
[code]

[2020-11-29 00:42] YanFang0620 commented on #442
The following are the output I got:
[code]

[2020-11-29 00:45] rcorces commented on #442
Ok. That shows where the problem is coming from. Show me:
`metadata(projHeme5@peakSet)$Peak2GeneLinks`

[2020-11-29 00:47] YanFang0620 commented on #442
[code]

[2020-11-29 01:08] rcorces commented on #442
I guess I owe you an apology. Sorry - this is related to the issue #385 where you originally posted but I didnt catch it until now. As in that issue, the FDRs are all NaN.

So this line:
`p2g <- p2g[which(p2g$Correlation >= corCutOff & p2g$FDR <= FDRCutOff), ,drop=FALSE]`
is causing p2g to be empty which causes your error.

I'm going to close this and we can continue the discussion on the previous

[2020-11-29 01:08] #442 closed

[2020-11-29 01:17] jgranja24 commented on #385
Sorry I think the bug is now fixed in the new release branch -----

To install --
`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.1", repos = BiocManager::repositories())
`

The change --
`  o$TStat <- (o$Correlation / sqrt((pmax(1-o$Correlation^2, 0.00000000000000001, na.rm = TRUE))/(ncol(seATAC)-2))) #T-statistic P-value`

[2020-11-29 01:17] jgranja24 commented on #442
Sorry I think the bug is now fixed in the new release branch -----

To install --
devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.1", repos = BiocManager::repositories())

The change --
o$TStat <- (o$Correlation / sqrt((pmax(1-o$Correlation^2, 0.00000000000000001, na.rm = TRUE))/(ncol(seATAC)-2))) #T-statistic P-value

[2020-11-29 01:17] YanFang0620 commented on #442
No, its OK. Thank you so much for your patience and let me know about this.
Hope it could be fixed soon. This is a really great package for scATAC-seq analysis!

[2020-11-29 01:46] YanFang0620 commented on #385
Thank you for your suggestion!
I think the new branch doesn't work either. When I ran the following codes with new release branch of ArchR, it still got error:
[code]

![image](https://user-images.githubusercontent.com/54081315/100529963-64d08f80-31ba-11eb-8e2b-738ffd443e6d.png)

[code]

[2020-11-29 02:06] jgranja24 commented on #385
Did you re-run `addPeak2GeneLinks`?

[2020-11-29 02:37] YanFang0620 commented on #385
I'm so sorry.  It worked after re-run `addPeak2GeneLinks`! Thank you so much your patience!

[2020-11-29 04:02] Sophiesze commented on #441
I tried again. The reason might be the cutoff. It works now. Thank you so much!

[2020-11-29 04:02] #441 closed

[2020-11-29 08:03] #439 closed

[2020-11-29 08:03] jgranja24 commented on #385
Great! Closing this issue. Feel free to open new issues!

[2020-11-29 08:03] #385 closed

[2020-11-29 08:04] jgranja24 commented on #427
I will try to think of the best way to do this.

[2020-11-29 08:06] jgranja24 commented on #432
Do you have overlapping cells in your groupList? I cant tell from this information. I would suggest seeing the tutorial!

[2020-11-30 03:42] LiYangSDU opened #443 "There are more genes in scRNA-Seq data than in gene annotations of ArchR"
Sometimes, there are more than 30000 genes in the scRNA-Seq data, however, only 25017 genes are saved in the gene annotation of hg38.

How to deal with this situation? Should I filter genes in the scRNA-Seq data according to the gene annotation in ArchR?

[2020-11-30 15:09] jin978347005 opened #444 "Is there anyway to filter TSS and frags with different criteria among different samples"
Hi,

I have several samples with different ages and treatment, which have different patterns for the unique fragments and TSS enrichment plot, so I want to use different criteria for different samples. Is it possible to do this?

Thanks

[2020-11-30 15:23] rcorces commented on #444
Run `createArrowFiles()` separately for each sample, using a different threshold. Then group them into an ArchRProject as normal. Please close this issue if this answers your question.

[2020-11-30 15:41] #444 closed

[2020-11-30 20:00] Seandelao opened #445 "Extract peaks per cluster"
Hello,

I am trying to look at enrichment of overlap between SNPs and accessible peaks in my clusters/cell types. How can I extract my accessible peaks on a per cluster basis, so that I can look at enrichment in each cell type separately? Would it be like:

1. Call peaks on full dataset with Macs2
2. Subset for each cell type
3. Extract peaks from each subsetted ArchR projects as .bed file

or

1.

[2020-11-30 20:34] annrosebright opened #446 "Error in .valid.Vector.length(x) : could not find function ".valid.Vector.length""
**Attach your log [file**]
[ArchR-addMotifAnnotations-1ae2429e816fd-Date-2020-11-30_Time-21-18-52.log](https://github.com/GreenleafLab/ArchR/files/5618553/ArchR-addMotifAnnotations-1ae2429e816fd-Date-2020-11-30_Time-21-18-52.log)

**Describe the bug**

Whatever command I run as part of archr analysis I am getting the following error. It was running all fine a few days back but now I get this error

[2020-11-30 23:02] rcorces commented on #446
looks like it might be a problem with the S4vectors package. Try installing an older version - I'm on 0.24.4

[2020-11-30 23:03] rcorces commented on #446
though on second thought, your version is definitely not the latest.
What happens when you do `S4Vectors:::.valid.Vector.length()`

[2020-11-30 23:19] annrosebright commented on #446
This is output :

Error in get(name, envir = asNamespace(pkg), inherits = FALSE) :
  object '.valid.Vector.length' not found

[2020-12-01 00:50] rcorces commented on #446
I think that is the problem. I'm not sure why though. For whatever reason, your S4Vectors install doesnt have that function.

[2020-12-01 00:53] rcorces commented on #446
Sorry - submitted the comment too early. When I run this:

I get `NULL`. Presumably you get something telling you that the function doesnt exist.

You can try downgrading your S4Vectors package. you might be able to do so by running this from terminal:
[code]

[2020-12-01 01:09] rcorces commented on #445
Have you looked in the "PeakCalls" directory of your `ArchRProject`? That will contain summit calls for each sample and a list of reproducible peaks from each cell grouping used in `addReproduciblePeakSet()`

Please close this issue if that answers your question

[2020-12-01 01:33] sylestiel commented on #432
Closing it for now. Will revisit if problem persists.  Thanks!

[2020-12-01 01:33] #432 closed

[2020-12-01 06:20] Seandelao commented on #445
@rcorces Got it! So the file I should get the peaks from is the 'X0-reproduciblePeaks.gr.rds' file?

[2020-12-01 15:15] rcorces commented on #445
correct. those will be `GRanges` objects containing "reproducible" peaks from each of the groups indicated by the `groupBy` parameter and based on the `reproducibility` parameter passed to `addReproduciblePeakSet()`

[2020-12-01 19:41] Seandelao commented on #445
@rcorces thanks!

[2020-12-02 03:44] shaka87 commented on #427
You can get this to work with an ugly hack: rename the clusters so that their names are preceeded by numbers that indicate your desired order. For example 3_C1, 2_C2, 1_C3 for ordering them as C3, C2, C1.

[2020-12-02 13:03] nikostrasan commented on #446
Hello.
I am actually facing the same issue since last week.
I downgraded the S4Vectors package to 0.24.4 but now facing issues with GenomicRanges (see below).

**library(ArchR)
Loading required package: SummarizedExperiment
Loading required package: GenomicRanges
Error: package ‘S4Vectors’ 0.24.4 was found, but >= 0.25.14 is required by ‘GenomicRanges’**

May I ask which version of GenomicRanges a

[2020-12-02 14:38] erikla opened #447 "dimension using scaleDims"
This relates to question [323](https://github.com/GreenleafLab/ArchR/issues/323)

Does the corCutOff argument that limits the correlation of depth and dimension depend on whether scaleDims was set to true or not?
In my own data, I see a correlation (>.9) between the first dimension and depth in ..[[reducedDims]]corToDepth$none, but significantly less (.1) in [[reducedDims]]$corToDepth$scaled.  By

[2020-12-02 15:13] rcorces commented on #446
Unfortunately, it has been difficult to keep up with package versions. You will need to downgrade your GenomicRanges installation as well. We are working on ways to make this better. You can see the package versions that we used to run the tutorial at the end of the manual:
https://www.archrproject.com/bookdown/session-information.html

[2020-12-02 17:38] rcorces commented on #447
`corCutOff` and `scaleDims` are quite different and are independent (as far as i know).
`corCutOff` will exclude dimensions that are highly correlated to sequencing depth.
`scaleDims` is used to prevent a single dimension from dominating but that dimension might not be at all related to sequencing depth. But `scaleDims` does not "filter" any dimensions.
I'm not sure if this answers your question.

[2020-12-02 18:12] erikla commented on #447
Thank you for your response and the nice ArchR framework.
I ask because it seems getReducedDims function uses either corToDepth$scaled or corToDepth$none to exclude dimensions based on corCutOff.
For example:

+                            reducedDims = 'IterativeLSI',
+                            scaleDims = F,
+                            corCutOff = 0.75)
Filtering 1 dims correlated > 0.75 to lo

[2020-12-02 18:17] rcorces commented on #447
Hmmm. I understand your question now. I'm going to let @jgranja24 reply to this.

[2020-12-02 21:23] Brawni opened #448 "addPeakSet doesn't recompute GC content"
Hi!

When I add a subset peakset using `addPeakSet` to the ArchRProject and calculate the new Peak matrix with `addPeakMatrix` `addBgdPeaks` throws an error as it cannot find GC metadata in the new peakSet.
Adding the column manually does the job, but I guess you would like to include this in the `addPeakSet` function.

Cheers!

[2020-12-02 22:24] nikostrasan commented on #446
It makes sense.
Thank you very much.

[2020-12-03 04:11] rcorces commented on #448
Thanks for reporting this!

[2020-12-03 20:23] Chris1221 commented on #277
Ditto.

[2020-12-03 22:53] Brawni opened #449 "naming peakSet / peakMatrix"
Hello again!

I was wondering whether it would be possible to assign names to peakSets and peakMatrices when they are generated similarly to passing the name argument in the `addDeviationMatrix` function  so that if you add another peakSet later with force=TRUE you could still come back to the previous one with `addPeakSet` by specifying the name of that peakSet. Ideally that would also load the r

[2020-12-04 02:20] coffeeCowLu opened #450 "Making Pseudo-bulk Replicates: addGroupCoverages error"
ArchR_1.0.0
projHeme3 <- addGroupCoverages(ArchRProj = projHeme2, groupBy = "Clusters")
[ArchR-addGroupCoverages-55b36555ee385-Date-2020-12-04_Time-09-16-50.log](https://github.com/GreenleafLab/ArchR/files/5640145/ArchR-addGroupCoverages-55b36555ee385-Date-2020-12-04_Time-09-16-50.log)

**addArchRThreads(12)::**
...
020-12-04 09:03:05 : Group C17._.Other (70 of 70) : Creating Group Coverage File :

[2020-12-04 05:07] rcorces commented on #450
I'm not sure if this applies to this specific instance but these HDF5 errors seems to be sporadic and environment specific. Have you run into any hdf5 errors in other parts of ArchR?

[2020-12-04 05:12] rcorces commented on #449
This would require a bit of a re-work on how peaksets are managed. But I dont think you are alone in wanting the ability to work with multiple peak sets. I think this is worth considering.

[2020-12-04 05:20] coffeeCowLu commented on #450
@rcorces In other parts i use command(Sys.setenv(HDF5_USE_FILE_LOCKING = "FALSE") or h5disableFileLocking()) to solve it, but  this time not funciton.

I noticed that the hdf5 file (h5enableFileLocking()) was locked when I called this function.
 Can I comment out that line of command?

[2020-12-04 05:26] rcorces commented on #450
You can try. @jgranja24 knows this stuff better than I do.

[2020-12-04 05:55] jgranja24 commented on #450
Errr why would you want it to be FALSE? If its false you cant parallel write to the same file at the same time. Setting the threads = 1 is the only way to ensure this doesnt happen?

[2020-12-04 05:59] coffeeCowLu commented on #450
@rcorces thank you very much. @jgranja24
if not FALSE,  An error  (HDF5 File accessibilty. Unable to open file) will be reported while reading the saved RDS file.

[2020-12-04 06:06] coffeeCowLu commented on #450
@jgranja24
@jgranja24
I feel to add command h5disableFileLocking() before
ArchRProj@projectMetadata$GroupCoverages[[groupBy]] <- SimpleList(Params = Params, coverageMetadata = coverageMetadata)
may solve the problem in the addGroupCoverages function.

But I'm not sure if it makes sense.

[2020-12-04 06:11] jgranja24 commented on #450
I see what you are referring to now. I think you are correct and I should have put it lower.

I updated the release_1.0.1 branch ---

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.1", repos = BiocManager::repositories())
`

This is the fix similar to your suggestion?

[code]

[2020-12-04 06:31] coffeeCowLu commented on #450
@jgranja24
you are right,
if the middle function body no longer contains h5enableFileLocking() between commd h5disableFileLocking()
and h5enableFileLocking().

[2020-12-04 10:39] josephides commented on #440
As requested, you can find the commands, logs and R output on the tutorial dataset here: http://xfer.curie.fr/get/mcHQ95imKeX/TEST_ArchR.zip

[2020-12-04 15:38] rcorces commented on #440
Well. I'm not sure I know exactly what is going on but thanks for providing such detailed test code and logs.
I am able to reproduce the error though.

Are you sure you want to use `peakMethod = "Tiles"`? There really isnt any reason to do this unless you cannot install MACS2. "Tiles" uses a peak calling method that @jgranja24 wrote. We dont have any reason to believe that it is better or worse th

[2020-12-04 16:00] josephides commented on #440
@rcorces Thanks for the feedback. With the tutorial dataset, I tried to use macs2 as the peak method:
[code]
I get the following error:
 Error in .getCoverageMetadata(ArchRProj = ArchRProj, groupBy = groupBy,  :
  No Coverage Metadata found for : Sample

Same thing happens if I group by Cluster. That's why I decided to try with the Tile Matrix. No luck though.
Basically I am trying to extract a si

[2020-12-04 16:03] rcorces commented on #440
You have to run `addGroupCoverages()` before calling peaks. and the "groupBy" parameter must match whatever you used for `addGroupCoverages()`

[2020-12-04 16:03] rcorces commented on #440
@jgranja24 - we should make the error more explicit and tell users to run `addGroupCoverages()`. This comes up quite often.

[2020-12-04 16:36] josephides commented on #440
Got it! Makes more sense now and works with Macs2.  Thanks.

[2020-12-04 18:02] sylestiel commented on #385
@YanFang0620
@jgranja24
How did you overcome this issue?  Not understanding what the workaround was?

Thanks

[2020-12-04 18:09] sylestiel opened #451 "Failure to execute Peak2GeneLinkage"
+     ArchRProj = proj5,
+     reducedDims = "IterativeLSI"
+ )
ArchR logging to : ArchRLogs/ArchR-addPeak2GeneLinks-95552b6fd397-Date-2020-12-04_Time-12-03-16.log
If there is an issue, please report to github with logFile!
2020-12-04 12:03:16 : Getting Available Matrices, 0.002 mins elapsed.
2020-12-04 12:03:16 : Filtered Low Prediction Score Cells (1357 of 7272, 0.187), 0.002 mins elapsed.
2020-

[2020-12-04 18:37] rcorces commented on #451
duplicate of #442 and #385
see solutions there

[2020-12-04 18:37] #451 closed

[2020-12-04 18:39] rcorces commented on #385
@sylestiel - just reinstall using the new development branch.
`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.1", repos = BiocManager::repositories())`
then re-run `addPeak2GeneLinks()`

[2020-12-04 18:51] sylestiel commented on #442
@rcorces
If installation of the revised version is the solution it is still not addressing the problem for me.
devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.1", repos = BiocManager::repositories())

[2020-12-04 18:58] rcorces commented on #442
That doesnt sound possible. did you re-run `addPeak2GeneLinks()` as I suggested?

[2020-12-04 19:02] sylestiel commented on #442
I just did it and still does not work!!
<img width="904" alt="Screen Shot 2020-12-04 at 1 01 54 PM" src="https://user-images.githubusercontent.com/64283689/101203871-f3b53000-3630-11eb-9cc1-9ee400167fd4.png">

[2020-12-04 19:03] sylestiel commented on #442
<img width="902" alt="Screen Shot 2020-12-04 at 1 03 14 PM" src="https://user-images.githubusercontent.com/64283689/101203973-1a736680-3631-11eb-8678-713cd0c2df71.png">

[2020-12-04 19:05] jgranja24 commented on #442
Can you copy the output if you paste `addPeak2GeneLinks` into R which returns the function. Are you sure you reset your r session and reloading ArchR?

[2020-12-04 19:06] rcorces commented on #442
@sylestiel - "it doesnt work" is relative. It is no longer giving you the error and the function is running to completion.

[2020-12-04 19:07] sylestiel commented on #442
function (ArchRProj = NULL, reducedDims = "IterativeLSI", useMatrix = "GeneIntegrationMatrix",
    dimsToUse = 1:30, scaleDims = NULL, corCutOff = 0.75, cellsToUse = NULL,
    k = 100, knnIteration = 500, overlapCutoff = 0.8, maxDist = 250000,
    scaleTo = 10^4, log2Norm = TRUE, predictionCutoff = 0.4,
    addEmpiricalPval = FALSE, seed = 1, threads = max(floor(getArchRThreads()/2),
        1), v

[2020-12-04 19:09] jgranja24 commented on #442
You need to reload R and ArchR.

This issue has been fixed in the branch you are referring to (See Above) --

[code]

[2020-12-04 19:11] sylestiel commented on #442
Ok. Many Thanks!!! I will do that.

[2020-12-05 07:40] mazhaoxia commented on #240
hello,

I have the same error when i ran "addArchRAnnotations".
I use ArchR_1.0.0 and rhdf5_2.30.1

 this is my logfile.
[ArchR-addArchRAnnotations-60e35db9d743-Date-2020-12-05_Time-15-35-38.log](https://github.com/GreenleafLab/ArchR/files/5646674/ArchR-addArchRAnnotations-60e35db9d743-Date-2020-12-05_Time-15-35-38.log)

[2020-12-05 09:48] weichen123hahah opened #452 "createArrowFiles() failed with tutorial data"
Hello!
I use R4.0.2 under CentOS release 6.9 to following the tutorial，but I meet a error，I don't konw how to solve the problem
![image](https://user-images.githubusercontent.com/38218230/101239281-57b72180-3721-11eb-99fe-e2ba13982270.png)
![image](https://user-images.githubusercontent.com/38218230/101239291-66053d80-3721-11eb-8f8c-93520abdf718.png)

[2020-12-05 13:36] annrosebright commented on #446
Thank you, the problem got solved when I downgraded the necessary packages.

[2020-12-05 13:36] #446 closed

[2020-12-05 23:02] rcorces commented on #452
I've never seen this error before. When you say "following the tutorial" do you mean using the tutorial data or following the steps of the tutorial on your own data?
My first advice is to switch to R version 3.6.* instead of 4.* because we are still working through issues related to R version 4.

[2020-12-06 10:12] coffeeCowLu opened #454 "addReproduciblePeakSet error"
ArchR logging to : ArchRLogs/ArchR-addReproduciblePeakSet-5e88e2a236745-Date-2020-12-06_Time-14-05-59.log
If there is an issue, please report to github with logFile!
2020-12-06 14:06:01 : Peak Calling Parameters!, 0.034 mins elapsed.
    Group nCells nCellsUsed nReplicates
C1     C1   2669        540           2
C2     C2   4361        540           2
C3     C3   1578       1262           5
C4

[2020-12-06 14:26] #454 closed

[2020-12-06 14:28] coffeeCowLu commented on #454
Sorry , my personal mistake.

[2020-12-07 04:23] LiYangSDU opened #455 "Can I transfer the results of integrative clustering on scRNA-Seq and scATAC-Seq into ArchR"
Do not use this form to report a bug in ArchR! Instead, use the "Bug report" option.

PLEASE FILL OUT THE RELEVANT INFORMATION AND DELETE THE UNUSED PORTIONS OF THIS ISSUE TEMPLATE.

**Describe the problem that your feature request would address.**
For example, I have simultaneously clustered cells in matched scRNA-Seq and scATAC-Seq into cell clusters. I want to use ArchR for downstream analyses

[2020-12-07 05:16] #450 closed

[2020-12-07 12:36] Dragonlongzhilin opened #456 "what's the difference between GeneScoreMatrix and GeneIntegrationMatrix?"
After integrating the scATAC and scRNA-seq by ArchR, I found a new matrix - GeneIntegrationMatrix. But I don't know what the different compared to GeneScoreMatrix.

[2020-12-07 15:10] rcorces commented on #456
This information should be clear from the manual. https://www.archrproject.com/bookdown/index.html

In the future, please use the provided issue templates to submit an issue. In the case of documentation, this forces you to tell us where you have looked to find this information, which often results in you finding the information if it already exists. I'm closing this. If you are unable to find the

[2020-12-07 15:10] #456 closed

[2020-12-07 18:51] bioinfo-sc opened #457 "parameters in addIterativeLSI"
Hi,

I am a new user to ArchR to analyze my scATAC-seq data. This is a great tool.
I have one question regarding the parameters in addIterativeLSI.

I checked the default parameters for dimsToUse is 1:30. I was trying to adjust the number of parameters. Is there any similar way to check the appropriate parameters to use, like elbow plot in Seurat?

Also, another parameter is iterations in the addI

[2020-12-07 23:39] NoemieL opened #458 "Adding scCITEseq data to ArchRproject"
Hello,
I have both scCITEseq and scATACseq data. I know how to add scRNAseq data to my ArchR project but I wandering to know if there is a way to put the information regarding the surface cell protein data present in the scCITEseq either separately from the scRNAseq data extracted from scCITEseq or either both at the same time.
I saw in your paper from Nat Biotech from december 2019, you performed

[2020-12-08 05:16] rcorces commented on #458
I dont believe there is an easy way to do this just yet. I'm going to change your issue label to enhancement. Will try to make this possible in a future release.

[2020-12-09 15:24] sylestiel opened #459 "How to plot gene labels in P2G links Heatmaps and geom points in Volcano plots?"
@jgranja24

While plotting ATAC and RNA heatmaps based on Kmeans in the peak-to-genes heatmaps how can i get it to display the gene names?

### When I write to csv I still cannot figure out which gene belongs to which Kmeans?
Is there some way to get at that information?

Similarly, I would like the significant TF geom points to render with labels.
Can you kindly suggest the script for each of the

[2020-12-09 16:56] rcorces commented on #455
Apologies for the delay in reply.
This is currently possible but is a manual process.

To import cell clusters, you just need to add a new column to `cellColData` containing your new cluster annotations. You will need to match based on the cell name which may or may not be consistently stored in your Seurat analysis so this is something to be careful of.

To import embedding coordinates (which I t

[2020-12-09 18:30] rcorces commented on #416
This appears to be an issue with the latest version of the `BSgenome` package. We will work on a fix but in the meantime, you can use this functions instead. Just run this to overwrite the function and then retry. If you re-load R and ArchR, you will have to re-run this function each time.

[code]

if you try to use the `addArchRAnnotations()` function downstream, you will run into the same error.

[2020-12-10 10:32] zhijunyuu commented on #252
[ArchR-plotTSSEnrichment-6a771b6c7cfb-Date-2020-12-10_Time-10-49-07.log](https://github.com/GreenleafLab/ArchR/files/5672018/ArchR-plotTSSEnrichment-6a771b6c7cfb-Date-2020-12-10_Time-10-49-07.log)

[2020-12-10 12:32] anamariaelek commented on #416
Thank you very much for the workaround!

There is still one attempt to retrieve metadata from BSgenome object in this function that causes error:
[code]
However, I replaced it so that instead of attempting to access the metadata now it strips `genome` name from BSgenome package name:
[code]
This should work for most cases because [BSgenome guidelines](https://www.bioconductor.org/packages/devel/bi

[2020-12-10 15:20] rcorces commented on #416
Thanks for pointing that out. I'm glad you've found a suitable solution. For record keeping sake:
the `.getBlacklist()` function expects the shorthand version of the genome name. I'm sure there was a rationale for this originally. So as you noted, `bsg@pkgname` isnt really the expected input and needs to be handled with text processing which should be stable if people follow the BSgenome guideline

[2020-12-10 15:24] rcorces commented on #252
Thanks @zhijunyuu
Could you instead run using the code provided by @jgranja24 and provide that log file? This might rule out any issue with the dataset that you are using:

[code]

[2020-12-10 16:03] zhijunyuu commented on #252
@rcorces Thanks for your quick reply

I tried the Test data, the TSS enrichment file looks normal.

I upgraded ArchR to 1.0.1, issue solved!

Thanks!

[2020-12-10 16:05] rcorces commented on #252
Thanks for the feedback. I wish we knew what was causing this problem but I'm glad it is working for you now.

[2020-12-10 16:15] zhijunyuu commented on #252
@rcorces
Here is the log file that TSSEnrichment worked well for my samples, maybe you could compare it with the previous one I uploaded that didn't work, and maybe locate where the problem is.
[ArchR-plotTSSEnrichment-76415a26afc8-Date-2020-12-10_Time-16-59-19.log](https://github.com/GreenleafLab/ArchR/files/5674095/ArchR-plotTSSEnrichment-76415a26afc8-Date-2020-12-10_Time-16-59-19.log)

[2020-12-10 19:37] e-arslan opened #460 "Motif Analysis"
What is the reason to get a slightly different TF ranking on motif analysis when I run the code at different times?

Here are the steps before TF ranking at different runs:
1. loadArchRProject
2. addGroupCoverages
3. addReproduciblePeakSet
4. addPeakMatrix
5. addMotifAnnotations
6. getMarkerFeatures
7. peakAnnoEnrichment

[2020-12-10 20:39] #459 closed

[2020-12-10 21:37] rcorces commented on #460
I believe what you are seeing is a result of randomization during the `addGroupCoverages()` function. This function creates pseudo-bulked replicates based on the parameters that you designate and there is randomization involved in how groups of cells are selected. The results *should* be very similar albeit not identical though.

Please close this issue if this has answered your question.

[2020-12-10 21:44] sylestiel opened #461 "plotEmbedding with 2 markers on same UMAP?"
Is there a way to plot 2 markers on the same UMAP embedding ( to see the degree of overlap)?

Thanks!

[2020-12-10 23:25] rcorces commented on #461
This is not currently possible but I know the feature that you are referring to. I think this is a good idea.

[2020-12-10 23:30] sylestiel commented on #461
Looking forward to its implementation soon.

[2020-12-10 23:32] rcorces commented on #461
I'm going to leave this open as a reminder for this feature request

[2020-12-11 01:45] Dragonlongzhilin opened #462 "peak annotation"
I found the ratio of peak type in peakSet matrix was different with ChIPSeeker result, especific ratio of promoter.
addReproduciblePeakSet result
![image](https://user-images.githubusercontent.com/33304280/101850660-2a40fc80-3b95-11eb-9ca0-070732f83e2f.png)
annotate the peak using ChipSeeker.
![image](https://user-images.githubusercontent.com/33304280/101893466-c1cb3d00-3bdf-11eb-9cbc-f2b5f40352f6

[2020-12-11 05:29] e-arslan commented on #460
thanks for the answer.

[2020-12-11 05:29] #460 closed

[2020-12-11 21:00] graciegordon opened #463 "addPeak2GeneLinks with multiome data"
Hello,

I've been trying some of the multiome functionality in ArchR, I've generally had good results, but have run into an issue with addPeak2GeneLinks(). In issue #361 it is suggested that this function should work with multiome data, but it seems as though the function relies on a PredictionScore value that is generated by the addGeneIntegrationMatrix() function, which doesn't seem relevant to

[2020-12-11 22:23] rcorces commented on #463
Thanks for reporting this. We're still working on solidifying the multiome workflows. @jgranja24 would be the one to answer this question.

[2020-12-12 22:31] jgranja24 commented on #277
Are you sure you have a peakset added? If you run `getPeakSet` do you see anything returned?

This works normal for me with the test project

[code]

[2020-12-13 04:09] jgranja24 commented on #463
I just added a fix in 1.0.1

[code]

To install

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.1", repos = BiocManager::repositories())
`

Please let me know if this works!

Best

Jeff

[2020-12-13 04:11] jgranja24 commented on #462
The annotation isnt used besides for labeling purposes. Feel free to use ChIPseeker if thats what you want.
ArchR has an option for promoter region `promoterRegion = c(2000, 100)`. This also depends on the gene annotation file as well.

Hope that helps

Jeff

[2020-12-13 04:14] jgranja24 commented on #458
The predicted cell label is present in the ArchRProject. At the moment there is no real functionality, however you can get the predicted RNA cell and get the UMAPs and use the `ggHex` or `ggPoint` function. I dont believe we did much besides something like that in the NBT paper. If you have more specific usage Id be happy to hear about it.

[2020-12-13 04:19] jgranja24 commented on #457
Hi @bioinfo-sc,

At the moment there isnt any functionality for this. General rule of thumb is that 1:30 covers majority of the variance and if you want to further minimize "technical variance" you can lower this. Sorry that its not a perfect science because the variance from LSI is different than scRNA PCA. We covered this info in the ArchR book which you can reference! Basically 2 total iteratio

[2020-12-13 04:25] jgranja24 commented on #448
This has been updated in the newest release version

To install --
`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.1", repos = BiocManager::repositories())
`

[code]

[2020-12-13 04:26] #448 closed

[2020-12-13 04:26] #462 closed

[2020-12-13 04:28] jgranja24 commented on #461
This feature doesnt make sense to me. I also dont see anyway I can implement this. My recommendation is just to make 2 UMAP plots and plot them side by side with `ggAlignPlots(p1,p2,type="h")`. There isnt really a chance I can make this possible because plotEmbedding takes in a list of features and plots them iteratively.

Hope that helps

Jeff

[2020-12-13 04:28] #461 closed

[2020-12-13 04:28] #457 closed

[2020-12-13 04:30] jgranja24 commented on #443
ArchR uses only nuclear protein coding genes, while scRNA includes genes that are mitochondrial, ribosomal, non-coding, etc. These genes are not super informative for majority of analyses. You can always build a genome from hg38 including these if you wish.

Hope that helps

Jeff

[2020-12-13 04:30] #443 closed

[2020-12-13 04:37] jgranja24 commented on #447
When ArchR creates a reduced dimensionality LSI it the correlates the components to sequencing depth with and without scaling. By default ArchR uses `scaleDims = TRUE` and thus uses the correlations associated. I would only used the corresponding correlations and not the scaled values. However, you can always use `dimsToUse` if you want to filter this.

Best

Jeff

[2020-12-13 04:37] #447 closed

[2020-12-13 04:38] jgranja24 commented on #420
I think this is now fixed with the new UWOT functionality, I am closing this see https://github.com/GreenleafLab/ArchR/issues/424

[2020-12-13 04:38] #420 closed

[2020-12-13 04:42] jgranja24 commented on #449
Hi @Brawni, I am not sure it would be easy to maintain multiple peak sets at this time. I would simply just name the deviations matrix with a naming scheme for you. You can save your peakSets and easily use `addPeakSet` to replace this. Also you can use `addFeatureMatrix(ceiling = 4)` (these are the same parameters as `addPeakMatrix`) to make the peak matrix. Sorry that this isnt super easy but I

[2020-12-13 04:42] #449 closed

[2020-12-13 04:42] #400 closed

[2020-12-13 04:44] jgranja24 commented on #435
Can you check if this works for the test project? Mine works on R 4.0.3

[code]

Console output
[code]

[2020-12-13 04:45] jgranja24 commented on #396
This but should be fixed now in the new release branch. I removed the timestamps recording and I believe this works on R 4.0.

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.1", repos = BiocManager::repositories())
`

On R -
R version 4.0.3 (2020-10-10)
Platform: x86_64-apple-darwin17.0 (64-bit)
Running under: macOS Catalina 10.15.5

[code]

[2020-12-13 04:45] #396 closed

[2020-12-13 04:47] #247 closed

[2020-12-13 04:47] #307 closed

[2020-12-14 01:21] MagpiePKU opened #464 "IterativeLSI using customized sets of genomic loci"
**Describe the problem that your feature request would address.**
The current addIterativeLSI function only recognizes TileMatrix and PeakMatrix (by default). We noticed strong variability of some unwanted genomic regions might contribute a majority of cell-to-cell variability and it is very  desirable to  remove them from

**Describe the solution you'd like**
I would like to suggest a function to

[2020-12-14 06:40] Sophiesze opened #465 "unchangeable xlims() in plotFootprints"
Hi,
I noticed that the `plotFootprints()` functions was unable to change the xlims of the plot. The xlims seems to be set in ±250bp. I tried to change the augment `flank` and `flankNorm`. But it did not work? Here is the code that I used.

[code]

Would it be possible that `plotFootprints()` be able to change the xlims? Or was I miss any possible augments?

Thanks!

[2020-12-14 07:15] #465 closed

[2020-12-14 07:31] Seandelao commented on #445
@rcorces should the peaks taken from the "reproduciblePeaks.gr.rds" file match exactly with the aggregated peaks after adding the peaks matrix? I am noticing that if I do:

``
celltype_0_peaks = readRDS("/Users/seandelao/Desktop/proj/PeakCalls/X0-reproduciblePeaks.gr.rds")
p <- plotBrowserTrack(
  ArchRProj = proj,
  groupBy = "predictedGroup_Un",
  geneSymbol = "GAPDH",
  upstream = 100000,
  dow

[2020-12-14 07:39] Seandelao commented on #445
![Screen Shot 2020-12-13 at 11 36 57 PM](https://user-images.githubusercontent.com/32523142/102053185-2af7af80-3d9c-11eb-9288-8c7cda3a1c06.png)
Here is an example of what I mean, where you can see some of the peaks from the "celltype_0_peaks" in blue don't quite match up with the red peaks from "getPeakSet(proj)"

[2020-12-14 09:52] anamariaelek commented on #416
I belatedly realized that this is only necessary with `BSgenome` package version `1.54.0`, while with the latest version `1.58.0` accessing metadata works fine and the workaround Ryan posted [above](https://github.com/GreenleafLab/ArchR/issues/416#issuecomment-741964638) is enough, i.e. there is no need to strip genome name from `package` name.

[2020-12-14 12:38] yankiven opened #466 "normalization method used in the plotBrowserTrack()"
Hello autho：
Can you explain the details of the normalization method used in the plotBrowserTrack() function?

[2020-12-14 12:48] MRogne007 opened #467 "Custom Enrichment to chromosomal regions"
Do not use this form to report a bug in ArchR! Instead, use the "Bug report" option.

Hi Developers,

We are working on a scATACseq dataset where we would like to map our identified clusters to chromosomal intervals, presumably using the Custom Enrichment.
I have created a Granger file of my chromosomal positions –  for the Granger file I have the coordinates but not any enrichment. Moreover, the

[2020-12-14 13:44] MRogne007 opened #468 "Add custom colours?"
Hi Developers,

Is it possible for me to add custom colours ty my ArchR UMAPs, heat maps ect?

Kindest Regards
Marie

[2020-12-14 15:16] rcorces commented on #464
I think this is better handled on the user side rather than implementing Iterative LSI with arbitrary feature sets.
Presumably if you have regions that you explicitly want to ignore, you would have two regions:

1) You know these regions a priori so you add them to your blacklist and create a custom genome annotation
2) You identify these regions after clustering and calling peaks. You can remove

[2020-12-14 15:16] #464 closed

[2020-12-14 15:20] rcorces commented on #445
This is expected. You should read this page for a description of how the iterative overlap procedure creates the final peak set.
https://www.archrproject.com/bookdown/the-iterative-overlap-peak-merging-procedure.html

The part that is not explained there (and I will add during the next documentation update) is that first we make peak sets per group using iterative overlap. Then we take all groups

[2020-12-14 15:25] rcorces commented on #416
Thanks. That would be in line with the experience of other users and I think that is the correct solution.

[2020-12-14 15:27] rcorces commented on #466
The normalization method is based on a column in `cellColData` which is provided as an argument to the `normMethod` parameter:

[2020-12-14 15:27] #466 closed

[2020-12-14 15:57] rcorces commented on #468
From the function doc for `plotEmbedding()` and the `pal` param:

You can pass any user defined palette to this argument though you should format is like the palettes already present in `ArchRPalettes` as a named vector with the names being numbers. These numbers define the order in which the colors of the palette would be used if called as a discrete set. This allows you to use the most distinct

[2020-12-14 16:00] rcorces commented on #467
Sorry, I'm not sure I understand your question. Can you clarify what you are trying to do?

[2020-12-14 16:33] erikla commented on #447
Jeff, thank you for your response.  If I understood correctly calling getReducedSims() uses scaleDims = TRUE by default, and the returned dimensions are based on depth-correlation vector found in proj@reducedDims$IterativeLSI$corToDepth$scaled.  Does the proj@reducedDims$IterativeLSI$corToDepth$none vector contain the non-scaled depth correlations?  If so, I think this is more intuitive and can se

[2020-12-14 17:46] graciegordon commented on #463
That fixed it, thank you! I also confirmed that the downstream plotting functionality works with the fix.

Best,
Gracie

[2020-12-14 17:47] #463 closed

[2020-12-14 18:49] rojinsafavi opened #469 "addMotifAnnotations"
Is it possible to run addMotifAnnotations on tilematrix instead of peakmatrix?

[2020-12-14 19:49] rcorces commented on #469
well, you could create a tiled `GRanges` object and replace your peakset with it using `addPeakSet()` but I dont think that would be recommended.

I'm not sure what the goal of getting motif annotations on the tilematrix would be? Maybe you have a particular tile that you are interested in and it doesnt come up in the peak set? Seems like if you want to know the locations of motifs genome wide the

[2020-12-15 04:17] aselewa opened #470 "Questions about differential peak calling"
Hi,

I was wondering how exactly is the differential accessibility performed? The documentation (as far as I can see) is somewhat lacking in this respect. I tried reading the code but its not clear to me as I am not an expert in R.

In particular, I am wondering if `getMarkerFeatures` does one cell-type vs. all the other cell-types per peak, or does it do differential peak testing between every pa

[2020-12-15 05:13] rcorces commented on #470
This section from the manuscript should answer some of your questions. Let us know if now.

**ArchR Methods – Marker Peak Identification**
ArchR allows for identification of features that are highly specific to a given group/cluster to elucidate cluster-specific biology. ArchR can identify these features for any of the matrices that are created with ArchR (stored in the Arrow files). ArchR identif

[2020-12-15 08:18] Carota-1 opened #471 "How to get the characteristics of two different group?"
**Describe the problem that your feature request would address.**
How to get the characteristics of two different group? Means that the two groups are analyzed together and dimensionalized in the early stage, and further analyzed separately in the later stage to compare the differences between two different groups. For example, the marker genes or trajectory need to be identified in A group and B

[2020-12-15 08:22] Carota-1 commented on #471
For example, let's draw group A and group B heatmap of marker gene.

[2020-12-15 13:18] #471 closed

[2020-12-15 13:19] Carota-1 commented on #471
idxSample <- BiocGenerics::which(projHeme1$Sample %in% "scATAC_BMMC_R1")
cellsSample <- projHeme1$cellNames[idxSample]
projHeme1[cellsSample, ]
Sorry, the above code can be implemented.

[2020-12-15 20:38] yding9 opened #472 "maybe bugs with arrow file generations?"
Dear authors,

I am trying to use ArchR for 10X Multiome analysis but I meet some problems which I don't know how to solve. I guess this problem may also exist in the scATAC-seq analysis but I didn't notice it before.

I use the atac_fragments.tsv.gz files as input. In order to find all cell barcodes defined by cellranger-arc in arrow files, I define cutoff values to very small numbers (minimal nu

[2020-12-15 21:14] rcorces commented on #472
I can't say that I know why you would want to do this but I'll try to help. My intuition is that you should do whatever it is you want outside of ArchR because including droplets with only a few fragments is not something that this tool was benchmarked to do in terms of downstream analyses.

That being said, there are a couple of parameters that are used for creating Arrow files.

Maybe this is be

[2020-12-15 21:24] aselewa commented on #470
Thanks, this clarifies things a little. So is it correct to say that the log2FC is done between all cells in my target cluster, and all the matched background cells? Also if the clusters are not equal in number of cells, are the background cells sampled proportionally from each background cluster?

[2020-12-16 15:15] rcorces commented on #470
Well, the `maxCells` parameter to `getMarkerFeatures()` dictates how many cells from the group.

Yes - I believe so.

[2020-12-17 20:07] jbjela opened #473 "Error in plotEnrichHeatmap for Motif Enrichment Analysis"
PLEASE FILL OUT THE RELEVANT INFORMATION AND DELETE THE UNUSED PORTIONS OF THIS ISSUE TEMPLATE.

**Attach your log file**
[ArchR-plotEnrichHeatmap-7fc6549babd-Date-2020-12-17_Time-11-59-13.log](https://github.com/GreenleafLab/ArchR/files/5711840/ArchR-plotEnrichHeatmap-7fc6549babd-Date-2020-12-17_Time-11-59-13.log)

**Describe the bug**
I attempted to perform motif enrichment on the marker peaks i

[2020-12-18 22:45] sylestiel opened #474 "Fixinging ATAC signal Range for a given marker in different samples"
Is there a way to keep the **Normalized ATAC signal range  in Coverage Plots** the same for samples processed separately in Arch R. The goal being to make a fair comparison between the different samples. This is in addition to keeping the cor cutoff the same.
Alternatively, does ArchR allow Merged analysis of samples representing different conditions or treatments.

Thank you!

[2020-12-18 23:42] rojinsafavi opened #475 "larger tile matrix"
I would like to use a larger tile matrix.
I'm running
[code]

But when I look at the tile matrix it is still "500"

[2020-12-18 23:59] rcorces commented on #475
Thanks for reporting this. This looks like a bug in `addTileMatrix()` to me. I believe the `tileSize` parameter is not being properly handled within the `addTileMatrix()` function and is not being passed to the hidden `.addTileMat()` function.
https://github.com/GreenleafLab/ArchR/blob/2f022a448d8248a0f9afb33419bcbaeafe7731c0/R/MatrixTiles.R#L66

I think you should be able to use this function ins

[2020-12-19 04:30] rcorces commented on #474
I'm not sure that I fully understand your question so let me know if this helps. Theoretically, if you use the same parameters (especially the `normMethod`) for plotting, then I think the tracks should be essentially comparable across projects. But I dont know that I would do this.

ArchR does **not** allow merging of samples from different ArchRProject objects if that is what you are asking. You

[2020-12-19 14:53] sylestiel commented on #474
With regard to the second option:

How do I create new columns in cellColData?
At which point would I do so?
Do i read in the samples sequentially?
How many replicates per condition are allowed?

Need a few more pointers since I'm not familiar with scripting.

[2020-12-19 17:45] rcorces commented on #474
I think you may have misinterpreted my response.

`cellColData` is essentially a dataframe of information where columns are metadata and rows are individual cells. For example "Samples" and "Clusters" are columns in `cellColData`. You can group your cells aribtrarily by creating new columns in `cellColData` and passing that column to the `groupBy` parameter which exists in a variety of functions.

[2020-12-19 17:45] #474 closed

[2020-12-19 19:12] sylestiel commented on #474
Thank you!

[2020-12-20 12:37] Dragonlongzhilin opened #476 "negative value in PWM in analysis the TF enrichment"
When using the ChromVAR (function: addMotifAnnotations(motifSet = "cisbp"), addDeviationsMatrix), I found that there are many negative value in the PWM matrix (TFBSTools::Matrix(getPeakAnnotation(projRenal, "Motif")$motifs)). I don't know why?
in this case, I can't plot the figure using seqLogo function, like this:
![image](https://user-images.githubusercontent.com/33304280/102713438-351d2f00-4303

[2020-12-21 00:41] sylestiel opened #477 "Is running of co-accessibility and peak-to-gene links interdependant?"
1) Do we need to match the resolution parameter on the two analyses?

2) Does decreasing the resolution in co-accessibility step reduce the number of P2G links identified?

Thanks!

[2020-12-21 05:18] rcorces commented on #477
The difference between co-accessibility and peak-to-gene links is well spelled out in the manual (at least in my opinion). If you have questions on documentation (and generally for any issue) please use the issue templates that we have set up. In your case, this would ask you where you have looked in the manual and where you think the documentation should belong, which may have prompted you to fin

[2020-12-21 05:18] #477 closed

[2020-12-21 09:53] ankushs0128 commented on #416
I am getting this error after using what is suggested above
[code]
logfile:

[code]

Any pointers to rectify this error!!

Best Regards

[2020-12-21 15:18] rcorces commented on #416
@ankushs0128 - I'm not sure what you are trying to do. The error is quite explicit. I think you are using the wrong function.

`createGenomeAnnotation()` and `addArchRAnnotation()` are not the same

https://www.archrproject.com/reference/createGenomeAnnotation.html

https://www.archrproject.com/reference/addArchRAnnotations.html

[2020-12-21 21:41] yding9 commented on #472
Thank you so much for your insightful suggestion! Actually, this issue comes from the maxFrags argument. The default maxFrags = 10e5 but more than 6,000 barcodes have more than 10e5 fragments. After setting maxFrags equal to 10e7 I'm able to recover all cell barcodes defined by cellranger-arc.

Thanks again for this wonderful tool! Looking forward to more multimodal updates!

[2020-12-21 21:41] #472 closed

[2020-12-21 21:42] sylestiel commented on #477
I'm not seeing a change in gene-to-peak links when I changed the resolution from 10,000 to 1000. Hence my question.

Wondering if I was doing something wrong.

[2020-12-22 08:21] MRogne007 commented on #468
Thank you for clarifying and quick reply!

[2020-12-22 08:21] #468 closed

[2020-12-22 08:38] MRogne007 commented on #467
Hi again,

I would like to map my called scATAC peaks to chromosomal coordinates (see attached example png).
I am interested in where the differential peaks between my identified scATAC clusters locate within these chromosomal regions. However, when I run 12.3 custom enrichment (like your example ChIP data set that have enrichment itself) I get an error because my GRanger file does not contain enr

[2020-12-22 09:51] MRogne007 commented on #393
Hi,
I am experiencing the same error listed in issue #393  when I am using the AddArchRAnnotation function.

We have updated the BSgenome version. For me createGenomeAnnotation (as discussed in #416) works fine.

I also attach the error message I obtain upon attempting to run the function:

<img width="800" alt="Screenshot 2020-12-22 at 10 48 56" src="https://user-images.githubusercontent.com/6811

[2020-12-22 14:48] rcorces commented on #393
Since this issue is closed, lets address this in #416

I mentioned that this would be a problem in this post https://github.com/GreenleafLab/ArchR/issues/416#issuecomment-741964638

[2020-12-22 14:57] rcorces commented on #416
If you run into this error with `addArchRAnnotations()`, you should be able to use the below function instead for the time being until this is fixed in the codebase.

[code]

[2020-12-22 14:57] rcorces commented on #393
@MRogne007 - see https://github.com/GreenleafLab/ArchR/issues/416#issuecomment-749581029 for the solution

[2020-12-22 15:03] rcorces commented on #467
I dont believe you are using the functions correctly. Feel free to provide the code you are using in the future to help solve problems. Maybe it was a typo in your post but the relevant manual section is 12.4.
https://www.archrproject.com/bookdown/custom-enrichment.html

The input here are gzipped `BED` files and you use `addPeakAnnotations()` to load them into your `ArchRProject`. Then you use th

[2020-12-23 20:32] cswoboda commented on #288
Hello,

I know this issue is old, but the error might be due to an older seurat object version. I have had this error happen in Seurat when trying to use view() on my seurat objects that were made before 3.2. The assay.orig value isnt really useful for much, and is NULL in most cases. If you just run seurat@assays[["RNA"]]@assay.orig <- NULL it may fix the problem.

[2020-12-27 17:37] ccruizm opened #478 "Error filtering doublets"
Good day,

I am having issues filtering the doublets after the score. Once `addDoubletScores` complete the scoring successfully, then I want to `filterDoublets` but get the next error:
[code]
Do not understand what the problem might be. Attached the log file. Thanks in advance!

[ArchR-addDoubletScores-a2ddfe24a3-Date-2020-12-27_Time-18-23-55.log](https://github.com/GreenleafLab/ArchR/files/574487

[2020-12-28 07:25] xiaosuyu1997 commented on #388
That is exactly a feature I'm looking for during my reproduction of someone else's work. I'm trying to import a Cicero gene activity score matrix into ArchR_project for downstream integration and label transfer analysis, and to give this matrix a customized name.

[2020-12-28 10:59] cnk113 opened #479 "Error when loading in custom peak annotation"
[ArchR-addPeakAnnotations-165f957dadfc2-Date-2020-12-28_Time-02-49-15.log](https://github.com/GreenleafLab/ArchR/files/5747014/ArchR-addPeakAnnotations-165f957dadfc2-Date-2020-12-28_Time-02-49-15.log)

I'm trying to load in my peak calls using addPeakAnnotations but I end up getting this error:
[code]
The granges object has the bare minimum with a score for the peak. It's the summit file of a MACS

[2020-12-28 15:39] rcorces commented on #479
In the future, please use the issue templates that have been provided.

It sounds like you are using the wrong function:
https://www.archrproject.com/reference/addPeakAnnotations.html

I think you want:
https://www.archrproject.com/reference/addPeakSet.html

[2020-12-28 22:05] cnk113 commented on #479
Sorry, I want to do custom deviations with my peak set. This is cut&tag data from a bulk sample. I'm pretty much trying to recreate what is on the manual with these peaks.

[2020-12-28 22:25] rcorces commented on #479
Please provide more details. Please reference the portion of the manual that you are trying to reproduce. Show what your GRanges object(s) and your ArchR peak set look like.

[2020-12-28 22:57] cnk113 commented on #479
The portion from the [manual](https://www.archrproject.com/bookdown/archr-and-custom-deviations.html).
Granges object looks like this for the custom peak set:
[code]
For the scATAC-seq peak set:
[code]

[2020-12-28 23:48] rcorces commented on #479
I'm not exactly sure what is going on. Maybe its a bug with only using a single GRanges object as input? Can you try:

1) Using the ENCODE ChIP seq peaks that are used in the manual
2) Using your GRanges object and adding in a second random GRanges object

[2020-12-29 20:16] ccruizm commented on #312
Thanks for sharing the code @jgranja24! I have given it a try but got an error:
[code]
What do you think the problem might be? I apologize in advance to bother you with it since this isn't a function inside ArchR

Thanks in advance for your help!

[2020-12-30 20:50] spietrzak opened #480 "Getting IDs of Cells in Clusters"
I have used ArchR to perform clustering of cells from scATAC-seq data obtained from the 10X Genomics platform. I was wondering how I might be able to retrieve the IDs (barcodes) of the cells that make up each of the clusters. For example, what are the barcodes of all of the cells that make up Cluster 1, etc. Any information you have on this would be great.

[2020-12-30 23:10] rcorces commented on #480
Look in `cellColData`
https://www.archrproject.com/bookdown/manipulating-an-archrproject.html

Please close if this answers your question.

[2020-12-31 23:37] #288 closed

[2020-12-31 23:40] rcorces commented on #333
Closing because this is stale. If anyone is willing to help figure this out, we can re-open.

[2020-12-31 23:42] rcorces commented on #383
@ajwilk - Sorry for not addressing this sooner. Does this error still persist? If you have not figured this out, let us know and we will try to address it. Otherwise, feel free to close this issue.

[2020-12-31 23:44] rcorces commented on #384
@ajwilk - Sorry for not replying sooner.
Most HDF5 errors are environment specific and hard for us to troubleshoot. They often have to do with parallelization. If this error still persists, try setting `threads = 1`. Feel free to close if this issue is no longer relevant.

[2020-12-31 23:51] rcorces commented on #408
Sorry for not replying sooner. I'm not actually sure but you might be able to do this with the newer Monocle3 implementation in ArchR which is described here:
https://greenleaflab.github.io/ArchR_2020/Ex-Analyze-Trajectory.html

[2020-12-31 23:54] rcorces commented on #412
Sorry for not replying sooner. Can you provide more explicit information on what you want to accomplish? In the future, please use the provided issue templates.

What do you mean by "a customized list of features"?

[2020-12-31 23:55] #413 closed

[2020-12-31 23:56] rcorces commented on #415
Sorry that this issue got dropped. Are you still experiencing problems with peak calling?

[2020-12-31 23:58] rcorces commented on #435
closing because this is stale. If your problem persists, comment here and I will re-open.

[2020-12-31 23:59] #445 closed

[2021-01-01 00:00] #452 closed

[2021-01-01 00:00] #455 closed

[2021-01-01 00:01] #458 closed

[2021-01-01 00:02] rcorces commented on #467
Closing due to inactivity. Feel free to comment here if you would like me to re-open this issue.

[2021-01-01 00:02] #467 closed

[2021-01-01 00:03] #469 closed

[2021-01-01 00:03] #470 closed

[2021-01-01 02:12] jgranja24 commented on #324
Hi @ewonglab, your issue seems to be not related to the title of the issue here.

This is for peakMethod = "Macs2"? --

[1] "Error in data.table::fread(summitsFile, select = c(1, 2, 3, 5)) : \n File '/g/data/zk16/emily/projects/tt/scATAC/archr_cancer/PeakCalls/InsertionBeds/a3..Rep1-5_summits.bed' does not exist or is non-readable. getwd()=='/g/data/zk16/emily/proje

[2021-01-01 02:16] jgranja24 commented on #476
Hi @Dragonlongzhilin,

I think you are confused about a PWM.

A PWM is a log2 weight matrix -- https://en.wikipedia.org/wiki/Position_weight_matrix.

To convert a PWM to a probability matrix --

[code]

[2021-01-01 02:16] #476 closed

[2021-01-01 02:43] jgranja24 commented on #475
Hi @rojinsafavi you are not using TileMatParams correctly. See below for what you want.

Best

Jeff

[code]

[2021-01-01 02:43] #475 closed

[2021-01-01 13:26] ccruizm commented on #212
Good day,

I am having trouble subsetting an `ArchR` object. Below the error:
[code]
and `sessionInfo`:
[code]
What could be the reason for this issue? Thanks in advance!

[2021-01-02 03:50] sylestiel commented on #412
I would like to enter a list of genes/markers of interest and observe their combined pseudotime trajectory trends in terms of MM, GSM and GIM.
 This is with respect to the trajectory heatmaps and correlated heatmaps.

[2021-01-02 04:14] #410 closed

[2021-01-02 14:11] xiaosuyu1997 opened #481 "Inconsistency between input bed(tabix) and getFragmentsFromArrow results"
**Attach your log file**
[ArchR-createArrows-417c778276a-Date-2021-01-02_Time-13-42-18.log](https://github.com/GreenleafLab/ArchR/files/5760325/ArchR-createArrows-417c778276a-Date-2021-01-02_Time-13-42-18.log)

**Describe the bug**
While I modify the tutorial data a little bit and change the first fragment in scATAC_BMMC_R1 to:
![image](https://user-images.githubusercontent.com/33937512/103458795-

[2021-01-02 17:44] rcorces commented on #481
I believe the "inconsistency" you are referring to is because `BED`-format data is 0-indexed and `GRanges` are 1-indexed.
This is exquisitely well described in this blog post - https://tidyomics.com/blog/2018/12/09/2018-12-09-the-devil-0-and-1-coordinate-system-in-genomics/
I do not believe there is any problem with the ArchR code for this. When creating an Arrow, you are convering from 0-indexed

[2021-01-02 18:03] rcorces commented on #412
This already exists (though it is not documented yet). See issue #308 about `addModuleScore()`.

[code]

[2021-01-02 18:03] #412 closed

[2021-01-03 00:38] jgranja24 commented on #479
Hi @cnk113,

I believe your issue is because you are not using as input a GRangesList with names

`#' @param regions A `list` of `GRanges` that are to be overlapped with the `peakSet` in the `ArchRProject`.
`

[code]

Please try adding a name, ie names(regions) <- c("CUTTAG") prior to input. The error is because there is no names and thus the column names would be nothing.

[2021-01-03 00:43] jgranja24 commented on #478
Hi @ccruizm, this seems like addDoubletScores may have not been used properly. This error is saying there is no column for "DoubletEnrichment". Please show the code you are using prior to this for us to help you out.

[2021-01-03 00:47] jgranja24 commented on #473
Hi @jbjela,

I think the problem here is that your cutoffs may be too stringent for the differential peaks prior to motif enrichment.
After filtering of motifs passing the cutoff of 10^-20 there are no rows and thus an error.

In your log file we see first

[code]

and then,

[code]

[2021-01-03 00:47] jgranja24 commented on #473
I will add an error message to better handle this error.

[2021-01-03 00:53] jgranja24 commented on #440
I updated the error message to

[code]

[2021-01-03 01:05] jgranja24 commented on #440
I am not sure why the error is happening for the tilematrix. I am sorry for the delayed response.

Can you try our small test project? It seems functional to me and this should take ~30 secs.

[code]

[2021-01-03 01:47] jgranja24 commented on #416
I believe this is now fixed in both createGenomeAnnotation and addArchRAnnotations.

[code]

and addArchRAnnotations

  genome <- tolower(tryCatch({
    validBSgenome(getGenome(ArchRProj))
  }, error = function(e){
    strsplit(validBSgenome(getGenome(ArchRProj)),"\\.")[[1]][4]
  }))

[2021-01-03 03:30] xiaosuyu1997 commented on #481
Great help and many thanks. New to this field and miss some details.

One more question:

Suppose input is in bed(0-based open interval):
chr1    0    1000
chr1    1000    2000

rtracklayer::import should give me(1-based closed interval):
chr1     1    1000
chr1    1001    2000

But now in ArchR, this is what I get(1-based closed interval):
chr1     1    999
chr1    1001    1999

Just wonder if th

[2021-01-03 05:19] rcorces commented on #481
Hmmm. Sorry if I missed this point in your original post.
@jgranja24 - thoughts?

[2021-01-03 06:21] jgranja24 commented on #481
Hi @xiaosuyu1997,

I think you are correct it should be (start - end + 1). That is my bad, I switched the storage from start and stop to start and width and made this error. It is now fixed in the release_1.0.1 branch.

[2021-01-03 15:29] rcorces commented on #481
@xiaosuyu1997 - thanks for reporting this and explaining the bug clearly. My apologies for not catching this in your original post. Closing this.

[2021-01-03 15:29] #481 closed

[2021-01-04 05:36] markphillippebworth commented on #251
Hey, I've found the same issue, and it depends on the groups use. I have one comparison work, and then others not work at all.

ArchR logging to : ArchRLogs/ArchR-getMarkerFeatures-c733c1478e9-Date-2021-01-04_Time-05-21-58.log
If there is an issue, please report to github with logFile!
2021-01-04 05:21:58 : Matching Known Biases, 0.001 mins elapsed.
2021-01-04 05:22:03 : Computing Pairwise Tests (

[2021-01-04 06:32] jgranja24 commented on #212
I will test it on R 4.0.3 in the next day and see if i can reproduce this.

[2021-01-04 08:44] ccruizm commented on #478
Hello @jgranja24 , after creating the arrow file, I used
[code]
and it ran with no problems. However, when using `filterDoublets` immediately after, I got that error. I tried several times and did not work. However, it did work in another env with R v4.0 and an older version or ArchR (v.0.9.3). So it seems that might be something related with the newer versions.

[2021-01-04 09:12] ccruizm commented on #212
Thanks! I also tested it on R4.0 but got another error (keeping in mind that I tried to subset an object that was created with the versions of the packages mentioned above)

[code]
and `sessionInfo`:
[code]

[2021-01-04 13:31] ccruizm commented on #212
in the meantime, I have been trying to plot only specific clusters in different plots but have not figured out how to do it. When returning a `SummarizedExperiment`, I can easily subset the clusters I want to plot (for instance, in the case of heatmaps); however, functions like `plotGroups` or `plotBrowserTrack`  that take the whole ArchR object, I have not been able to only plot the clusters I wa

[2021-01-04 15:48] rcorces commented on #251
@markphillippebworth - Can you:

1) Confirm you are on the latest ArchR Version
2) Upload the log files for the failed and successful run
3) Show us what your different `useGroups` look like (using `unique()` for ex)

[2021-01-04 19:56] markphillippebworth commented on #251
I'm running ArchR 1.0.1.

Table of cells for each group:

                 female_Old_Healthy_NK    female_Old_Healthy_NK Proliferating
                                 12038                                    279
      female_Old_Healthy_NK_CD56bright                 female_Old_Infected_NK
                                  1479                                   9350
  female_Old_Infected_NK Proli

[2021-01-04 20:04] spietrzak commented on #480
I have a follow up question. I obtained the cluster, sample, and barcode data for the cells in two separate analyses I performed in ArchR (in 2 different R-projects). Some of the samples that were used in these analyses were used in both. However, when I overlap the barcodes associated with a particular sample from these two different projects, they are not exactly the same. The number of barcodes

[2021-01-04 20:26] rcorces commented on #251
I'm not sure what to make of this. Maybe @jgranja24 has insight.

[2021-01-04 20:29] rcorces commented on #480
Unless you used slightly different parameters for `createArrowFiles()`, I would not expect this to be the case. Can you look at the barcodes that are different and see if there is anything particular about those cells that might have caused this?
Have you tried creating Arrow files multiple times and making sure that the barcodes are identical?

[2021-01-04 21:28] cnk113 commented on #479
Yeah it works now, thanks!

[2021-01-04 21:28] #479 closed

[2021-01-05 02:38] RegnerM2015 opened #482 "Calling peaks in scATAC-seq with Tile Matrix (not using MACS2)"
Hi @jgranja24 and @rcorces ,

Would you be able to elaborate on the alternate peak calling method in section 10.3 of the User Manual?

Does it simply find enriched tiles or do individual tiles get merged into peak features? If you could point me to what happens under the hood in the source code, that would be greatly appreciated.

I am curious about this alternative peak calling algorithm and wond

[2021-01-05 04:36] rcorces commented on #482
@jgranja24 can provide more explicit details on how the TileMatrix-based peak calling works.
The relevant code block starts here - https://github.com/GreenleafLab/ArchR/blob/ddcaae4a6093685875052219141e5ea41030fc55/R/ReproduciblePeakSet.R#L263

I do think that there are other peak callers (like Genrich for example) out there that could be useful to implement though I'm not sure how high priority t

[2021-01-05 19:04] leeanapeters commented on #248
Hi, I know this issue is closed but I am also experiencing this issue when trying to run GetMarkerFeatures. I disabled subthreading as above but am still getting the error. Any help would be much appreciated!

Thanks

[2021-01-05 20:26] rcorces commented on #248
Hi @leeanapeters - Sorry you're having trouble with this. The H5 errors are really hard to track down and we (and many other software developers) are still trying to figure this out. The best I can say is that HDF5 errors are often sporadic and environment specific. If you've tried `threads = 1` and disabling subthreading and that doesnt work, its possible that your HDF5 file got corrupted at some

[2021-01-07 02:22] hypercompetent commented on #333
I don't know *why* this should be the case, but it seems like this might be caused by a `message()` call within a function passed to `mclapply()`.

For example, in `ArchRProject()`:

https://github.com/GreenleafLab/ArchR/blob/46b519ffb6f73edf132497ac31650d19ef055dc1/R/AllClasses.R#L131-L136

`message` gets passed to `.safelapply`, which passes it into `mclapply`, leading to some kind of panic when

[2021-01-07 03:05] hypercompetent commented on #333
The culprit in `createArrowFiles()` might be this `.logMessage()` within `.safelapply` in `TabixToTmp()`:

https://github.com/GreenleafLab/ArchR/blob/46b519ffb6f73edf132497ac31650d19ef055dc1/R/CreateArrow.R#L1233-L1235

This one can be skipped if we set the parameter `verbose = FALSE` in `createArrowFiles()`. This seems to allow the function to proceed.

In `plotEmbedding()`, there is also a `mess

[2021-01-07 04:22] rcorces commented on #333
Thanks @hypercompetent! release_1.0.1 (https://github.com/GreenleafLab/ArchR/tree/release_1.0.1) is the current "dev" branch so I would go off of that.

Keep us posted and appreciate your help digging into this.

[2021-01-07 06:39] jgranja24 commented on #333
Hmmmm. I think maybe I will work on a global option that can disable all these message commands. Let me work on this and ill update @hypercompetent to check it soon. Thanks!

[2021-01-07 17:39] hypercompetent commented on #333
That sounds great.

In case it helps, it looks like we may be able to detect that R is running in Jupyter using this environment variable:
[code]
This returns a PID number stored as a character vector if we're in Jupyter, and an empty string if not. So, this would give us FALSE if we're in Jupyter, and TRUE if in Rstudio or the R shell.
[code]
Cheers,
-Lucas

[2021-01-08 11:25] rargelaguet opened #483 "Error in getMarkerFeatures: NAs are not allowed in subscripted assignments"
Hello, i tried getMarkerFeatures with the following code:
[code]
and I get the following error, and I can't figure out why:
[code]

There are no NAs in the `celltype.predicted` column. The same command works when using the GeneScoreMatrix. Also, I made sure to have at least 100 cells per celltype, so small cell numbers during hypothesis testing should not be a problem?

Find attached the log file.

[2021-01-08 18:36] rargelaguet opened #484 "Error in addBgdPeaks: different row counts implied by arguments"
Hello,

I manually added peak annotations using:
[code]

which works fine and `getPeakSet(ArchRProject.filt)` returns the expected output:
[code]

But when running the `addBgdPeaks` function as follows:

[code]

 I do get an error and I can't figure out why. There doesn't seem to be a log file for this
[code]

Thanks for your help.
Ricard

[2021-01-09 05:01] rcorces commented on #484
Hi @rargelaguet

I believe this is the same problem reported in #448
The `addPeakSet()` function in ArchR_1.0.0 does not recompute the GC content. This has been updated in 1.0.1 but I believe from your log on your other post that you are using 1.0.0

You can either upgrade to 1.0.1 which is still in dev or use the function shown in #448 . Of course, you will have to re-add the peak set with the ne

[2021-01-09 05:01] #484 closed

[2021-01-09 09:30] rargelaguet commented on #484
That works Ryan, thank you.
On 9 Jan 2021, 06:02 +0100, Ryan Corces <notifications@github.com>, wrote:

[2021-01-09 18:45] willey2020 opened #485 "Color scale bar in gene_score/expression tsne/umap plot, changing Min-Max to 0-Max"
Hello! Thanks so much for this great package!

**Describe the problem that your feature request would address.**

Currently, the gene score or gene integration matrix color showing on the tsne/umap plot has a color bar, using the scale of "Min/Max". I found that this is very useful to demonstrate the gene behavior in an "on-off" fashion, like 0.01 to 5 or 5 to 0.01. Min is close to 0.

However, fo

[2021-01-09 18:58] rcorces commented on #485
Short answer - yes this is possible

My 2 cents on your rationale - I would strongly caution against the logic that a gene score value of 0.5 indicates low expression for Gene A and a gene score value of 2 indicates high expression for Gene B. Gene scores are inferred based on local accessibility but the magnitude of the gene score is dependent on a lot of things that may or may not be relevant wh

[2021-01-09 19:38] xiaosuyu1997 opened #486 "Closing wrong plotting device when default plotting dev exists (addIterativeLSI)"
**Describe the bug**
This bug only happens when calling "addIterativeLSI" from an interactive environment(like rstudio, which have a default plot device: "RStudioGD")
![image](https://user-images.githubusercontent.com/33937512/104106956-16073100-52f4-11eb-9700-a8e5effb8f99.png)

Stack of code leading to this bug:
- [addIterativeLSI](https://github.com/GreenleafLab/ArchR/blob/2f022a448d8248a0f9afb3

[2021-01-10 00:40] rcorces commented on #486
thanks for reporting this and for prosing a solution. I believe I have also run into this issue but never bothered to track it down. thoughts on the proposed fix @jgranja24 ?

[2021-01-10 03:03] willey2020 commented on #485
Thank you so much! I successfully change the color scale through the way as you suggested. Using colorLimit in ggpoint. I can change it the min to 0, using colorLimit =c(0,3), It works well to change the color scale, however, I have to give a fixed max number, such as 3, or 4... in it to fix, could I ask how I can change the 3 to just the Max for each gene and it will automatically sense the max f

[2021-01-10 16:37] rcorces commented on #485
Hmmm. That is a good question and I'm not sure there is a straightforward answer. The way I see it, if you are using impute weights for plotting gene scores, it is not straightforward to determine what the maximum and minimum values will be after applying the impute weights before you call `plotEmbedding()`.

If you weren't using impute weights, then you could just manually determine the max value

[2021-01-11 01:24] jgranja24 commented on #478
Hi @ccruizm, please list out what you are doing in full. Using filterDoublets without an ArchRProject doesnt make sense. Please list everything that is in your console input.

[2021-01-11 01:32] jgranja24 commented on #486
Hi @xiaosuyu1997 thanks for the catch! I implemented a fix in release_1.0.1 incorporating your edit and an additional fix to addIterativeLSI --

<img width="1064" alt="Screen Shot 2021-01-09 at 6 51 29 PM" src="https://user-images.githubusercontent.com/25017655/104141079-b0558c00-5369-11eb-8790-437513f39c64.png">

and

<img width="237" alt="Screen Shot 2021-01-10 at 5 32 06 PM" src="https://user-i

[2021-01-11 01:32] jgranja24 commented on #486
<img width="271" alt="Screen Shot 2021-01-10 at 5 32 27 PM" src="https://user-images.githubusercontent.com/25017655/104141092-d11de180-5369-11eb-86ad-5f4817da1d9a.png">

[2021-01-11 02:33] lsundaram opened #487 "Adding a custom peak x motif matrix"
Hi Jeff, I would like to know if there is an easy way to import a custom peak x motif matrix .

Thanks,
Laksshman

[2021-01-11 02:38] jgranja24 commented on #487
Hi @lsundaram, here is how you would do it. Hope it helps!

[code]

[2021-01-11 02:41] jgranja24 commented on #487
Alternatively you can convert the peak x motif matrix into a GRangesList and supply it to `addPeakAnnotations`

[2021-01-11 03:04] lsundaram commented on #487
Thanks Jeff, I am closing this for now and will reopen it in the future if i have more questions

[2021-01-11 03:04] #487 closed

[2021-01-11 06:58] xiaosuyu1997 commented on #486
@jgranja24
Thanks a lot, I suppose that'll help.

[2021-01-11 16:07] #486 closed

[2021-01-11 20:12] markphillippebworth commented on #463
hey! I'm trying to install version 1.0.1 to fix this issue. Unfortunately, I can't install from devtools.

installing to /home/markphillip_pebworth/R/x86_64-pc-linux-gnu-library/3.6/00LOCK-ArchR/00new/ArchR/libs
** R
Error in parse(outFile) :
  /tmp/RtmpI4JEty/R.INSTALL9fd6973cc31/ArchR/R/GlobalDefaults.R:50:10: unexpected symbol
49:     }
50:   },erro r
             ^
ERROR: unable to collate and

[2021-01-11 21:45] rcorces commented on #463
this was probably a bug generated from recent commits. I think from this typo:
https://github.com/GreenleafLab/ArchR/blob/753f63b3028827b714df1f8a51c4bacbf0545fbc/R/GlobalDefaults.R#L50

This should now be fixed.

[2021-01-12 05:53] SaskiaFreytag opened #488 "features argument in addGeneIntegrationMatrix"
Hi,

I have been trying to using with features addGeneIntegrationMatrix with features specified (forwarded to Seurat::TransferData). Unfortunately this runs into an error. I believe the features argument is specified multiple times in the function. Would you be able to fix this?

I have attached the log files.

[ArchR-addGeneIntegrationMatrix-7162d18252c-Date-2021-01-12_Time-13-38-19.log](https://

[2021-01-12 05:57] SaskiaFreytag commented on #488
It seems the log file does not report the full error message that I am getting in my R console. So here is the message being reported:
`2021-01-12 13:42:12 : Block (4 of 4) : Seurat FindTransferAnchors, 2.738 mins elapsed.
<simpleError in Seurat::FindTransferAnchors(reference = subRNA, query = seuratATAC,     reduction = reduction, features = genesUse, verbose = FALSE,     ...): formal argument "f

[2021-01-12 15:49] rcorces commented on #488
I'm not sure I understand this but feel free to explain more in depth. Can you reproduce your error with the tutorial data? This looks like it might be a parallelization issue? Have you tried `threads = 1`?

[2021-01-12 19:27] jindalk opened #489 "Error in plotMarkerHeatmap for large heatmap peak matrices"
I ran the following command to plot a heatmap for marker peaks in my dataset:
`heatmapPeaks <- plotMarkerHeatmap(
  seMarker = markersPeaks,
  cutOff = "FDR <= 0.1 & Log2FC >= 0.5",
  transpose = TRUE
)
ComplexHeatmap::draw(heatmapPeaks, heatmap_legend_side = "bot", annotation_legend_side = "bot")`

and got the following error:
`Error in (function (filename = "Rplot%03d.png", width = 480, height =

[2021-01-12 22:25] wusuowei60 opened #490 "How are biases matched acrossed distribution of groups in `getMarkerFeatures()`"
In the ArchR publication **ArchR Methods – Marker Peak Identification with Annotation Enrichment** part, it says

What does this mean? How are the biases *matched*?

The documentation corresponding to `getMarkerFeatures()` in Section 7.2 only says it rescales biases and picks nearest out-of-cluster cell for each cell.

Did I get it wrong or the documentation missed this part?

I have noticed relat

[2021-01-13 03:14] SaskiaFreytag commented on #488
The same error happens in the tutorial dataset. It also happens when I set the threads=1. I have attached the log files.
[ArchR-addGeneIntegrationMatrix-d6b95e5dc68c-Date-2021-01-13_Time-11-00-30.log](https://github.com/GreenleafLab/ArchR/files/5806176/ArchR-addGeneIntegrationMatrix-d6b95e5dc68c-Date-2021-01-13_Time-11-00-30.log)
[ArchR-addGeneIntegrationMatrix-d6b948fed17f-Date-2021-01-13_Time-11

[2021-01-13 15:34] rcorces commented on #488
I understand your original post now. Currently, you cannot include `features` as an additional argument to this function via the `...` because this function is (by default) using the most variable genes.
https://github.com/GreenleafLab/ArchR/blob/2f022a448d8248a0f9afb33419bcbaeafe7731c0/R/RNAIntegration.R#L441
So because you are trying to separately specify the `features`, this argument is being p

[2021-01-13 15:54] laiyiwei commented on #394
**I was encuntering this error when I tried to do the same thing:**

Error in plotEmbedding(ArchRProj = proj colorBy = "GeneScoreMatrix", highlightCells = c(rownames(proj)[proj$group ==  :
  Not all cells in embedding are present in ArchRProject!

I guess this error was generated by subseting, which the embedding of the project was not subset properly.

[2021-01-13 16:19] rcorces commented on #490
I'm not sure I know how to explain this better than what is already present in Section 7.2.
You tell ArchR which parameters to match and it finds background cells that are as closely matched as possible for those parameters.

[2021-01-13 16:40] rcorces commented on #489
hmmm. It sounds like you are saying that your error is from the `ComplexHeatmap::draw()` function (not from ArchR)? This seems like it is likely a resolution issue or something similar. I would suggest messing with the `raster` related parameters of `ComplexHeatmap::draw()` such as `use_raster`, `raster_device` or `raster_quality`. Since this is not an error with ArchR, I'm closing this but feel f

[2021-01-13 16:40] #489 closed

[2021-01-13 17:44] jindalk opened #491 "Error in addArchRAnnotations"
Hi, I ran the following code to add EncodeTFBS data to my object:

`proj_lsk4 <- addArchRAnnotations(ArchRProj = proj_lsk4, collection = "EncodeTFBS")
`

and got this error:

`Error in as.character.default(x) : no method for coercing this S4 class to a vector`

Upon further investigation, the issue to me seems to be in addArchRAnnotations function, specifically the following section of code:

`gen

[2021-01-13 23:46] SaskiaFreytag commented on #488
I think my rational for using specific features was mainly to see how the behaviour would change.  We have done a lot of work in identifying variable features in the scRNA-seq and I wanted to see whether just using these would meaningfully change results.

[2021-01-14 04:42] rcorces commented on #491
Thanks for pointing this out. I haven't reproduced this myself but it looks like you are right. This is related to a recent change referenced in #416
I think your assessment is correct but because of changes to BSgenome I'm not sure the solution is correct.

This is the functionality that we want:
[code]
From this line - https://github.com/GreenleafLab/ArchR/blob/3321710bd5eea119596a7d8c6daf943de4

[2021-01-14 04:42] #491 closed

[2021-01-14 04:44] rcorces commented on #416
@jgranja24 - As mentioned in #491, there looks to be a typo in the fix to `addArchRAnnotations()`. I've summarized my interpretation below.

This is the functionality that we want (implemented in `createGenomeAnnotation()`:
[code]
From this line - https://github.com/GreenleafLab/ArchR/blob/3321710bd5eea119596a7d8c6daf943de4538b0b/R/AnnotationGenome.R#L45

So I think we need to change this line:
ht

[2021-01-14 08:54] ccruizm commented on #478
Hello @jgranja24. I am puzzled by the issue. Sometimes works fine and others show the error. I am not able to reproduce it everytime, so I will close this up. Thanks!

[2021-01-14 08:54] #478 closed

[2021-01-14 13:48] zhijunyuu opened #492 "Error occurs when running addReproduciblePeakSet()"
**Attach your log file**
[ArchR-addReproduciblePeakSet-ef5e40415715-Date-2021-01-14_Time-12-24-41.log](https://github.com/GreenleafLab/ArchR/files/5814697/ArchR-addReproduciblePeakSet-ef5e40415715-Date-2021-01-14_Time-12-24-41.log)

**Describe the bug**
Hello ArchR people, many thanks for this nice tool.
I meet the error when I use addReproduciblePeakSet() to call peaks:
[code]

This is the error:

[2021-01-14 13:59] wusuowei60 commented on #490
Okay then that is clear for me. Thank you~

[2021-01-14 13:59] #490 closed

[2021-01-14 15:40] rcorces commented on #492
I'm not sure about this one. I thought we had fixed this but maybe it has something to do with including spaces in your group names?

Can you confirm that the tutorial code and data work on your setup for `addReproduciblePeakSet()`

Are there files in this directory and do they have anything in them?
`/hpc/pmc_stunnenberg/Zhijun/projects/202101/12/ArchR_output/PeakCalls/ReplicateCalls/`

[2021-01-14 16:05] zhijunyuu commented on #492
Thanks for the quick reply.
I was also wondering the space maybe the problem, I will use the removed one for a try.

I am running the tutorial now, but meet the error in addUMAP which I didn't meet when running my own data, that's a bit weird.
[code]

There are files in this directory and they do have something in them
[code]

[2021-01-14 16:14] rcorces commented on #492
This was addressed in #424
Its caused by a change in the more recent versions of `uwot`. You can either downgrade your `uwot` install or upgrade your ArchR install to the development release `1.0.1`

devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.1", repos = BiocManager::repositories())

[2021-01-14 19:24] ccruizm opened #493 "Error plotting footprint"
Good day,

I am not able to plot the footprint of a subset of cluster I have on my data. I get the footprints:
[code]
and using `plot footprints`:
[code]
Here the log file:
[ArchR-plotFootprints-c17a1c0c1c5b-Date-2021-01-14_Time-20-21-03.log](https://github.com/GreenleafLab/ArchR/files/5816557/ArchR-plotFootprints-c17a1c0c1c5b-Date-2021-01-14_Time-20-21-03.log)

I first subset the clusters. rename

[2021-01-14 19:24] ccruizm opened #494 "Error plotting footprint"
Good day,

I am not able to plot the footprint of a subset of cluster I have on my data. I get the footprints:
[code]
and using `plot footprints`:
[code]
Here the log file:
[ArchR-plotFootprints-c17a1c0c1c5b-Date-2021-01-14_Time-20-21-03.log](https://github.com/GreenleafLab/ArchR/files/5816557/ArchR-plotFootprints-c17a1c0c1c5b-Date-2021-01-14_Time-20-21-03.log)

I first subset the clusters. rename

[2021-01-14 19:25] #494 closed

[2021-01-15 01:57] rcorces commented on #493
I'm not 100% clear on what you've done and where the error is coming from. In order to figure out if this is a bug or something user-specific, can you reproduce your error using the tutorial dataset and share the code used to reproduce the error?

[2021-01-15 16:05] rojinsafavi commented on #416
Hi @rcorces , is this fixed now?

[2021-01-15 16:38] rcorces commented on #416
The fix to `addArchRAnnotations()` has not yet been implemented.
@jgranja24

[2021-01-15 17:21] rojinsafavi opened #495 "Sparse.Assays.Matrix"
Hello! I am trying to plot the Z score (chromVAR output), but I get the following error.

[code]

[code]

[2021-01-15 17:31] rcorces commented on #495
Hi @rojinsafavi - `seqnames` is not an argument to `plotEmbedding()`. Because the `MotifMatrix` is a `Sparse.Assays.Matrix`, we need to extract the appropriate information from it before running `plotEmbedding()`. See the tutorial - https://www.archrproject.com/bookdown/motif-deviations.html

[2021-01-15 17:31] #495 closed

[2021-01-15 22:43] rojinsafavi opened #496 "getVarDeviations"
It would be nice if we could show specific motifs on the variation plot instead of the first N motifs :)

`plotVarDev <- getVarDeviations(projHeme5, name = "MotifMatrix", plot = TRUE)`

[2021-01-15 23:12] rcorces commented on #496
Thanks for the suggestion. I think our intention was that you would set `plot = FALSE`, manually retrieve the data that you want from the returned data frame, and plot it manually using `ggplot`. Please close if this works for what you need.

[2021-01-15 23:35] #496 closed

[2021-01-16 13:03] NinaJiangL opened #497 "error in addUMAP in R 4.0.3"
hi all,
I still have an error when trying to use addUMAP this function. I couldnt installed uwot 0.1.8 it said permission denied and I still had the error when tring run addUMAP :Error in model$nn_index$save(nn_tmpfname) : attempt to apply non-function. my R is 4.0.2

Any ideas how it work?
Thanks

[2021-01-16 15:04] rcorces commented on #497
The fix to this is posted in #424
To fix this error, install the development version of ArchR and restart R / reload ArchR

`devtools::install_github("GreenleafLab/ArchR", ref="release_1.0.1", repos = BiocManager::repositories())`

[2021-01-16 15:04] #497 closed

[2021-01-18 13:50] NinaJiangL opened #498 "cant plot heatmap"
hi,
I am trying to plot heatmap after identifying the marker genes, but the error shows that it can not start the png()
here is my code that I followed from the tutorial :

markersGS <- getMarkerFeatures(
  ArchRProj = projHeme2,
  useMatrix = "GeneScoreMatrix",
  groupBy = "Clusters",
  bias = c("TSSEnrichment", "log10(nFrags)"),
  testMethod = "wilcoxon"
)
###getmarkers()from summarzied Experime

[2021-01-18 14:15] zhijunyuu commented on #492
I upgraded ArchR to ```1.0.1```

And I tried the tutorial code, but I got the same error:

[code]

Seems it's not the problem of the spaces in the cluster names, but some systematic problems.

Log file:

[ArchR-addReproduciblePeakSet-176932a95a523-Date-2021-01-18_Time-14-35-13.log](https://github.com/GreenleafLab/ArchR/files/5830650/ArchR-addReproduciblePeakSet-176932a95a523-Date-2021-01-18_Time-1

[2021-01-18 15:10] rcorces commented on #498
hmmm. This is the same thing as #489
@NinaJiangL - what version of ArchR are you on? If you are on v1.0.1, can you try this with the stable v1.0.0?

@jgranja24 - either this has to do with some change to `ComplexHeatmap` (unlikely) or with the change implemented in `.checkCairo()` recently.

[2021-01-18 15:17] rcorces commented on #492
what version of macs2 are you running?
`/hpc/pmc_stunnenberg/Zhijun/miniconda3/bin/macs2 --version`

[2021-01-18 15:25] zhijunyuu commented on #492
it's ```macs2 2.2.7.1```

[2021-01-18 15:46] rcorces commented on #492
ok thats definitely not the problem then. Sorry - I'm not sure what is the problem but hopefully we can figure it out.
are there any files in this folder after the error?
`/hpc/pmc_stunnenberg/Zhijun/projects/202101/18/HemeTutorial/PeakCalls/InsertionBeds/`

[2021-01-18 16:09] zhijunyuu commented on #492
No, I don't have any files in that folder after the error.

[2021-01-18 19:21] jgranja24 commented on #409
This is now fixed --
[code]

[2021-01-18 19:21] #409 closed

[2021-01-18 20:55] rcorces commented on #492
have you run `addGroupCoverages()`? This is a prerequisite for peak calling

[2021-01-19 06:26] cnk113 opened #499 "Error in addgeneexpressionmatrix for multimodal 10x"
[ArchR-addGeneExpressionMatrix-27cd6ce94d9b-Date-2021-01-18_Time-22-16-01.log](https://github.com/GreenleafLab/ArchR/files/5834011/ArchR-addGeneExpressionMatrix-27cd6ce94d9b-Date-2021-01-18_Time-22-16-01.log)
[code]
I'm following the [tutorial](https://greenleaflab.github.io/ArchR_2020/Ex-Analyze-Multiome.html), specifically up to the part of loading the gene expression from the cellranger output.

[2021-01-19 07:58] zhijunyuu commented on #492
Yes, that's making Pseudo-bulk Replicates step.

[2021-01-19 14:26] cschmidl opened #500 "HDF5 error in addGeneIntegrationMatrix"
Dear Archers,

I run into problems with the function addGeneIntegrationMatrix which gives the following error:

ArchR logging to : ArchRLogs/ArchR-addGeneIntegrationMatrix-13a493e8b0b4b-Date-2021-01-19_Time-15-14-08.log
If there is an issue, please report to github with logFile!
2021-01-19 15:14:08 : Running Seurat's Integration Stuart* et al 2019, 0.001 mins elapsed.
2021-01-19 15:14:09 : Checkin

[2021-01-19 16:25] GregorySchwartz opened #501 "Add way to start process from only a peak matrix"
I have some data that is processed and presented as a peak matrix. It would be quite useful to use this peak matrix as the starting point in ArchR. Is it possible to add this feature, without needing the BAM / fragment file?

[2021-01-19 16:56] rargelaguet commented on #483
I found the source of this error.

Before `getMarkerFeatures` I subset cells in the the ArchR project. Then, inside `getMarkerFeatures` the variable `mColSums` is calculated using all cells in the ArrowFile:
[code]
which leads to NAs when doing:
[code]

A simple fix would be to subset `mColSums` with the cells obtained when using `getCellColData`.

Let me know if this is not clear. Hope my answer

[2021-01-19 18:12] rcorces commented on #483
Thanks for tracking this down. @jgranja24 - can you take a look?

[2021-01-19 18:16] rcorces commented on #501
This is a longer term goal for us. I agree that it would be useful but its quite difficult to actually implement since there are so many aspects of an ArchRProject that arent captured by a simple peak matrix. I do not see this feature being implemented in the near term but hopefully one day,

[2021-01-20 00:19] rojinsafavi opened #502 "pairwise motif enrichment analysis"
Hello,

I am interested in a pairwise motif enrichment. But the result is a bit odd.
the enriched motifs in Cluster 5 are

[code]
![image](https://user-images.githubusercontent.com/19545198/105109402-55125080-5a71-11eb-88b7-146169e25fbb.png)

and this is the browser

![image](https://user-images.githubusercontent.com/19545198/105109483-796e2d00-5a71-11eb-97e7-a839c21e9180.png)

![image](https://us

[2021-01-20 01:39] #502 closed

[2021-01-20 05:07] rcorces commented on #500
I'm not sure I know how to solve this one. Does this happen with all or your projects or is it just this particular project?

[2021-01-20 05:26] rcorces commented on #492
Maybe @jgranja24 has thoughts?

[2021-01-20 05:31] rcorces commented on #499
You are getting the above errors when following the tutorial code using the tutorial dataset or using your own datasets?
If you are using the tutorial data, can you post the commands that you are using?

[2021-01-20 05:38] cnk113 commented on #499
This is my own dataset. But the commands are pretty much identical to the tutorial.

[2021-01-20 09:43] xz333 opened #503 "Error in addDeviationsMatrix"
Before you submit this issue please update ArchR to the latest version and make sure that this issue has not already been fixed in the latest release. ArchR is in *beta* and we will fix problems as they arise. To update ArchR:

devtools::install_github("GreenleafLab/ArchR", ref="master", repos = BiocManager::repositories())

If your issue persists, then please submit this bug report.

PLEASE FILL

[2021-01-20 09:43] #503 closed

[2021-01-20 15:17] rcorces commented on #499
My assumption is that your gene expression data must not be in the correct format. The error you are getting is quite opaque though. If that is the case, then we should figure out how to throw a more informative error.

[2021-01-21 01:13] xz333 opened #504 "Error in addDeviationsMatrix"
[ArchR-addDeviationsMatrix-1788a61a09cea-Date-2021-01-14_Time-17-53-59.log](https://github.com/GreenleafLab/ArchR/files/5846152/ArchR-addDeviationsMatrix-1788a61a09cea-Date-2021-01-14_Time-17-53-59.log)

Hi
I generated some subclusters through the subsetArchRProject() command and saved them, and then some subclusters will have this error when running addDeviationsMatrix:
2021-01-14 22:00:20 : mk2_

[2021-01-21 04:12] rcorces commented on #504
In the future, please use the provided issue templates to open an issue.

First - If you would like assistance with your error, please try to recapitulate this error with the tutorial dataset. If you are able to recapitulate the error, please post the code to do so.
Second - If you cannot recapitulate the error, please provide the commands you used to subset your project and add deviations. As is,

[2021-01-21 05:50] xz333 commented on #504
Thanks for your answer, I used the same code to run the tutorial dataset successfully，not only that, some of my subclusters can run successfully, but some subclusters report errors mentioned above.
This is my code to generate subclusters:

projs = subsetArchRProject(proj, cells = proj4$cellNames[proj4$rcelltype %in% sub], outputDirectory ="")

this is my code to run addDeviationsMatrix:
proj4 = lo

[2021-01-21 15:10] rcorces commented on #504
Can you try saving to a different output directory (a clean new directory)?

[2021-01-21 22:38] sylestiel opened #505 "Fixing Y-axis Range"
Is there a way to set the Y axis range in the P2G links plot so has to draw comparisons between the same gene coordinate processed separately?

[2021-01-21 22:42] Brawni opened #506 "subsetArchRProject copying only Arrow files"
Hello ArchR folks!

The function subsetArchRProject copies all the folders and files from the main ArchR project folder to the new subset one. This to me seems unnecessary as you often don't need many of the files from the main project.
Would it be possible to add an argument to the function to copy only the arrow files in the new folder?
Also by keeping the reproduciblePeaks files from main proje

[2021-01-22 00:19] #505 closed

[2021-01-22 01:19] xz333 commented on #504
Yeah, I created a new output and saved subclusters.
I found the problem. The  arrow file  report error has only one cell ( Monkey_6L_2_3 (72 of 107) ). Arrow files containing multiple cells will not report an error.
Currently I will try to delete these single cells and run again.
Thank you for your help.

[2021-01-22 01:31] yding9 opened #507 "Problem with import10xFeatureMatrix"
Hi Jeffrey and Ryan,

Thank you so much for developing this wonderful tool and we are actively using it for 10X scATAC-seq and multiome analysis. I'm following https://greenleaflab.github.io/ArchR_2020/Ex-Analyze-Multiome.html for multiome analysis.

In the past, I had issues with import10xFeatureMatrix with 2 libraries, and it seems like for some reason the Reduce("cbind") function didn't work. S

[2021-01-22 03:59] rcorces commented on #504
Thanks @xz333 for figuring this out. @jgranja24 - seems like this edge case should be handled differently. I'll leave this issue open until we post a solution.

[2021-01-22 04:49] rcorces commented on #507
Sorry if I'm not understanding but my assumption is that whatever workaround you implemented is not generating a correctly formatted `seRNA` object.

I think its worth exploring **why** the `Reduce("cbind", featureMats)` step fails because this is likely a problem with your initial input.

Are you able to successfully run the code from the multiome tutorial with the provided tutorial data? If so,

[2021-01-22 08:37] zhijunyuu commented on #492
The problem solved, it's not a bug from ArchR.  It's because the singularity and macs2 I used were not under the same environment.

[2021-01-22 08:46] NinaJiangL commented on #492
hi I am having the similar problem with addReproduciblePeakSet.
I am using "Tiles" for peaks calling instead of using findMacs2 as I am running ArchR on a window-base system (can not install Masc2)
I am running the tutorial file and code :
projHemeTmp <- addReproduciblePeakSet(
  ArchRProj = projHeme4,
  groupBy = "Clusters2",
  peakMethod = "Tiles",
  method = "p"
)
but the error occurs:
ArchR lo

[2021-01-22 15:11] rcorces commented on #492
@zhijunyuu - glad this is solved. my original intuition was that there was a problem with macs2 so that makes sense to me. Thanks for letting us know

@NinaJiangL - sorry but we arent currently supporting windows. There are too many bugs and not a large enough user base for this to be a priority at the moment. I'll make this more clear on the website in a future update.

[2021-01-23 12:38] NinaJiangL commented on #440
hi,
I am having a error when for using peakMethod = "Tiles", and
here is my code :
projHemeTmp <- addReproduciblePeakSet(
  ArchRProj = projHeme4,
  groupBy = "Clusters2",
  peakMethod = "Tiles",
  method = "p"
)
I keep getting errors :
Error in gzfile(file, mode) : cannot open the connection
In addition: Warning message:
In gzfile(file, mode) :
  cannot open compressed file 'C:\Users\A\Documents\

[2021-01-23 13:29] rcorces commented on #440
@NinaJiangL - as I mentioned on the other thread, we cannot support Windows at this time and cannot dedicate any effort to solving issues from Windows users. Sorry for the inconvenience.

[2021-01-23 18:27] jgranja24 commented on #504
Hmm @rcorces ill look at possible places where the matrix could be dropping.

[2021-01-23 22:03] jgranja24 commented on #504
This is now fixed! ---

[code]

[2021-01-24 03:46] yding9 commented on #507
Hi Ryan,

Thank you for getting back to me quickly! It's also a puzzle to me that the Reduce("cbind", featureMats) step fails inside the import10xFeatureMatrix function.

1) "Error in .cbind.SummarizedExperiment(args) : '...' object ranges (rows) are not compatible" is caused by my input when one gene's ranges, id, and intervals don't match in the GRange objects between libraries. I will work with

[2021-01-24 08:54] Dragonlongzhilin opened #508 "why the row"

[2021-01-24 08:55] #508 closed

[2021-01-24 09:03] Dragonlongzhilin opened #509 "why the column sum of TF PPM matrix not equal to 1?"
I used the cisbp database to do motif enrichment analysis. And I checked the PWMatrix and converted it to PPM matrix with the following command:
PWMatrixToProbMatrix <- function(x){
if (class(x) != "PWMatrix") stop("x must be a TFBSTools::PWMatrix object")
(2^as(x, "matrix"))*TFBSTools::bg(x)/sum(TFBSTools::bg(x))
}

I found the sum of each column not equal to 1. why? I don't know the reason.
For